# New York City Taxi Trip Duration

#### Share code and data to improve ride time predictions

* 최정혁
* 김경윤
* 심호섭

In [1]:
import numpy as np
import scipy as sp
import sympy as sm
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
hello = np.array(list('hello world!')).reshape(12, 1)
pd.DataFrame(hello, columns=['letters'])

   letters
0        h
1        e
2        l
3        l
4        o
5
6        w
7        o
8        r
9        l
10       d
11       !