In [16]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [17]:
# csv 읽어들일 때 사용할 변수들 정의

# train.csv에서 dropoff_datetime 빼고 저장
cols_list = ['pickup_datetime', 'passenger_count', \
             'pickup_longitude', 'pickup_latitude', \
             'dropoff_longitude', 'dropoff_latitude',\
             'trip_duration']
# train.csv에서 dropoff_datetime 포함 저장
cols_list2 = ['pickup_datetime', 'dropoff_datetime', \
             'passenger_count', \
             'pickup_longitude', 'pickup_latitude', \
             'dropoff_longitude', 'dropoff_latitude', \
             'trip_duration']
# test.csv에서 저장
cols_test = ['pickup_datetime', 'passenger_count', \
             'pickup_longitude', 'pickup_latitude', \
             'dropoff_longitude', 'dropoff_latitude']

# cols_list 용
short_cols = ['p_dt', 'pas', 'p_lng', 'p_lat', 'd_lng', 'd_lat', 'dur']
# cols_list2 용
short_cols2 = ['p_dt', 'd_dt', 'pas', 'p_lng', 'p_lat', 'd_lng', 'd_lat', 'dur']
# cols_test 용
short_test = ['p_dt', 'pas', 'p_lng', 'p_lat', 'd_lng', 'd_lat']

In [18]:
# 경로 변수 (고정)

dataLoc = '../_data/'
trainfile = 'train.csv'
testfile = 'test.csv'

In [19]:
# train.csv
# dropoff_datetime을 뺄 경우: usecols=cols_list, .columns=short_cols
# dropoff_datetime을 넣을 경우: usecols=cols_list2, .columns=short_cols2

# train.csv (날짜 대충 읽는 버전, 빠름)
taxi_df = pd.read_csv(dataLoc + trainfile, usecols=cols_list)
taxi_df.columns = short_cols
taxi_df.head()

# train.csv (날짜 제대로 읽어오는 버전, 오래걸림)
# taxi_df = pd.read_csv(dataLoc + trainfile, \
#                       usecols=cols_list, \
#                       infer_datetime_format=True, \
#                       # dropoff 포함할 경우 아래 리스트에 'dropoff_datetime'도 추가
#                       parse_dates=['pickup_datetime'])
# taxi_df.columns = short_cols
# taxi_df.head()

            p_dt  pas      p_lng      p_lat      d_lng      d_lat   dur
0  4/30/16 23:59    1 -73.987793  40.724792 -73.975616  40.656445  1454
1  4/30/16 23:59    1 -73.957596  40.717770 -73.951424  40.775230  1409
2  4/30/16 23:59    2 -74.000954  40.742031 -73.947708  40.782200  1081
3  4/30/16 23:58    1 -73.985733  40.738258 -73.993179  40.754890   800
4  4/30/16 23:58    1 -74.006615  40.740650 -73.985619  40.723362  1151

In [20]:
# test.csv (날짜 대충 읽는 버전, 빠름)
test_df = pd.read_csv(dataLoc + testfile, usecols=cols_test)
test_df.columns = short_test
test_df.head()

# test.csv (날짜 제대로 읽어오는 버전, 오래걸림)
# test_df = pd.read_csv(dataLoc + testfile, \
#                       usecols=cols_test, \
#                       infer_datetime_format=True, \
#                       parse_dates=['pickup_datetime'])
# test_df.columns = short_test
# test_df.head()

            p_dt  pas      p_lng      p_lat      d_lng      d_lat
0  6/30/16 23:59    5 -73.998291  40.722618 -73.971779  40.762470
1  6/30/16 23:59    2 -73.955109  40.689564 -73.978203  40.685802
2  6/30/16 23:59    1 -73.978416  40.791576 -73.973160  40.675968
3  6/30/16 23:59    2 -73.873093  40.774097 -73.926704  40.856739
4  6/30/16 23:58    1 -73.979416  40.755211 -74.003548  40.738224

In [9]:
np.percentile(taxi_df['p_lat'], 0)

-78.547401429999994

In [11]:
taxi_df.shape

(701778, 7)

In [22]:
taxi_df[ taxi_df['p_lat'] > 40.7 ]

                 p_dt  pas      p_lng      p_lat      d_lng      d_lat   dur
0       4/30/16 23:59    1 -73.987793  40.724792 -73.975616  40.656445  1454
1       4/30/16 23:59    1 -73.957596  40.717770 -73.951424  40.775230  1409
2       4/30/16 23:59    2 -74.000954  40.742031 -73.947708  40.782200  1081
3       4/30/16 23:58    1 -73.985733  40.738258 -73.993179  40.754890   800
4       4/30/16 23:58    1 -74.006615  40.740650 -73.985619  40.723362  1151
5       4/30/16 23:58    2 -73.997253  40.719234 -73.993835  40.762051  1619
6       4/30/16 23:58    1 -73.994537  40.753037 -73.961098  40.687229  2209
7       4/30/16 23:58    1 -73.873055  40.774086 -74.006378  40.738487  2458
8       4/30/16 23:58    2 -73.980354  40.780540 -73.943390  40.835976  1584
10      4/30/16 23:58    1 -73.997414  40.720810 -74.004639  40.716228   157
11      4/30/16 23:58    1 -73.991425  40.755684 -74.004173  40.742432   543
12      4/30/16 23:57    1 -73.995796  40.759224 -74.004059  40.751831   262
13      4/30/16 23:57    2 -73.999809  40.738419 -73.983452  40.726234   729
14      4/30/16 23:57    1 -73.977127  40.764839 -73.947075  40.788002   555
15      4/30/16 23:57    1 -73.954880  40.777550 -73.977333  40.779507   408
16      4/30/16 23:57    1 -73.990631  40.750858 -73.933937  40.797749  1535
17      4/30/16 23:57    1 -73.980057  40.763515 -74.000664  40.747543   838
18      4/30/16 23:57    1 -74.006508  40.709660 -74.000313  40.728634   645
20      4/30/16 23:57    1 -73.981857  40.759701 -73.960411  40.814053  1008
21      4/30/16 23:56    1 -73.994736  40.721275 -74.007851  40.711308   528
22      4/30/16 23:56    2 -73.998253  40.724869 -73.989700  40.717331   577
23      4/30/16 23:56    1 -73.971642  40.765297 -73.958565  40.764175   575
24      4/30/16 23:56    1 -73.950447  40.826649 -73.907410  40.870121   489
25      4/30/16 23:56    1 -73.988785  40.760021 -73.984917  40.768349   458
26      4/30/16 23:56    1 -73.952049  40.777157 -73.981895  40.762691   913
27      4/30/16 23:55    1 -73.996849  40.724922 -73.943161  40.681835  1430
28      4/30/16 23:55    5 -73.960503  40.769951 -73.944504  40.783039   294
29      4/30/16 23:55    1 -74.000504  40.728661 -73.985222  40.733398   735
30      4/30/16 23:54    1 -73.950508  40.779629 -73.999443  40.731361  1463
31      4/30/16 23:54    2 -73.962891  40.794445 -73.964981  40.766586   610
...               ...  ...        ...        ...        ...        ...   ...
701746    1/1/16 0:09    1 -73.971596  40.766167 -73.968010  40.752632   443
701747    1/1/16 0:08    1 -73.976120  40.749081 -74.007446  40.726452   847
701748    1/1/16 0:08    1 -73.982407  40.731487 -73.979034  40.736012    87
701749    1/1/16 0:08    4 -73.987762  40.750374 -74.004219  40.742420   685
701750    1/1/16 0:08    6 -73.971870  40.758404 -73.967918  40.757870   386
701751    1/1/16 0:08    1 -73.873039  40.774105 -73.988998  40.734817  1012
701752    1/1/16 0:08    2 -73.992188  40.734520 -73.991173  40.765491  1311
701753    1/1/16 0:07    3 -73.953644  40.775261 -73.979088  40.761784   597
701754    1/1/16 0:07    1 -73.982262  40.751591 -73.985146  40.738720   383
701755    1/1/16 0:07    1 -73.988312  40.723186 -73.942604  40.716156   944
701757    1/1/16 0:07    2 -73.986267  40.732769 -73.960983  40.760990   603
701758    1/1/16 0:07    1 -73.978523  40.789101 -73.946381  40.776901   659
701759    1/1/16 0:06    1 -73.994957  40.745121 -73.954659  40.778782  1512
701760    1/1/16 0:06    1 -73.935799  40.707310 -73.933060  40.709480    61
701761    1/1/16 0:06    1 -73.990463  40.751007 -73.992767  40.725357   608
701762    1/1/16 0:05    3 -74.005318  40.728661 -73.997162  40.720631   468
701763    1/1/16 0:05    1 -73.990135  40.748852 -73.956535  40.775665   728
701764    1/1/16 0:05    1 -73.959511  40.762810 -73.968391  40.770519   287
701765    1/1/16 0:05    1 -73.990257  40.737034 -73.928085  40.757893  1318
701766    1/1/16 0:04    2 -73.993973  40.740868 -73.988556  40.764782  1071
701768    1/1/16 0:03    1 -73.969788  40.757584 -73.951576  40.759445   770
701769    1/1/16 0:02    1 -73.993736  40.741760 -74.004669  40.745468   445
701770    1/1/16 0:02    1 -73.985443  40.735710 -73.957489  40.811611  1310
701771    1/1/16 0:01    1 -73.973335  40.764072 -73.974854  40.761734   114
701772    1/1/16 0:01    2 -73.993103  40.752632 -73.953903  40.816540  1204
701773    1/1/16 0:01    1 -73.982292  40.751331 -73.991341  40.750340   280
701774    1/1/16 0:01    5 -73.965279  40.801041 -73.947479  40.815170   408
701775    1/1/16 0:01    1 -73.970108  40.759800 -73.989357  40.742989   736
701776    1/1/16 0:00    5 -73.981743  40.719158 -73.938828  40.829182   849
701777    1/1/16 0:00    1 -73.985085  40.747166 -73.958038  40.717491  1294

[678487 rows x 7 columns]