#### train process
1. import csv to df
1. process df to be modelable
  1. add variables
    * dow (cat - 7 vars)
    * hr (cat - 24 vars)
        * pair dow with hr?
    * slow_day (cat - 0, 1)
    * fast_day (cat - 0, 1)
    * L2
        * log L2?
    * google_dist (needs id?)
    * weather (needs datetime?)
1. model
1. use cooksd + fox criterion to identify outliers
1. filter outliers and make new df

## * need to drop outliers

## * 아래 2칸 실행

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [8]:
# 경로 변수 (고정)

dataLoc = '../_data/'

trainfile = 'train_03_997.csv'
old_trainfile = 'train.csv'
kaggle_trainfile = 'train_k.csv'

testfile = 'test_clean.csv'
old_testfile = 'test.csv'

train_171016 = '171016_dow_hr_pas_L2_dur_only.csv'
train_osrm = '../_data/train_with_osrm.csv'
train_osrm_weather = '../_data/train_with_osrm_and_weather.csv'
train_osrm_weather_hourly = '../_data/train_with_osrm_and_weather_hourly.csv'
train_dropped_nan_fixed = '../_data/train__dropped__no_disaster_nan_fixed.csv'
train_added_airps_blizz = '../_data/train__dropped__lnglat_saved__airports.csv'
train_latest = train_added_airps_blizz

## `train__dropped__lnglat__saved__no_disaster_nan_fixed` (전처리 전)

In [1]:
pd.options.display.max_columns = 40

In [13]:
# train_with_osrm_and_weather.csv
df_train = pd.read_csv(dataLoc + trainfile)
df_train.head()

                  p_dt  pas      p_lng      p_lat      d_lng      d_lat   dur
0  2016-04-30 23:59:00    1 -73.987793  40.724792 -73.975616  40.656445  1454
1  2016-04-30 23:59:00    1 -73.957596  40.717770 -73.951424  40.775230  1409
2  2016-04-30 23:59:00    2 -74.000954  40.742031 -73.947708  40.782200  1081
3  2016-04-30 23:58:00    1 -73.985733  40.738258 -73.993179  40.754890   800
4  2016-04-30 23:58:00    1 -74.006615  40.740650 -73.985619  40.723362  1151

In [22]:
df_train[df_train['dur'] == 211].head(60)

,p_dt,pas,p_lng,p_lat,d_lng,d_lat,dur
1667,2016-04-30 19:18:00,2,-73.989998,40.757381,-73.986946,40.761097,211
1796,2016-04-30 18:55:00,1,-73.966232,40.794380,-73.975975,40.785584,211
3806,2016-04-30 12:28:00,1,-73.968399,40.796822,-73.967171,40.806973,211
5332,2016-04-30 03:07:00,1,-73.978600,40.736927,-73.978401,40.745975,211
7282,2016-04-29 21:03:00,3,-73.957642,40.816349,-73.950500,40.826191,211
9800,2016-04-29 13:10:00,1,-73.987938,40.779511,-73.982254,40.775135,211
9943,2016-04-29 12:36:00,2,-74.004242,40.747726,-74.007172,40.753029,211
11165,2016-04-29 08:25:00,1,-73.966965,40.757042,-73.972450,40.752716,211
13052,2016-04-28 21:56:00,1,-73.993637,40.743313,-74.007362,40.748592,211
15859,2016-04-28 13:15:00,3,-74.009155,40.719284,-74.007568,40.727283,211
18150,2016-04-28 00:37:00,1,-73.993813,40.751354,-73.992485,40.761703,211
20771,2016-04-27 15:55:00,1,-73.968102,40.800503,-73.972992,40.793289,211
24113,2016-04-26 22:37:00,1,-73.993546,40.741638,-74.001900,40.740555,211
25513,2016-04-26 18:52:00,1,-73.992607,40.748379,-73.992538,40.738918,211
25660,2016-04-26 18:31:00,2,-74.004898,40.723316,-73.996986,40.737118,211
26249,2016-04-26 16:33:00,6,-73.942047,40.794621,-73.937492,40.802719,211
28483,2016-04-26 08:02:00,5,-74.002075,40.747452,-73.995178,40.749805,211
31718,2016-04-25 14:50:00,3,-73.981148,40.737373,-73.985161,40.736137,211
33573,2016-04-25 07:26:00,1,-73.901985,40.770016,-73.909485,40.770077,211
34070,2016-04-25 00:35:00,3,-73.971802,40.794411,-73.964592,40.802521,211
35028,2016-04-24 20:05:00,4,-73.986069,40.743301,-73.979240,40.752499,211
35535,2016-04-24 18:08:00,1,-73.955391,40.819931,-73.960648,40.818081,211
36607,2016-04-24 14:14:00,1,-73.982147,40.773296,-73.977661,40.784054,211
38185,2016-04-24 04:11:00,1,-73.957169,40.801773,-73.954346,40.804859,211
38443,2016-04-24 02:52:00,1,-73.992622,40.724380,-73.994186,40.719349,211
39571,2016-04-23 23:21:00,1,-73.971581,40.762527,-73.974884,40.759071,211
41094,2016-04-23 18:43:00,1,-73.991890,40.729294,-73.990707,40.734035,211
44449,2016-04-23 02:32:00,1,-73.983803,40.727089,-73.977722,40.725529,211
46234,2016-04-22 20:45:00,1,-73.997124,40.747108,-73.993271,40.756207,211
46936,2016-04-22 18:37:00,2,-73.985420,40.731770,-73.985672,40.724644,211
49104,2016-04-22 09:58:00,1,-73.971680,40.763649,-73.965714,40.768410,211
49380,2016-04-22 09:01:00,1,-73.996590,40.753273,-74.004623,40.752514,211
52457,2016-04-21 19:14:00,1,-73.981827,40.766304,-73.984535,40.763950,211
54536,2016-04-21 11:05:00,1,-73.958961,40.815117,-73.960419,40.807774,211
55424,2016-04-21 08:01:00,1,-73.976212,40.775944,-73.972382,40.783901,211
55727,2016-04-21 06:56:00,1,-73.982140,40.775852,-73.988724,40.763264,211
56760,2016-04-20 22:39:00,1,-74.004372,40.742390,-74.008247,40.735470,211
59393,2016-04-20 14:43:00,1,-73.990974,40.733856,-73.995712,40.726566,211
61391,2016-04-20 07:51:00,1,-73.957626,40.773380,-73.953506,40.781300,211
62569,2016-04-19 22:28:00,1,-73.948112,40.778801,-73.952698,40.782219,211
63526,2016-04-19 19:50:00,1,-73.990128,40.719719,-73.984894,40.728233,211
63720,2016-04-19 19:20:00,1,-73.966240,40.761791,-73.959106,40.767509,211
66098,2016-04-19 11:03:00,1,-73.986748,40.756241,-73.977051,40.752014,211
66494,2016-04-19 09:34:00,2,-74.010452,40.718426,-74.008087,40.722954,211
66576,2016-04-19 09:19:00,1,-73.974808,40.793301,-73.981422,40.781013,211
67545,2016-04-19 03:30:00,2,-73.992249,40.753620,-73.993752,40.762131,211
67631,2016-04-19 01:25:00,1,-73.979118,40.757450,-73.981781,40.763805,211
69687,2016-04-18 17:45:00,1,-73.984612,40.769691,-73.991676,40.767899,211
72057,2016-04-18 08:37:00,5,-73.990501,40.751221,-73.986107,40.739899,211
73512,2016-04-17 21:32:00,1,-73.979324,40.776615,-73.982155,40.779087,211
76917,2016-04-17 09:55:00,1,-74.005890,40.736416,-74.004074,40.727749,211
76937,2016-04-17 09:49:00,1,-73.994843,40.759991,-73.986382,40.762150,211
77602,2016-04-17 03:53:00,1,-73.985611,40.746948,-73.984894,40.739510,211
78854,2016-04-16 23:43:00,1,-73.992256,40.749424,-73.987534,40.744221,211
78962,2016-04-16 23:25:00,1,-74.004997,40.716061,-74.006226,40.707977,211
78966,2016-04-16 23:25:00,1,-73.925957,40.703354,-73.927711,40.697929,211
80819,2016-04-16 18:48:00,1,-73.976036,40.745876,-73.975456,40.752007,211
84176,2016-04-16 07:24:00,1,-73.977982,40.754639,-73.965569,40.771610,211
84900,2016-04-16 01:53:00,1,-73.957588,40.729740,-73.953117,40.744061,211
85396,2016-04-16 00:25:00,1,-73.963631,40.763474,-73.956657,40.766758,211

In [5]:
df_train.isnull().sum()

is_hol           0
m_d              0
dow              0
hr               0
L2               0
pas_cnt          0
total_dist       0
day_max_temp     0
day_min_temp     0
day_rainfall     0
day_snowfall     0
day_snowdepth    0
hr_temp          0
hr_humid         0
hr_dewpt         0
hr_windspeed     0
hr_gustspeed     0
hr_precip        0
dur1             0
dtype: int64

## rid outliers

In [6]:
# p_lng is idx2
# ...
# d_lat is idx5

df_copy = df_train.copy()

for i in range(6, 11):
    lower = np.percentile(df_train.iloc[:, i], 0.3)
    upper = np.percentile(df_train.iloc[:, i], 99.7)
    df_copy = df_copy[ (df_copy.iloc[:, i] > lower) \
                         & (df_copy.iloc[:, i] < upper) ]

df_copy.shape

(33227, 19)

In [8]:
df_copy = df_train.copy()
df_copy.shape

(683021, 19)

In [9]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur1
0,False,430,Saturday,23,0.069424,1,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,430,Saturday,23,0.057791,1,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,430,Saturday,23,0.066698,2,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,430,Saturday,23,0.018223,1,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,430,Saturday,23,0.027198,1,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [7]:
droppable_new = ['total_time', 'p_lng', 'p_lat', 'd_lng', 'd_lat']

for col in droppable_new:
    try:
        del df_copy[col]
    except:
        continue

In [8]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [12]:
model0 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(m_d) + C(dow) + C(hr) + C(pas_cnt)\
                            + scale(total_dist) + day_max_temp + day_min_temp + day_rainfall\
                            + day_snowfall + day_snowdepth + hr_temp + hr_humid + hr_dewpt\
                            + hr_windspeed + hr_gustspeed + hr_precip - 1', data=df_copy)
res0 = model0.fit()
res0.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.640
Model:                            OLS   Adj. R-squared:                  0.640
Method:                 Least Squares   F-statistic:                     7770.
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        09:57:33   Log-Likelihood:            -4.9592e+06
No. Observations:              683021   AIC:                         9.919e+06
Df Residuals:                  682864   BIC:                         9.920e+06
Df Model:                         156
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
C(is_hol)[False]      548.5046     74.206      7.392      0.000     403.063     693.946
C(is_hol)[True]       479.8965     81.349      5.899      0.000     320.456     639.337
C(m_d)[T.102]         -48.0572      6.267     -7.668      0.000     -60.341     -35.773
C(m_d)[T.103]         -35.6020      5.568     -6.395      0.000     -46.514     -24.690
C(m_d)[T.104]         -16.5902      8.318     -1.995      0.046     -32.892      -0.288
C(m_d)[T.105]          -1.8506      9.130     -0.203      0.839     -19.745      16.044
C(m_d)[T.106]         -24.6205      6.688     -3.681      0.000     -37.729     -11.512
C(m_d)[T.107]         -40.6839      5.405     -7.527      0.000     -51.277     -30.090
C(m_d)[T.108]           0.8853      7.172      0.123      0.902     -13.171      14.942
C(m_d)[T.109]         -33.6940      4.637     -7.266      0.000     -42.783     -24.605
C(m_d)[T.110]         -35.8608      3.566    -10.056      0.000     -42.850     -28.871
C(m_d)[T.111]          26.7495      7.195      3.718      0.000      12.648      40.851
C(m_d)[T.112]         -23.6380      5.138     -4.601      0.000     -33.708     -13.568
C(m_d)[T.113]          31.1839      9.678      3.222      0.001      12.215      50.153
C(m_d)[T.114]           6.6192      7.194      0.920      0.357      -7.480      20.719
C(m_d)[T.115]          13.0987      5.831      2.247      0.025       1.671      24.526
C(m_d)[T.116]         -37.4920      4.229     -8.865      0.000     -45.781     -29.203
C(m_d)[T.117]          28.2426      5.769      4.896      0.000      16.936      39.549
C(m_d)[T.118]          29.6283      6.142      4.824      0.000      17.590      41.666
C(m_d)[T.119]          81.6852      9.365      8.722      0.000      63.329     100.041
C(m_d)[T.120]          34.0887      7.575      4.500      0.000      19.242      48.935
C(m_d)[T.121]          70.7168      7.768      9.104      0.000      55.492      85.942
C(m_d)[T.122]         102.5080     12.062      8.498      0.000      78.866     126.150
C(m_d)[T.123]          -3.4033      0.969     -3.513      0.000      -5.302      -1.505
C(m_d)[T.124]        -134.6091      4.906    -27.436      0.000    -144.225    -124.993
C(m_d)[T.125]          80.5291      4.615     17.450      0.000      71.484      89.574
C(m_d)[T.126]          33.2649      5.750      5.785      0.000      21.995      44.535
C(m_d)[T.127]          44.7938      4.560      9.822      0.000      35.856      53.732
C(m_d)[T.128]          33.2846      5.128      6.490      0.000      23.233      43.336
C(m_d)[T.129]          57.1170      7.185      7.950      0.000      43.035      71.199
C(m_d)[T.130]          18.1281      4.913      3.690      0.000       8.500      27.756
C(m_d)[T.131]         -25.9881      5.248     -4.952      0.000     -36.275     -15.702
C(m_d)[T.201]         -26.2171      5.137     -5.104      0.000     -36.285     -16.150
C(m_d)[T.202]         -13.5818      4.601     -2.952      0.003     -22.600      -4.563
C(m_d)[T.203]           4.0179      4.528      0.887      0.375      -4.857      12.893
C(m_d)[T.204]         -32.5476      4.706     -6.916      0.000     -41.772     -23.323
C(m_d)[T.205]          -2.4456      7.181     -0.341      0.733     -16.520      11.629
C(m_d)[T.206]          30.6096      5.751      5.323      0.000      19.339      41.880
C(m_d)[T.207]          -6.0564      4.854     -1.248      0.212     -15.571       3.458
C(m_d)[T.208]          -2.7498      7.480     -0.368      0.713     -17.411      11.912
C(m_d)[T.209]          16.6911      7.130      2.341      0.019       2.717      30.665
C(m_d)[T.210]           7.6058      7.000      1.087      0.277      -6.114      21.326
C(m_d)[T.211]          77.2318      9.273      8.328      0.000      59.056      95.407
C(m_d)[T.212]         164.2916     13.096     12.546      0.000     138.625     189.958
C(m_d)[T.213]          93.5430     11.122      8.410      0.000      71.744     115.342
C(m_d)[T.214]         159.1050     13.908     11.440      0.000     131.846     186.364
C(m_d)[T.215]          40.3795      5.642      7.157      0.000      29.322      51.437
C(m_d)[T.216]         -13.8135      4.290     -3.220      0.001     -22.222      -5.405
C(m_d)[T.217]          21.2165      6.969      3.044      0.002       7.557      34.876
C(m_d)[T.218]          43.9950      7.810      5.633      0.000      28.687      59.302
C(m_d)[T.219]          70.1773      9.169      7.654      0.000      52.207      88.148
C(m_d)[T.220]         -27.3173      5.554     -4.919      0.000     -38.203     -16.432
C(m_d)[T.221]         -11.4571      4.644     -2.467      0.014     -20.559      -2.355
C(m_d)[T.222]          -4.7352      4.845     -0.977      0.328     -14.231       4.761
C(m_d)[T.223]          60.9732      6.251      9.755      0.000      48.722      73.224
C(m_d)[T.224]          11.1204      4.080      2.726      0.006       3.124      19.117
C(m_d)[T.225]         -48.0953      5.071     -9.484      0.000     -58.035     -38.156
C(m_d)[T.226]          87.8509      9.213      9.536      0.000      69.794     105.908
C(m_d)[T.227]          38.2383      5.454      7.011      0.000      27.548      48.928
C(m_d)[T.228]         -22.4929      5.362     -4.195      0.000     -33.002     -11.984
C(m_d)[T.229]         -32.6372      5.092     -6.410      0.000     -42.616     -22.658
C(m_d)[T.301]         -26.7135      4.505     -5.929      0.000     -35.544     -17.883
C(m_d)[T.302]         -17.5422      4.346     -4.036      0.000     -26.060      -9.024
C(m_d)[T.303]          55.2605      7.741      7.138      0.000      40.088      70.433
C(m_d)[T.304]          77.3673      9.166      8.441      0.000      59.403      95.332
C(m_d)[T.305]          43.7673      5.440      8.046      0.000      33.105      54.429
C(m_d)[T.306]          46.9963      5.303      8.862      0.000      36.602      57.391
C(m_d)[T.307]         -26.6952      5.044     -5.292      0.000     -36.582     -16.809
C(m_d)[T.308]         -52.6894      7.317     -7.201      0.000     -67.030     -38.349
C(m_d)[T.309]         -80.9121      9.260     -8.738      0.000     -99.062     -62.762
C(m_d)[T.310]         -87.3033      9.911     -8.809      0.000    -106.728     -67.879
C(m_d)[T.311]          -2.4848      4.799     -0.518      0.605     -11.891       6.922
C(m_d)[T.312]         -17.5222      5.089     -3.443      0.001     -27.496      -7.548
C(m_d)[T.313]          -6.8084      5.749     -1.184      0.236     -18.077       4.460
C(m_d)[T.314]          35.9398      4.867      7.385      0.000      26.402      45.478
C(m_d)[T.315]         -32.7258      5.014     -6.527      0.000     -42.553     -22.898
C(m_d)[T.316]         -20.9372      5.868     -3.568      0.000     -32.438      -9.437
C(m_d)[T.317]         -14.3241      5.448     -2.629      0.009     -25.002      -3.647
C(m_d)[T.318]          44.7178      4.642      9.633      0.000      35.619      53.816
C(m_d)[T.319]          18.9439      4.663      4.063      0.000       9.805      28.083
C(m_d)[T.320]          25.4226      5.537      4.591      0.000      14.570      36.276
C(m_d)[T.321]         -23.0033      5.027     -4.576      0.000     -32.857     -13.150
C(m_d)[T.322]          -5.2522      4.880     -1.076      0.282     -14.816       4.312
C(m_d)[T.323]         -48.3176      7.466     -6.472      0.000     -62.950     -33.685
C(m_d)[T.324]          -4.4005      4.372     -1.007      0.314     -12.969       4.168
C(m_d)[T.325]        -100.5150      5.754    -17.469      0.000    -111.792     -89.238
C(m_d)[T.326]         -35.7352      4.574     -7.813      0.000     -44.700     -26.770
C(m_d)[T.327]         -35.6831      4.785     -7.457      0.000     -45.062     -26.304
C(m_d)[T.328]         -45.7527      5.152     -8.880      0.000     -55.851     -35.655
C(m_d)[T.329]         -33.0491      4.747     -6.963      0.000     -42.352     -23.746
C(m_d)[T.330]          -3.7552      4.526     -0.830      0.407     -12.625       5.115
C(m_d)[T.331]         -58.8494      8.142     -7.228      0.000     -74.807     -42.892
C(m_d)[T.401]         -18.3715      7.579     -2.424      0.015     -33.226      -3.517
C(m_d)[T.402]         -15.0064      5.376     -2.791      0.005     -25.544      -4.469
C(m_d)[T.403]           9.7697      4.622      2.114      0.035       0.711      18.828
C(m_d)[T.404]          75.9630      6.097     12.459      0.000      64.013      87.913
C(m_d)[T.405]          89.2366      5.284     16.887      0.000      78.879      99.594
C(m_d)[T.406]          44.7040      4.855      9.208      0.000      35.189      54.220
C(m_d)[T.407]           0.0990      4.484      0.022      0.982      -8.690       8.888
C(m_d)[T.408]          74.9316      5.997     12.494      0.000      63.177      86.686
C(m_d)[T.409]          37.6538      5.047      7.461      0.000      27.762      47.546
C(m_d)[T.410]          46.3280      4.422     10.476      0.000      37.660      54.996
C(m_d)[T.411]         -22.1240      5.892     -3.755      0.000     -33.673     -10.575
C(m_d)[T.412]          23.1486      5.156      4.490      0.000      13.043      33.254
C(m_d)[T.413]          35.5413      4.574      7.770      0.000      26.576      44.507
C(m_d)[T.414]          23.5592      5.123      4.599      0.000      13.518      33.600
C(m_d)[T.415]          51.4319      4.326     11.890      0.000      42.954      59.910
C(m_d)[T.416]         -19.5421      7.286     -2.682      0.007     -33.822      -5.262
C(m_d)[T.417]         -41.3922      9.217     -4.491      0.000     -59.457     -23.327
C(m_d)[T.418]         -60.6416     10.643     -5.698      0.000     -81.501     -39.782
C(m_d)[T.419]         -27.2436      9.036     -3.015      0.003     -44.954      -9.534
C(m_d)[T.420]          -6.7067      6.958     -0.964      0.335     -20.345       6.931
C(m_d)[T.421]          39.2286      8.118      4.832      0.000      23.318      55.139
C(m_d)[T.422]          24.6200      7.676      3.207      0.001       9.575      39.665
C(m_d)[T.423]         -34.9086      8.262     -4.225      0.000     -51.101     -18.716
C(m_d)[T.424]         -53.8661      7.305     -7.374      0.000     -68.184     -39.548
C(m_d)[T.425]         -67.9869      6.912     -9.837      0.000     -81.534     -54.440
C(m_d)[T.426]         -52.0571      5.458     -9.538      0.000     -62.755     -41.360
C(m_d)[T.427]          -2.0172      5.328     -0.379      0.705     -12.460       8.426
C(m_d)[T.428]         -16.8360      4.678     -3.599      0.000     -26.004      -7.668
C(m_d)[T.429]          27.3639      4.535      6.034      0.000      18.476      36.252
C(m_d)[T.430]         -27.1453      6.583     -4.123      0.000     -40.049     -14.242
C(dow)[T.Monday]      -39.9442      2.829    -14.121      0.000     -45.488     -34.400
C(dow)[T.Saturday]    -18.9396      4.047     -4.680      0.000     -26.871     -11.009
C(dow)[T.Sunday]      -93.9519      3.706    -25.350      0.000    -101.216     -86.688
C(dow)[T.Thursday]     46.9546      3.033     15.482      0.000      41.010      52.899
C(dow)[T.Tuesday]      22.3852      4.065      5.507      0.000      14.418      30.352
C(dow)[T.Wednesday]    29.4638      2.997      9.830      0.000      23.589      35.339
C(hr)[T.1]            -13.9742      3.400     -4.110      0.000     -20.638      -7.310
C(hr)[T.2]            -31.4459      3.743     -8.401      0.000     -38.782     -24.110
C(hr)[T.3]            -50.9787      4.152    -12.277      0.000     -59.117     -42.840
C(hr)[T.4]           -116.6269      4.666    -24.994      0.000    -125.772    -107.481
C(hr)[T.5]           -232.7411      4.792    -48.566      0.000    -242.134    -223.348
C(hr)[T.6]           -150.8035      3.612    -41.750      0.000    -157.883    -143.724
C(hr)[T.7]             17.4074      3.127      5.567      0.000      11.278      23.537
C(hr)[T.8]            145.9000      2.995     48.707      0.000     140.029     151.771
C(hr)[T.9]            171.2616      2.970     57.657      0.000     165.440     177.083
C(hr)[T.10]           171.6781      2.978     57.642      0.000     165.841     177.516
C(hr)[T.11]           184.6666      2.946     62.679      0.000     178.892     190.441
C(hr)[T.12]           184.8731      2.925     63.210      0.000     179.141     190.606
C(hr)[T.13]           176.0460      2.946     59.755      0.000     170.272     181.820
C(hr)[T.14]           192.4273      2.951     65.209      0.000     186.644     198.211
C(hr)[T.15]           205.0095      3.005     68.228      0.000     199.120     210.899
C(hr)[T.16]           190.8361      3.072     62.127      0.000     184.816     196.857
C(hr)[T.17]           187.9276      2.975     63.159      0.000     182.096     193.759
C(hr)[T.18]           161.8352      2.861     56.568      0.000     156.228     167.442
C(hr)[T.19]            99.9599      2.840     35.202      0.000      94.394     105.525
C(hr)[T.20]            46.2183      2.847     16.235      0.000      40.639      51.798
C(hr)[T.21]            27.4527      2.837      9.678      0.000      21.893      33.013
C(hr)[T.22]            32.0635      2.858     11.220      0.000      26.463      37.664
C(hr)[T.23]            10.3796      2.938      3.532      0.000       4.620      16.139
C(pas_cnt)[T.1]      -111.8802     95.530     -1.171      0.242    -299.116      75.356
C(pas_cnt)[T.2]       -91.7322     95.535     -0.960      0.337    -278.978      95.514
C(pas_cnt)[T.3]       -88.4483     95.551     -0.926      0.355    -275.726      98.829
C(pas_cnt)[T.4]       -72.8740     95.576     -0.762      0.446    -260.199     114.451
C(pas_cnt)[T.5]      -110.3487     95.546     -1.155      0.248    -297.615      76.918
C(pas_cnt)[T.6]      -111.9634     95.556     -1.172      0.241    -299.250      75.323
scale(total_dist)     453.3921      0.420   1080.258      0.000     452.570     454.215
day_max_temp            2.9999      0.373      8.043      0.000       2.269       3.731
day_min_temp           -0.3153      0.131     -2.413      0.016      -0.571      -0.059
day_rainfall          -23.6088      2.347    -10.058      0.000     -28.209     -19.008
day_snowfall            8.4761      0.545     15.544      0.000       7.407       9.545
day_snowdepth           9.2258      0.324     28.507      0.000       8.591       9.860
hr_temp                 4.0518      0.441      9.185      0.000       3.187       4.916
hr_humid              109.7792     13.571      8.089      0.000      83.180     136.379
hr_dewpt               -2.5253      0.473     -5.340      0.000      -3.452      -1.598
hr_windspeed            0.3509      0.073      4.797      0.000       0.208       0.494
hr_gustspeed            0.1678      0.037      4.493      0.000       0.095       0.241
hr_precip              -4.5534      1.031     -4.415      0.000      -6.575      -2.532
==============================================================================
Omnibus:                   211867.796   Durbin-Watson:                   1.895
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1613158.462
Skew:                           1.287   Prob(JB):                         0.00
Kurtosis:                      10.075   Cond. No.                     1.38e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.62e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [10]:
model00 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(dow) + C(hr)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed)', data=df_copy)
res00 = model00.fit()
res00.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.636
Method:                 Least Squares   F-statistic:                 3.145e+04
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        11:08:13   Log-Likelihood:            -4.9623e+06
No. Observations:              683021   AIC:                         9.925e+06
Df Residuals:                  682982   BIC:                         9.925e+06
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              729.3389      2.437    299.230      0.000     724.562     734.116
C(is_hol)[T.True]      -94.7116      3.026    -31.298      0.000    -100.643     -88.781
C(dow)[T.Monday]       -77.8799      1.623    -48.000      0.000     -81.060     -74.700
C(dow)[T.Saturday]     -61.6634      1.501    -41.085      0.000     -64.605     -58.722
C(dow)[T.Sunday]      -136.7136      1.617    -84.529      0.000    -139.884    -133.544
C(dow)[T.Thursday]      12.6764      1.522      8.329      0.000       9.693      15.659
C(dow)[T.Tuesday]      -18.5744      1.564    -11.876      0.000     -21.640     -15.509
C(dow)[T.Wednesday]     -4.7559      1.560     -3.048      0.002      -7.814      -1.698
C(hr)[T.1]             -14.1383      3.415     -4.140      0.000     -20.831      -7.446
C(hr)[T.2]             -31.6790      3.757     -8.432      0.000     -39.042     -24.316
C(hr)[T.3]             -50.7404      4.166    -12.180      0.000     -58.905     -42.575
C(hr)[T.4]            -116.6578      4.682    -24.916      0.000    -125.834    -107.481
C(hr)[T.5]            -232.9511      4.809    -48.438      0.000    -242.377    -223.525
C(hr)[T.6]            -152.3412      3.621    -42.076      0.000    -159.438    -145.245
C(hr)[T.7]              16.9538      3.131      5.414      0.000      10.816      23.091
C(hr)[T.8]             144.9648      2.998     48.361      0.000     139.090     150.840
C(hr)[T.9]             169.8262      2.977     57.051      0.000     163.992     175.661
C(hr)[T.10]            169.1867      2.985     56.676      0.000     163.336     175.037
C(hr)[T.11]            182.0178      2.955     61.592      0.000     176.226     187.810
C(hr)[T.12]            180.9279      2.927     61.823      0.000     175.192     186.664
C(hr)[T.13]            172.1040      2.942     58.502      0.000     166.338     177.870
C(hr)[T.14]            188.6155      2.933     64.308      0.000     182.867     194.364
C(hr)[T.15]            199.1085      2.973     66.965      0.000     193.281     204.936
C(hr)[T.16]            184.9006      3.043     60.760      0.000     178.936     190.865
C(hr)[T.17]            183.2339      2.940     62.316      0.000     177.471     188.997
C(hr)[T.18]            157.9145      2.833     55.738      0.000     152.362     163.467
C(hr)[T.19]             96.3786      2.824     34.129      0.000      90.844     101.913
C(hr)[T.20]             42.9984      2.845     15.115      0.000      37.423      48.574
C(hr)[T.21]             24.7875      2.841      8.724      0.000      19.219      30.356
C(hr)[T.22]             30.2512      2.865     10.558      0.000      24.635      35.867
C(hr)[T.23]              9.4482      2.949      3.204      0.001       3.668      15.228
scale(total_dist)      453.4308      0.421   1075.964      0.000     452.605     454.257
scale(day_max_temp)      7.6542      1.212      6.316      0.000       5.279      10.029
scale(day_rainfall)     -1.1038      0.538     -2.052      0.040      -2.158      -0.050
scale(day_snowfall)      4.8695      0.474     10.273      0.000       3.940       5.798
scale(day_snowdepth)    23.2735      0.430     54.090      0.000      22.430      24.117
scale(hr_temp)           9.9026      1.234      8.025      0.000       7.484      12.321
scale(hr_humid)         -1.0193      0.511     -1.995      0.046      -2.021      -0.018
scale(hr_windspeed)      6.1075      0.436     14.023      0.000       5.254       6.961
==============================================================================
Omnibus:                   214569.748   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1631870.979
Skew:                           1.307   Prob(JB):                         0.00
Kurtosis:                      10.107   Cond. No.                         37.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
model000 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(dow) + C(hr)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1', data=df_copy)
res000 = model000.fit()
res000.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.636
Method:                 Least Squares   F-statistic:                 3.145e+04
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        11:11:08   Log-Likelihood:            -4.9623e+06
No. Observations:              683021   AIC:                         9.925e+06
Df Residuals:                  682982   BIC:                         9.925e+06
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
C(is_hol)[False]       729.3389      2.437    299.230      0.000     724.562     734.116
C(is_hol)[True]        634.6274      3.750    169.236      0.000     627.278     641.977
C(dow)[T.Monday]       -77.8799      1.623    -48.000      0.000     -81.060     -74.700
C(dow)[T.Saturday]     -61.6634      1.501    -41.085      0.000     -64.605     -58.722
C(dow)[T.Sunday]      -136.7136      1.617    -84.529      0.000    -139.884    -133.544
C(dow)[T.Thursday]      12.6764      1.522      8.329      0.000       9.693      15.659
C(dow)[T.Tuesday]      -18.5744      1.564    -11.876      0.000     -21.640     -15.509
C(dow)[T.Wednesday]     -4.7559      1.560     -3.048      0.002      -7.814      -1.698
C(hr)[T.1]             -14.1383      3.415     -4.140      0.000     -20.831      -7.446
C(hr)[T.2]             -31.6790      3.757     -8.432      0.000     -39.042     -24.316
C(hr)[T.3]             -50.7404      4.166    -12.180      0.000     -58.905     -42.575
C(hr)[T.4]            -116.6578      4.682    -24.916      0.000    -125.834    -107.481
C(hr)[T.5]            -232.9511      4.809    -48.438      0.000    -242.377    -223.525
C(hr)[T.6]            -152.3412      3.621    -42.076      0.000    -159.438    -145.245
C(hr)[T.7]              16.9538      3.131      5.414      0.000      10.816      23.091
C(hr)[T.8]             144.9648      2.998     48.361      0.000     139.090     150.840
C(hr)[T.9]             169.8262      2.977     57.051      0.000     163.992     175.661
C(hr)[T.10]            169.1867      2.985     56.676      0.000     163.336     175.037
C(hr)[T.11]            182.0178      2.955     61.592      0.000     176.226     187.810
C(hr)[T.12]            180.9279      2.927     61.823      0.000     175.192     186.664
C(hr)[T.13]            172.1040      2.942     58.502      0.000     166.338     177.870
C(hr)[T.14]            188.6155      2.933     64.308      0.000     182.867     194.364
C(hr)[T.15]            199.1085      2.973     66.965      0.000     193.281     204.936
C(hr)[T.16]            184.9006      3.043     60.760      0.000     178.936     190.865
C(hr)[T.17]            183.2339      2.940     62.316      0.000     177.471     188.997
C(hr)[T.18]            157.9145      2.833     55.738      0.000     152.362     163.467
C(hr)[T.19]             96.3786      2.824     34.129      0.000      90.844     101.913
C(hr)[T.20]             42.9984      2.845     15.115      0.000      37.423      48.574
C(hr)[T.21]             24.7875      2.841      8.724      0.000      19.219      30.356
C(hr)[T.22]             30.2512      2.865     10.558      0.000      24.635      35.867
C(hr)[T.23]              9.4482      2.949      3.204      0.001       3.668      15.228
scale(total_dist)      453.4308      0.421   1075.964      0.000     452.605     454.257
scale(day_max_temp)      7.6542      1.212      6.316      0.000       5.279      10.029
scale(day_rainfall)     -1.1038      0.538     -2.052      0.040      -2.158      -0.050
scale(day_snowfall)      4.8695      0.474     10.273      0.000       3.940       5.798
scale(day_snowdepth)    23.2735      0.430     54.090      0.000      22.430      24.117
scale(hr_temp)           9.9026      1.234      8.025      0.000       7.484      12.321
scale(hr_humid)         -1.0193      0.511     -1.995      0.046      -2.021      -0.018
scale(hr_windspeed)      6.1075      0.436     14.023      0.000       5.254       6.961
==============================================================================
Omnibus:                   214569.748   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1631870.979
Skew:                           1.307   Prob(JB):                         0.00
Kurtosis:                      10.107   Cond. No.                         38.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
model0000 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(dow):C(hr)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1', data=df_copy)
res0000 = model0000.fit()
res0000.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.649
Model:                            OLS   Adj. R-squared:                  0.649
Method:                 Least Squares   F-statistic:                     7175.
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        11:22:35   Log-Likelihood:            -4.9501e+06
No. Observations:              683021   AIC:                         9.901e+06
Df Residuals:                  682844   BIC:                         9.903e+06
Df Model:                         176
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(is_hol)[False]                679.9208      5.321    127.789      0.000     669.492     690.349
C(is_hol)[True]                 595.9961      5.971     99.815      0.000     584.293     607.699
C(hr)[T.1]                      -21.2764      8.391     -2.536      0.011     -37.722      -4.830
C(hr)[T.2]                      -47.3533      9.386     -5.045      0.000     -65.749     -28.958
C(hr)[T.3]                      -64.4504     10.395     -6.200      0.000     -84.823     -44.077
C(hr)[T.4]                     -111.5443     11.619     -9.600      0.000    -134.317     -88.772
C(hr)[T.5]                     -209.0056     11.465    -18.231      0.000    -231.476    -186.536
C(hr)[T.6]                     -113.5037      8.518    -13.325      0.000    -130.199     -96.808
C(hr)[T.7]                       59.5757      7.268      8.197      0.000      45.331      73.820
C(hr)[T.8]                      199.5050      7.050     28.299      0.000     185.687     213.323
C(hr)[T.9]                      235.2236      7.132     32.981      0.000     221.245     249.202
C(hr)[T.10]                     233.6642      7.316     31.938      0.000     219.325     248.004
C(hr)[T.11]                     236.7697      7.272     32.558      0.000     222.516     251.023
C(hr)[T.12]                     215.9284      7.173     30.103      0.000     201.870     229.987
C(hr)[T.13]                     175.0097      7.172     24.400      0.000     160.952     189.067
C(hr)[T.14]                     220.3771      7.057     31.229      0.000     206.546     234.208
C(hr)[T.15]                     269.3944      7.168     37.585      0.000     255.346     283.442
C(hr)[T.16]                     242.8788      7.404     32.804      0.000     228.367     257.390
C(hr)[T.17]                     219.2916      7.044     31.134      0.000     205.486     233.097
C(hr)[T.18]                     187.8597      6.741     27.868      0.000     174.648     201.072
C(hr)[T.19]                     151.5115      6.684     22.668      0.000     138.411     164.612
C(hr)[T.20]                     111.6335      6.803     16.409      0.000      98.300     124.967
C(hr)[T.21]                      95.6860      6.838     13.993      0.000      82.283     109.089
C(hr)[T.22]                     121.4118      6.784     17.898      0.000     108.116     134.708
C(hr)[T.23]                     117.9426      6.799     17.346      0.000     104.616     131.269
C(dow)[T.Monday]:C(hr)[0]      -151.2053      9.418    -16.055      0.000    -169.665    -132.746
C(dow)[T.Saturday]:C(hr)[0]      67.4772      6.948      9.712      0.000      53.860      81.095
C(dow)[T.Sunday]:C(hr)[0]        72.0116      6.983     10.312      0.000      58.325      85.698
C(dow)[T.Thursday]:C(hr)[0]     -70.7575      8.442     -8.381      0.000     -87.304     -54.211
C(dow)[T.Tuesday]:C(hr)[0]     -125.6633      9.436    -13.318      0.000    -144.157    -107.169
C(dow)[T.Wednesday]:C(hr)[0]    -87.0341      8.899     -9.780      0.000    -104.476     -69.592
C(dow)[T.Monday]:C(hr)[1]      -127.0762     12.149    -10.460      0.000    -150.887    -103.265
C(dow)[T.Saturday]:C(hr)[1]      35.8648      8.141      4.405      0.000      19.908      51.821
C(dow)[T.Sunday]:C(hr)[1]        59.6585      8.102      7.363      0.000      43.778      75.539
C(dow)[T.Thursday]:C(hr)[1]     -88.5636     10.702     -8.276      0.000    -109.538     -67.589
C(dow)[T.Tuesday]:C(hr)[1]     -139.0085     12.125    -11.465      0.000    -162.773    -115.244
C(dow)[T.Wednesday]:C(hr)[1]    -97.4873     11.360     -8.582      0.000    -119.752     -75.223
C(dow)[T.Monday]:C(hr)[2]       -77.5351     15.154     -5.116      0.000    -107.237     -47.833
C(dow)[T.Saturday]:C(hr)[2]      34.4547      9.429      3.654      0.000      15.973      52.936
C(dow)[T.Sunday]:C(hr)[2]        28.2281      9.468      2.981      0.003       9.671      46.785
C(dow)[T.Thursday]:C(hr)[2]     -79.0818     13.544     -5.839      0.000    -105.627     -52.536
C(dow)[T.Tuesday]:C(hr)[2]     -100.3858     15.396     -6.520      0.000    -130.561     -70.210
C(dow)[T.Wednesday]:C(hr)[2]    -80.9510     13.870     -5.837      0.000    -108.135     -53.767
C(dow)[T.Monday]:C(hr)[3]       -48.9222     17.675     -2.768      0.006     -83.564     -14.281
C(dow)[T.Saturday]:C(hr)[3]      16.4694     10.956      1.503      0.133      -5.004      37.943
C(dow)[T.Sunday]:C(hr)[3]        24.0820     10.816      2.226      0.026       2.883      45.281
C(dow)[T.Thursday]:C(hr)[3]    -107.5087     15.927     -6.750      0.000    -138.725     -76.292
C(dow)[T.Tuesday]:C(hr)[3]      -99.3230     18.975     -5.234      0.000    -136.513     -62.133
C(dow)[T.Wednesday]:C(hr)[3]    -79.5560     16.784     -4.740      0.000    -112.452     -46.660
C(dow)[T.Monday]:C(hr)[4]      -130.1171     17.708     -7.348      0.000    -164.824     -95.410
C(dow)[T.Saturday]:C(hr)[4]      24.3369     13.136      1.853      0.064      -1.409      50.083
C(dow)[T.Sunday]:C(hr)[4]        30.9762     12.796      2.421      0.015       5.896      56.056
C(dow)[T.Thursday]:C(hr)[4]    -113.2202     17.318     -6.538      0.000    -147.162     -79.278
C(dow)[T.Tuesday]:C(hr)[4]     -112.8946     18.637     -6.058      0.000    -149.422     -76.367
C(dow)[T.Wednesday]:C(hr)[4]    -95.3900     17.979     -5.306      0.000    -130.629     -60.151
C(dow)[T.Monday]:C(hr)[5]       -55.5027     15.170     -3.659      0.000     -85.236     -25.770
C(dow)[T.Saturday]:C(hr)[5]      -5.2415     15.372     -0.341      0.733     -35.369      24.887
C(dow)[T.Sunday]:C(hr)[5]        17.3974     15.389      1.131      0.258     -12.764      47.559
C(dow)[T.Thursday]:C(hr)[5]     -22.2228     14.882     -1.493      0.135     -51.392       6.946
C(dow)[T.Tuesday]:C(hr)[5]      -25.9314     15.049     -1.723      0.085     -55.427       3.564
C(dow)[T.Wednesday]:C(hr)[5]    -16.7171     15.038     -1.112      0.266     -46.192      12.758
C(dow)[T.Monday]:C(hr)[6]        -7.5494      9.598     -0.787      0.432     -26.360      11.261
C(dow)[T.Saturday]:C(hr)[6]    -124.8499     12.041    -10.369      0.000    -148.450    -101.250
C(dow)[T.Sunday]:C(hr)[6]      -166.4159     12.883    -12.917      0.000    -191.667    -141.165
C(dow)[T.Thursday]:C(hr)[6]       4.9870      9.343      0.534      0.593     -13.325      23.299
C(dow)[T.Tuesday]:C(hr)[6]        6.9885      9.428      0.741      0.459     -11.489      25.466
C(dow)[T.Wednesday]:C(hr)[6]      0.2260      9.423      0.024      0.981     -18.243      18.695
C(dow)[T.Monday]:C(hr)[7]       -11.6010      7.309     -1.587      0.112     -25.926       2.724
C(dow)[T.Saturday]:C(hr)[7]    -215.8983      9.628    -22.423      0.000    -234.770    -197.027
C(dow)[T.Sunday]:C(hr)[7]      -267.3669     10.815    -24.723      0.000    -288.563    -246.171
C(dow)[T.Thursday]:C(hr)[7]      21.1878      6.970      3.040      0.002       7.528      34.848
C(dow)[T.Tuesday]:C(hr)[7]       13.0769      7.048      1.855      0.064      -0.737      26.891
C(dow)[T.Wednesday]:C(hr)[7]     18.1444      6.968      2.604      0.009       4.487      31.802
C(dow)[T.Monday]:C(hr)[8]       -13.0686      6.731     -1.942      0.052     -26.261       0.124
C(dow)[T.Saturday]:C(hr)[8]    -286.9904      8.103    -35.419      0.000    -302.871    -271.109
C(dow)[T.Sunday]:C(hr)[8]      -356.9173      8.998    -39.668      0.000    -374.552    -339.282
C(dow)[T.Thursday]:C(hr)[8]      36.8287      6.493      5.672      0.000      24.103      49.555
C(dow)[T.Tuesday]:C(hr)[8]       28.9843      6.555      4.422      0.000      16.137      41.831
C(dow)[T.Wednesday]:C(hr)[8]     14.7346      6.472      2.277      0.023       2.050      27.419
C(dow)[T.Monday]:C(hr)[9]       -19.8485      6.839     -2.902      0.004     -33.254      -6.443
C(dow)[T.Saturday]:C(hr)[9]    -270.9752      7.271    -37.267      0.000    -285.226    -256.724
C(dow)[T.Sunday]:C(hr)[9]      -350.4250      7.945    -44.105      0.000    -365.997    -334.853
C(dow)[T.Thursday]:C(hr)[9]      34.4004      6.738      5.106      0.000      21.195      47.606
C(dow)[T.Tuesday]:C(hr)[9]       46.6787      6.739      6.926      0.000      33.470      59.888
C(dow)[T.Wednesday]:C(hr)[9]     24.3672      6.749      3.610      0.000      11.139      37.595
C(dow)[T.Monday]:C(hr)[10]      -31.1750      7.376     -4.227      0.000     -45.631     -16.719
C(dow)[T.Saturday]:C(hr)[10]   -226.5434      7.100    -31.908      0.000    -240.459    -212.628
C(dow)[T.Sunday]:C(hr)[10]     -296.2724      7.399    -40.042      0.000    -310.774    -281.771
C(dow)[T.Thursday]:C(hr)[10]     48.2997      7.099      6.804      0.000      34.386      62.213
C(dow)[T.Tuesday]:C(hr)[10]      57.2714      7.203      7.951      0.000      43.153      71.390
C(dow)[T.Wednesday]:C(hr)[10]    43.9092      7.135      6.154      0.000      29.924      57.894
C(dow)[T.Monday]:C(hr)[11]      -39.2447      7.293     -5.381      0.000     -53.539     -24.951
C(dow)[T.Saturday]:C(hr)[11]   -182.9980      6.943    -26.355      0.000    -196.607    -169.389
C(dow)[T.Sunday]:C(hr)[11]     -248.6771      7.058    -35.235      0.000    -262.510    -234.844
C(dow)[T.Thursday]:C(hr)[11]     55.9251      7.052      7.930      0.000      42.104      69.747
C(dow)[T.Tuesday]:C(hr)[11]      56.1904      7.135      7.875      0.000      42.206      70.175
C(dow)[T.Wednesday]:C(hr)[11]    49.3708      7.131      6.923      0.000      35.394      63.348
C(dow)[T.Monday]:C(hr)[12]      -38.7666      7.116     -5.448      0.000     -52.714     -24.819
C(dow)[T.Saturday]:C(hr)[12]   -124.8820      6.645    -18.793      0.000    -137.906    -111.858
C(dow)[T.Sunday]:C(hr)[12]     -191.3634      6.856    -27.911      0.000    -204.802    -177.925
C(dow)[T.Thursday]:C(hr)[12]     69.8207      6.878     10.151      0.000      56.340      83.302
C(dow)[T.Tuesday]:C(hr)[12]      51.9086      7.001      7.414      0.000      38.186      65.631
C(dow)[T.Wednesday]:C(hr)[12]    67.8319      6.920      9.803      0.000      54.270      81.394
C(dow)[T.Monday]:C(hr)[13]      -40.5856      7.147     -5.679      0.000     -54.594     -26.577
C(dow)[T.Saturday]:C(hr)[13]    -43.8053      6.640     -6.598      0.000     -56.819     -30.792
C(dow)[T.Sunday]:C(hr)[13]     -110.7888      6.823    -16.237      0.000    -124.162     -97.415
C(dow)[T.Thursday]:C(hr)[13]     77.0665      6.914     11.146      0.000      63.515      90.618
C(dow)[T.Tuesday]:C(hr)[13]      73.0564      6.992     10.449      0.000      59.353      86.760
C(dow)[T.Wednesday]:C(hr)[13]    96.6007      6.937     13.926      0.000      83.005     110.196
C(dow)[T.Monday]:C(hr)[14]      -63.2357      6.834     -9.254      0.000     -76.630     -49.842
C(dow)[T.Saturday]:C(hr)[14]   -104.3728      6.573    -15.878      0.000    -117.256     -91.489
C(dow)[T.Sunday]:C(hr)[14]     -119.5749      6.724    -17.785      0.000    -132.753    -106.397
C(dow)[T.Thursday]:C(hr)[14]     68.4953      6.652     10.296      0.000      55.457      81.534
C(dow)[T.Tuesday]:C(hr)[14]      21.8020      6.742      3.234      0.001       8.588      35.016
C(dow)[T.Wednesday]:C(hr)[14]    43.3890      6.729      6.448      0.000      30.200      56.578
C(dow)[T.Monday]:C(hr)[15]      -97.6636      6.990    -13.972      0.000    -111.363     -83.964
C(dow)[T.Saturday]:C(hr)[15]   -133.3270      6.707    -19.878      0.000    -146.473    -120.181
C(dow)[T.Sunday]:C(hr)[15]     -171.7089      6.893    -24.910      0.000    -185.219    -158.199
C(dow)[T.Thursday]:C(hr)[15]     16.9066      6.832      2.475      0.013       3.515      30.298
C(dow)[T.Tuesday]:C(hr)[15]     -28.1783      6.923     -4.070      0.000     -41.748     -14.609
C(dow)[T.Wednesday]:C(hr)[15]    -8.0555      6.900     -1.167      0.243     -21.579       5.468
C(dow)[T.Monday]:C(hr)[16]      -93.2946      7.357    -12.681      0.000    -107.714     -78.875
C(dow)[T.Saturday]:C(hr)[16]   -104.9330      7.045    -14.894      0.000    -118.741     -91.125
C(dow)[T.Sunday]:C(hr)[16]     -133.2763      7.148    -18.645      0.000    -147.286    -119.266
C(dow)[T.Thursday]:C(hr)[16]     22.8480      7.396      3.089      0.002       8.353      37.343
C(dow)[T.Tuesday]:C(hr)[16]     -24.5990      7.384     -3.331      0.001     -39.071     -10.127
C(dow)[T.Wednesday]:C(hr)[16]    -1.5440      7.334     -0.211      0.833     -15.918      12.830
C(dow)[T.Monday]:C(hr)[17]      -70.0995      6.650    -10.541      0.000     -83.134     -57.065
C(dow)[T.Saturday]:C(hr)[17]    -61.4842      6.445     -9.539      0.000     -74.117     -48.851
C(dow)[T.Sunday]:C(hr)[17]     -121.5728      6.636    -18.319      0.000    -134.580    -108.566
C(dow)[T.Thursday]:C(hr)[17]     31.3432      6.643      4.718      0.000      18.324      44.363
C(dow)[T.Tuesday]:C(hr)[17]       4.1612      6.624      0.628      0.530      -8.821      17.143
C(dow)[T.Wednesday]:C(hr)[17]    34.6419      6.619      5.234      0.000      21.669      47.615
C(dow)[T.Monday]:C(hr)[18]      -70.6308      5.981    -11.809      0.000     -82.354     -58.908
C(dow)[T.Saturday]:C(hr)[18]    -16.1663      5.925     -2.729      0.006     -27.778      -4.554
C(dow)[T.Sunday]:C(hr)[18]     -109.9279      6.296    -17.459      0.000    -122.268     -97.588
C(dow)[T.Thursday]:C(hr)[18]     40.4250      5.914      6.835      0.000      28.833      52.017
C(dow)[T.Tuesday]:C(hr)[18]       2.2917      5.956      0.385      0.700      -9.382      13.965
C(dow)[T.Wednesday]:C(hr)[18]    12.4512      5.945      2.094      0.036       0.799      24.103
C(dow)[T.Monday]:C(hr)[19]     -124.7498      6.028    -20.696      0.000    -136.564    -112.936
C(dow)[T.Saturday]:C(hr)[19]     37.2974      5.837      6.390      0.000      25.858      48.737
C(dow)[T.Sunday]:C(hr)[19]     -123.5990      6.456    -19.145      0.000    -136.252    -110.946
C(dow)[T.Thursday]:C(hr)[19]     -5.2122      5.827     -0.895      0.371     -16.632       6.208
C(dow)[T.Tuesday]:C(hr)[19]     -64.6797      5.923    -10.920      0.000     -76.289     -53.071
C(dow)[T.Wednesday]:C(hr)[19]   -43.4834      5.880     -7.396      0.000     -55.007     -31.960
C(dow)[T.Monday]:C(hr)[20]     -138.6906      6.324    -21.932      0.000    -151.085    -126.296
C(dow)[T.Saturday]:C(hr)[20]     28.2333      6.240      4.525      0.000      16.004      40.463
C(dow)[T.Sunday]:C(hr)[20]     -138.0822      6.773    -20.386      0.000    -151.358    -124.807
C(dow)[T.Thursday]:C(hr)[20]    -24.1991      6.007     -4.028      0.000     -35.973     -12.425
C(dow)[T.Tuesday]:C(hr)[20]     -82.2667      6.101    -13.485      0.000     -94.224     -70.310
C(dow)[T.Wednesday]:C(hr)[20]   -54.9199      6.057     -9.067      0.000     -66.791     -43.048
C(dow)[T.Monday]:C(hr)[21]     -137.8407      6.448    -21.376      0.000    -150.479    -125.202
C(dow)[T.Saturday]:C(hr)[21]     15.2119      6.256      2.432      0.015       2.951      27.473
C(dow)[T.Sunday]:C(hr)[21]     -152.7577      6.919    -22.076      0.000    -166.320    -139.196
C(dow)[T.Thursday]:C(hr)[21]    -12.1560      6.020     -2.019      0.043     -23.956      -0.356
C(dow)[T.Tuesday]:C(hr)[21]     -90.9643      6.194    -14.687      0.000    -103.103     -78.825
C(dow)[T.Wednesday]:C(hr)[21]   -59.1139      6.104     -9.685      0.000     -71.077     -47.151
C(dow)[T.Monday]:C(hr)[22]     -174.3362      6.729    -25.910      0.000    -187.524    -161.148
C(dow)[T.Saturday]:C(hr)[22]      8.4226      6.077      1.386      0.166      -3.488      20.333
C(dow)[T.Sunday]:C(hr)[22]     -203.2185      7.115    -28.563      0.000    -217.163    -189.274
C(dow)[T.Thursday]:C(hr)[22]    -44.5708      6.044     -7.374      0.000     -56.418     -32.724
C(dow)[T.Tuesday]:C(hr)[22]    -121.1559      6.328    -19.146      0.000    -133.559    -108.753
C(dow)[T.Wednesday]:C(hr)[22]   -88.9700      6.213    -14.319      0.000    -101.148     -76.792
C(dow)[T.Monday]:C(hr)[23]     -214.4367      7.516    -28.530      0.000    -229.168    -199.705
C(dow)[T.Saturday]:C(hr)[23]      1.1187      5.978      0.187      0.852     -10.597      12.834
C(dow)[T.Sunday]:C(hr)[23]     -244.3249      7.773    -31.433      0.000    -259.560    -229.090
C(dow)[T.Thursday]:C(hr)[23]    -80.1901      6.292    -12.746      0.000     -92.521     -67.859
C(dow)[T.Tuesday]:C(hr)[23]    -177.6149      6.940    -25.592      0.000    -191.218    -164.012
C(dow)[T.Wednesday]:C(hr)[23]  -127.5521      6.717    -18.989      0.000    -140.717    -114.387
scale(total_dist)               455.8895      0.415   1099.310      0.000     455.077     456.702
scale(day_max_temp)              11.5342      1.199      9.622      0.000       9.185      13.884
scale(day_rainfall)              -1.4899      0.529     -2.814      0.005      -2.528      -0.452
scale(day_snowfall)               4.7519      0.469     10.129      0.000       3.832       5.671
scale(day_snowdepth)             24.3666      0.423     57.581      0.000      23.537      25.196
scale(hr_temp)                    5.8099      1.222      4.756      0.000       3.415       8.204
scale(hr_humid)                  -1.1596      0.505     -2.296      0.022      -2.149      -0.170
scale(hr_windspeed)               6.1096      0.439     13.903      0.000       5.248       6.971
==============================================================================
Omnibus:                   212928.892   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1689963.298
Skew:                           1.282   Prob(JB):                         0.00
Kurtosis:                      10.267   Cond. No.                         107.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
res0.aic

9918616.329233449

In [21]:
sm.stats.anova_lm(res0000, typ=2)

                            sum_sq        df             F        PR(>F)
C(is_hol)             1.940292e+09       2.0  8.397853e+03  0.000000e+00
C(dow):C(hr)          1.009228e+10     167.0  5.231232e+02  0.000000e+00
scale(total_dist)     1.396076e+11       1.0  1.208482e+06  0.000000e+00
scale(day_max_temp)   1.069559e+07       1.0  9.258398e+01  6.473485e-22
scale(day_rainfall)   9.149794e+05       1.0  7.920315e+00  4.888415e-03
scale(day_snowfall)   1.185333e+07       1.0  1.026057e+02  4.105658e-24
scale(day_snowdepth)  3.830293e+08       1.0  3.315608e+03  0.000000e+00
scale(hr_temp)        2.612747e+06       1.0  2.261667e+01  1.978019e-06
scale(hr_humid)       6.089149e+05       1.0  5.270936e+00  2.168465e-02
scale(hr_windspeed)   2.232895e+07       1.0  1.932856e+02  6.182972e-44
Residual              7.888426e+10  682844.0           NaN           NaN

In [17]:
from patsy import dmatrix

a = [1, 2, 3, 4]
b = list(range(5,9))
c = list(range(12,-7, -6))

dmatrix('a:b:c')

DesignMatrix with shape (4, 2)
  Intercept  a:b:c
          1     60
          1     72
          1      0
          1   -192
  Terms:
    'Intercept' (column 0)
    'a:b:c' (column 1)

In [18]:
sm.stats.anova_lm(res000, typ=2)

                            sum_sq        df             F        PR(>F)
C(is_hol)             1.072931e+10       2.0  4.482240e+04  0.000000e+00
C(dow)                1.529227e+09       6.0  2.129482e+03  0.000000e+00
C(hr)                 5.527142e+09      23.0  2.007826e+03  0.000000e+00
scale(total_dist)     1.385615e+11       1.0  1.157700e+06  0.000000e+00
scale(day_max_temp)   4.774688e+06       1.0  3.989315e+01  2.684057e-10
scale(day_rainfall)   5.040446e+05       1.0  4.211359e+00  4.015453e-02
scale(day_snowfall)   1.263102e+07       1.0  1.055338e+02  9.367930e-25
scale(day_snowdepth)  3.501673e+08       1.0  2.925695e+03  0.000000e+00
scale(hr_temp)        7.707144e+06       1.0  6.439421e+01  1.020166e-15
scale(hr_humid)       4.763717e+05       1.0  3.980149e+00  4.603989e-02
scale(hr_windspeed)   2.353549e+07       1.0  1.966421e+02  1.145084e-44
Residual              8.174400e+10  682982.0           NaN           NaN

In [53]:
model1 = sm.OLS.from_formula('dur ~ C(is_hol) + C(m_d) + C(dow) + C(hr) + C(pas_cnt)\
                            + total_dist + day_rainfall\
                            + day_snowfall + day_snowdepth - 1', data=df_copy)
res1 = model1.fit()
res1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    dur   R-squared:                       0.640
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                     8077.
Date:                Fri, 20 Oct 2017   Prob (F-statistic):               0.00
Time:                        21:52:38   Log-Likelihood:            -4.9593e+06
No. Observations:              683021   AIC:                         9.919e+06
Df Residuals:                  682870   BIC:                         9.921e+06
Df Model:                         150
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept             376.7398     91.885      4.100      0.000     196.648     556.832
C(is_hol)[T.True]    -109.1365      5.780    -18.883      0.000    -120.464     -97.809
C(m_d)[T.102]         -88.4769      4.912    -18.013      0.000     -98.104     -78.850
C(m_d)[T.103]         -57.2623      4.994    -11.465      0.000     -67.051     -47.474
C(m_d)[T.104]         -81.1097      4.955    -16.370      0.000     -90.821     -71.398
C(m_d)[T.105]         -87.8354      4.749    -18.494      0.000     -97.144     -78.527
C(m_d)[T.106]         -77.0820      4.652    -16.569      0.000     -86.200     -67.964
C(m_d)[T.107]         -74.9829      4.520    -16.587      0.000     -83.843     -66.123
C(m_d)[T.108]         -23.8753      5.764     -4.142      0.000     -35.172     -12.579
C(m_d)[T.109]         -31.9611      4.279     -7.468      0.000     -40.349     -23.573
C(m_d)[T.110]         -39.6391      3.418    -11.597      0.000     -46.338     -32.940
C(m_d)[T.111]         -25.0011      4.759     -5.253      0.000     -34.329     -15.673
C(m_d)[T.112]         -50.1120      4.519    -11.089      0.000     -58.969     -41.255
C(m_d)[T.113]         -52.3723      4.349    -12.043      0.000     -60.896     -43.849
C(m_d)[T.114]         -51.8138      4.404    -11.764      0.000     -60.446     -43.181
C(m_d)[T.115]           6.7992      5.721      1.189      0.235      -4.413      18.012
C(m_d)[T.116]         -31.9774      4.231     -7.558      0.000     -40.270     -23.685
C(m_d)[T.117]           1.1911      4.505      0.264      0.791      -7.639      10.021
C(m_d)[T.118]         -10.7589      6.752     -1.593      0.111     -23.993       2.476
C(m_d)[T.119]           1.5347      4.501      0.341      0.733      -7.286      10.356
C(m_d)[T.120]         -27.5195      4.457     -6.175      0.000     -36.255     -18.784
C(m_d)[T.121]           5.0801      4.344      1.170      0.242      -3.434      13.594
C(m_d)[T.122]          12.7830      5.668      2.255      0.024       1.674      23.892
C(m_d)[T.123]           2.8334      0.602      4.704      0.000       1.653       4.014
C(m_d)[T.124]        -139.1408      5.004    -27.805      0.000    -148.949    -129.333
C(m_d)[T.125]          72.8444      4.604     15.823      0.000      63.821      81.867
C(m_d)[T.126]          67.8650      4.496     15.095      0.000      59.053      76.677
C(m_d)[T.127]          43.5640      4.557      9.559      0.000      34.632      52.496
C(m_d)[T.128]           5.5429      4.400      1.260      0.208      -3.082      14.168
C(m_d)[T.129]          30.3625      5.518      5.503      0.000      19.548      41.177
C(m_d)[T.130]          -8.9541      4.160     -2.152      0.031     -17.107      -0.801
C(m_d)[T.131]           0.3834      4.594      0.083      0.933      -8.620       9.387
C(m_d)[T.201]          -4.4751      4.790     -0.934      0.350     -13.864       4.914
C(m_d)[T.202]         -22.7412      4.555     -4.992      0.000     -31.669     -13.813
C(m_d)[T.203]          19.9585      4.379      4.558      0.000      11.376      28.541
C(m_d)[T.204]          -9.3423      4.347     -2.149      0.032     -17.863      -0.822
C(m_d)[T.205]         -33.3171      5.586     -5.965      0.000     -44.265     -22.370
C(m_d)[T.206]          -8.5806      4.221     -2.033      0.042     -16.853      -0.308
C(m_d)[T.207]         -22.2618      4.503     -4.943      0.000     -31.088     -13.435
C(m_d)[T.208]         -44.9062      4.778     -9.398      0.000     -54.271     -35.541
C(m_d)[T.209]         -31.6266      4.571     -6.918      0.000     -40.586     -22.667
C(m_d)[T.210]         -40.1520      4.370     -9.188      0.000     -48.717     -31.587
C(m_d)[T.211]          -6.1984      4.208     -1.473      0.141     -14.446       2.050
C(m_d)[T.212]          61.6750      5.623     10.968      0.000      50.654      72.696
C(m_d)[T.213]          -5.1803      4.139     -1.252      0.211     -13.292       2.931
C(m_d)[T.214]          24.5790      4.353      5.647      0.000      16.048      33.110
C(m_d)[T.215]          10.6632      6.758      1.578      0.115      -2.582      23.909
C(m_d)[T.216]         -10.5711      4.250     -2.487      0.013     -18.902      -2.240
C(m_d)[T.217]         -26.2534      4.447     -5.904      0.000     -34.969     -17.538
C(m_d)[T.218]         -22.2694      4.333     -5.140      0.000     -30.761     -13.777
C(m_d)[T.219]          15.0502      5.674      2.653      0.008       3.930      26.170
C(m_d)[T.220]           9.9929      4.237      2.359      0.018       1.689      18.297
C(m_d)[T.221]           2.2567      4.540      0.497      0.619      -6.642      11.155
C(m_d)[T.222]         -15.7692      4.773     -3.304      0.001     -25.124      -6.415
C(m_d)[T.223]          36.9628      4.408      8.385      0.000      28.322      45.603
C(m_d)[T.224]          21.1911      3.944      5.373      0.000      13.461      28.922
C(m_d)[T.225]         -12.7805      4.303     -2.970      0.003     -21.215      -4.346
C(m_d)[T.226]          32.8187      5.633      5.826      0.000      21.778      43.859
C(m_d)[T.227]          -0.1504      4.150     -0.036      0.971      -8.285       7.984
C(m_d)[T.228]           8.8415      4.555      1.941      0.052      -0.086      17.769
C(m_d)[T.229]          -8.3538      4.713     -1.772      0.076     -17.591       0.884
C(m_d)[T.301]         -24.4646      4.493     -5.446      0.000     -33.270     -15.659
C(m_d)[T.302]         -14.3734      4.328     -3.321      0.001     -22.856      -5.891
C(m_d)[T.303]         -13.0309      4.220     -3.088      0.002     -21.302      -4.759
C(m_d)[T.304]          30.7114      5.578      5.506      0.000      19.779      41.644
C(m_d)[T.305]           3.5211      4.100      0.859      0.390      -4.514      11.556
C(m_d)[T.306]          16.3481      4.448      3.675      0.000       7.629      25.067
C(m_d)[T.307]          -2.7189      4.732     -0.575      0.566     -11.993       6.555
C(m_d)[T.308]          -1.7594      4.524     -0.389      0.697     -10.625       7.107
C(m_d)[T.309]           1.7861      4.434      0.403      0.687      -6.905      10.477
C(m_d)[T.310]           0.7070      4.335      0.163      0.870      -7.789       9.202
C(m_d)[T.311]          46.5045      5.637      8.250      0.000      35.457      57.552
C(m_d)[T.312]          10.9566      4.161      2.633      0.008       2.802      19.111
C(m_d)[T.313]          30.6347      4.588      6.678      0.000      21.643      39.626
C(m_d)[T.314]          37.3173      4.524      8.250      0.000      28.451      46.183
C(m_d)[T.315]          -1.5677      4.474     -0.350      0.726     -10.337       7.202
C(m_d)[T.316]          22.3106      4.392      5.080      0.000      13.703      30.918
C(m_d)[T.317]          20.9021      4.407      4.743      0.000      12.264      29.540
C(m_d)[T.318]          56.4082      5.636     10.008      0.000      45.361      67.455
C(m_d)[T.319]          -2.1405      4.180     -0.512      0.609     -10.333       6.052
C(m_d)[T.320]          -3.2310      4.423     -0.730      0.465     -11.901       5.439
C(m_d)[T.321]         -31.6985      4.734     -6.697      0.000     -40.976     -22.421
C(m_d)[T.322]           8.9793      4.556      1.971      0.049       0.050      17.908
C(m_d)[T.323]          10.9400      4.480      2.442      0.015       2.160      19.720
C(m_d)[T.324]          10.3096      4.326      2.383      0.017       1.830      18.789
C(m_d)[T.325]         -32.1682      5.735     -5.609      0.000     -43.408     -20.928
C(m_d)[T.326]         -19.7884      4.328     -4.573      0.000     -28.270     -11.306
C(m_d)[T.327]         -19.4017      4.657     -4.166      0.000     -28.529     -10.275
C(m_d)[T.328]         -17.7689      4.727     -3.759      0.000     -27.033      -8.504
C(m_d)[T.329]         -20.5795      4.511     -4.562      0.000     -29.421     -11.738
C(m_d)[T.330]           0.4458      4.478      0.100      0.921      -8.331       9.223
C(m_d)[T.331]          12.8523      4.430      2.901      0.004       4.170      21.535
C(m_d)[T.401]          74.3025      5.683     13.075      0.000      63.164      85.441
C(m_d)[T.402]          21.1331      4.139      5.106      0.000      13.021      29.245
C(m_d)[T.403]           8.1338      4.446      1.829      0.067      -0.581      16.849
C(m_d)[T.404]          43.2487      4.499      9.613      0.000      34.431      52.066
C(m_d)[T.405]          58.9343      4.384     13.443      0.000      50.342      67.527
C(m_d)[T.406]          22.2258      4.339      5.122      0.000      13.721      30.730
C(m_d)[T.407]          24.9465      4.273      5.838      0.000      16.571      33.322
C(m_d)[T.408]          61.6850      5.623     10.969      0.000      50.663      72.707
C(m_d)[T.409]          14.4404      4.053      3.563      0.000       6.498      22.383
C(m_d)[T.410]          37.9311      4.374      8.672      0.000      29.358      46.504
C(m_d)[T.411]          17.4829      4.706      3.715      0.000       8.260      26.706
C(m_d)[T.412]          50.0095      4.425     11.302      0.000      41.337      58.682
C(m_d)[T.413]          45.5716      4.357     10.459      0.000      37.032      54.112
C(m_d)[T.414]          51.3278      4.270     12.020      0.000      42.959      59.697
C(m_d)[T.415]          87.2153      5.590     15.602      0.000      76.259      98.172
C(m_d)[T.416]          41.4379      4.077     10.165      0.000      33.448      49.428
C(m_d)[T.417]          40.1674      4.411      9.107      0.000      31.523      48.812
C(m_d)[T.418]          37.2714      4.704      7.923      0.000      28.051      46.492
C(m_d)[T.419]          52.8006      4.471     11.809      0.000      44.037      61.564
C(m_d)[T.420]          47.3941      4.384     10.810      0.000      38.801      55.987
C(m_d)[T.421]         106.1816      4.472     23.744      0.000      97.417     114.946
C(m_d)[T.422]         113.0038      5.836     19.362      0.000     101.565     124.443
C(m_d)[T.423]          39.8965      4.352      9.167      0.000      31.366      48.427
C(m_d)[T.424]           4.2114      4.630      0.910      0.363      -4.863      13.286
C(m_d)[T.425]         -16.8759      4.822     -3.499      0.000     -26.328      -7.424
C(m_d)[T.426]         -13.4722      4.525     -2.977      0.003     -22.342      -4.603
C(m_d)[T.427]          29.6294      4.504      6.579      0.000      20.803      38.456
C(m_d)[T.428]          -2.7631      4.324     -0.639      0.523     -11.238       5.712
C(m_d)[T.429]          39.6850      5.663      7.008      0.000      28.586      50.784
C(m_d)[T.430]          21.7121      4.272      5.083      0.000      13.340      30.084
C(dow)[T.Monday]      -40.6085      3.372    -12.042      0.000     -47.218     -33.999
C(dow)[T.Saturday]    -31.2857      3.666     -8.535      0.000     -38.471     -24.101
C(dow)[T.Sunday]     -106.2586      3.634    -29.240      0.000    -113.381     -99.136
C(dow)[T.Thursday]     44.6688      3.704     12.060      0.000      37.409      51.928
C(dow)[T.Tuesday]      12.3565      3.652      3.383      0.001       5.199      19.514
C(dow)[T.Wednesday]    27.2643      3.652      7.465      0.000      20.106      34.422
C(hr)[T.1]            -14.2491      3.400     -4.191      0.000     -20.913      -7.586
C(hr)[T.2]            -31.7896      3.741     -8.499      0.000     -39.121     -24.458
C(hr)[T.3]            -52.0015      4.145    -12.545      0.000     -60.126     -43.877
C(hr)[T.4]           -117.7976      4.656    -25.298      0.000    -126.924    -108.671
C(hr)[T.5]           -233.9247      4.781    -48.926      0.000    -243.296    -224.554
C(hr)[T.6]           -152.5548      3.593    -42.465      0.000    -159.596    -145.514
C(hr)[T.7]             15.1817      3.100      4.897      0.000       9.105      21.258
C(hr)[T.8]            143.6203      2.965     48.432      0.000     137.808     149.432
C(hr)[T.9]            169.6699      2.952     57.479      0.000     163.884     175.455
C(hr)[T.10]           169.9136      2.969     57.230      0.000     164.095     175.733
C(hr)[T.11]           183.7284      2.943     62.435      0.000     177.961     189.496
C(hr)[T.12]           185.3038      2.907     63.739      0.000     179.606     191.002
C(hr)[T.13]           177.0389      2.909     60.865      0.000     171.338     182.740
C(hr)[T.14]           194.5184      2.884     67.449      0.000     188.866     200.171
C(hr)[T.15]           208.1258      2.904     71.664      0.000     202.434     213.818
C(hr)[T.16]           194.4626      2.966     65.562      0.000     188.649     200.276
C(hr)[T.17]           191.2570      2.862     66.831      0.000     185.648     196.866
C(hr)[T.18]           164.5595      2.770     59.403      0.000     159.130     169.989
C(hr)[T.19]           102.0526      2.777     36.755      0.000      96.611     107.495
C(hr)[T.20]            47.1986      2.814     16.773      0.000      41.683      52.714
C(hr)[T.21]            27.7469      2.821      9.835      0.000      22.217      33.277
C(hr)[T.22]            32.1616      2.851     11.282      0.000      26.574      37.749
C(hr)[T.23]             9.7315      2.937      3.314      0.001       3.976      15.487
C(pas_cnt)[T.1]      -113.6754     95.547     -1.190      0.234    -300.943      73.593
C(pas_cnt)[T.2]       -93.5524     95.551     -0.979      0.328    -280.830      93.725
C(pas_cnt)[T.3]       -90.2964     95.568     -0.945      0.345    -277.606      97.013
C(pas_cnt)[T.4]       -74.7178     95.592     -0.782      0.434    -262.075     112.639
C(pas_cnt)[T.5]      -112.1450     95.562     -1.174      0.241    -299.443      75.153
C(pas_cnt)[T.6]      -113.7950     95.572     -1.191      0.234    -301.114      73.524
total_dist              0.0986   9.13e-05   1080.096      0.000       0.098       0.099
day_rainfall            3.2244      1.669      1.932      0.053      -0.046       6.495
day_snowfall            3.9644      0.398      9.961      0.000       3.184       4.744
day_snowdepth           6.7005      0.170     39.402      0.000       6.367       7.034
==============================================================================
Omnibus:                   211930.405   Durbin-Watson:                   1.894
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1613815.880
Skew:                           1.288   Prob(JB):                         0.00
Kurtosis:                      10.076   Cond. No.                     1.30e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.6e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [58]:
model2 = sm.OLS.from_formula('dur ~ C(is_hol) + C(dow) + C(hr)\
                            + scale(total_dist) - 1', data=df_copy)
res2 = model2.fit()
res2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    dur   R-squared:                       0.634
Model:                            OLS   Adj. R-squared:                  0.634
Method:                 Least Squares   F-statistic:                 3.818e+04
Date:                Fri, 20 Oct 2017   Prob (F-statistic):               0.00
Time:                        21:55:46   Log-Likelihood:            -4.9644e+06
No. Observations:              683021   AIC:                         9.929e+06
Df Residuals:                  682989   BIC:                         9.929e+06
Df Model:                          31
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
C(is_hol)[False]      728.6464      2.433    299.543      0.000     723.879     733.414
C(is_hol)[True]       605.8267      3.702    163.657      0.000     598.571     613.082
C(dow)[T.Monday]      -70.5258      1.599    -44.098      0.000     -73.660     -67.391
C(dow)[T.Saturday]    -63.5704      1.503    -42.306      0.000     -66.516     -60.625
C(dow)[T.Sunday]     -137.1394      1.585    -86.533      0.000    -140.246    -134.033
C(dow)[T.Thursday]     12.3694      1.522      8.127      0.000       9.386      15.353
C(dow)[T.Tuesday]     -17.3797      1.557    -11.162      0.000     -20.431     -14.328
C(dow)[T.Wednesday]    -4.5554      1.539     -2.960      0.003      -7.572      -1.539
C(hr)[T.1]            -14.6268      3.424     -4.271      0.000     -21.338      -7.915
C(hr)[T.2]            -33.2158      3.766     -8.820      0.000     -40.597     -25.834
C(hr)[T.3]            -52.6253      4.174    -12.608      0.000     -60.806     -44.445
C(hr)[T.4]           -119.1322      4.690    -25.404      0.000    -128.323    -109.941
C(hr)[T.5]           -235.3429      4.815    -48.877      0.000    -244.780    -225.906
C(hr)[T.6]           -156.2081      3.616    -43.200      0.000    -163.295    -149.121
C(hr)[T.7]             11.9699      3.120      3.837      0.000       5.855      18.085
C(hr)[T.8]            139.7001      2.984     46.817      0.000     133.852     145.548
C(hr)[T.9]            165.9576      2.970     55.874      0.000     160.136     171.779
C(hr)[T.10]           166.4158      2.988     55.696      0.000     160.560     172.272
C(hr)[T.11]           180.6602      2.961     61.004      0.000     174.856     186.465
C(hr)[T.12]           181.9785      2.925     62.205      0.000     176.245     187.712
C(hr)[T.13]           173.8093      2.927     59.377      0.000     168.072     179.547
C(hr)[T.14]           191.6765      2.902     66.054      0.000     185.989     197.364
C(hr)[T.15]           204.2609      2.922     69.907      0.000     198.534     209.988
C(hr)[T.16]           190.0664      2.984     63.687      0.000     184.217     195.916
C(hr)[T.17]           187.5792      2.879     65.150      0.000     181.936     193.222
C(hr)[T.18]           161.0308      2.787     57.782      0.000     155.569     166.493
C(hr)[T.19]            99.4103      2.793     35.590      0.000      93.936     104.885
C(hr)[T.20]            45.2328      2.831     15.977      0.000      39.684      50.782
C(hr)[T.21]            26.1328      2.838      9.207      0.000      20.570      31.696
C(hr)[T.22]            30.9005      2.868     10.774      0.000      25.279      36.522
C(hr)[T.23]             8.5284      2.954      2.887      0.004       2.738      14.319
scale(total_dist)     453.6600      0.423   1073.437      0.000     452.832     454.488
==============================================================================
Omnibus:                   217196.012   Durbin-Watson:                   1.867
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1658399.259
Skew:                           1.324   Prob(JB):                         0.00
Kurtosis:                      10.159   Cond. No.                         29.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## cross validation

In [9]:
df_copy['dur1'] = df_copy['dur']
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur1
0,False,430,Saturday,23,0.069424,1,1454,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,430,Saturday,23,0.057791,1,1409,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,430,Saturday,23,0.066698,2,1081,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,430,Saturday,23,0.018223,1,800,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,430,Saturday,23,0.027198,1,1151,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [10]:
del df_copy['dur']
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur1
0,False,430,Saturday,23,0.069424,1,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,430,Saturday,23,0.057791,1,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,430,Saturday,23,0.066698,2,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,430,Saturday,23,0.018223,1,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,430,Saturday,23,0.027198,1,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [22]:
#df_copy.to_csv('../_data/train__dropped__shaved__cleaned__no_disaster.csv', index=False)

In [23]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

fmla = 'dur1 ~ C(is_hol) + C(dow):C(hr) + scale(total_dist)\
             + scale(day_max_temp) + scale(day_rainfall)\
             + scale(day_snowfall) + scale(day_snowdepth)\
             + scale(hr_temp) + scale(hr_humid) + scale(hr_windspeed) - 1'

cv = KFold(10)

scores = np.zeros(10)
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(df_copy.iloc[:, :-1], df_copy.iloc[:, -1], test_size=0.33)
    df_train = pd.concat([X_train, y_train], axis=1)
    print("trial {}".format(i+1))
    model_train = sm.OLS.from_formula(fmla, data=df_train)
    res_train = model_train.fit()
    y_pred = res_train.predict(X_test)
    y_pred[y_pred < 0] = 0
    
    try:
        scores[i] = mean_squared_log_error(y_test, y_pred)
        print(pd.concat([y_test, y_pred], axis=1).head(3))
    except:
        print("except")
        print(y_test[y_test<=0].shape)
        print(y_pred[y_pred<=0].shape)
        break

np.sqrt(scores)

trial 1
        dur1            0
251643  3161  3114.350900
353661  1016   960.782166
74115    473   535.849719
trial 2
        dur1           0
350285  1084  799.577067
135916   163  539.587685
405686   360  429.496466
trial 3
        dur1           0
584634   177  575.211074
237392   408  617.629919
606171   738  855.881578
trial 4

KeyboardInterrupt:

In [24]:
np.sqrt(scores)

array([ 0.47922921,  0.47979153,  0.48086002,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [67]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold



cv = KFold(3)

scores = np.zeros(3)
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(df_copy.iloc[:, :-1], df_copy.iloc[:, -1], test_size=0.33)
    df_train = pd.concat([X_train, y_train], axis=1)
    print("trial {}".format(i+1))
    model_train = model0 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(m_d) + C(dow) + C(hr) + C(pas_cnt)\
                            + scale(total_dist) + day_max_temp + day_min_temp + day_rainfall\
                            + day_snowfall + day_snowdepth + hr_temp + hr_humid + hr_dewpt\
                            + hr_windspeed + hr_gustspeed + hr_precip - 1', data=df_train)
    res_train = model_train.fit()
    y_pred = res_train.predict(X_test)
    y_pred[y_pred < 0] = 0
    try:
        scores[i] = mean_squared_log_error(y_test, y_pred)
        print(pd.concat([y_test, y_pred], axis=1).head(3))
    except:
        print("except")
        print(y_test[y_test<=0].shape)
        print(y_pred[y_pred<=0].shape)
        break

np.sqrt(scores)

trial 1
        dur1            0
536428  1292  1054.850803
568864   645   887.577978
130365  1193   751.683572
trial 2
        dur1            0
693795   903   772.144072
46071   1265  1287.358821
496313   475   376.483320
trial 3
        dur1            0
140487   603   814.823659
5861     751   696.027557
257313   666  1014.085731

array([ 0.48776671,  0.48784165,  0.4887244 ])

### to add: dow, m_d, hr, L2, holiday, disaster
## * dow

In [21]:
s_dow = df_train['pickup_datetime'].apply(pd.to_datetime)

In [23]:
s_time = s_dow.copy()

In [30]:
s_dow = s_time.dt.weekday_name

In [32]:
df_train.insert(4, 'dow', s_dow)

In [33]:
df_train.head()

,id,vendor_id,Time,pickup_datetime,dow,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,Saturday,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,Saturday,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

In [34]:
df_copy = df_train

## * m_d

In [36]:
df_copy['pickup_datetime'] = df_copy['pickup_datetime'].apply(pd.to_datetime)

In [37]:
df_copy.insert(loc=4, column='m_d', value=np.vectorize(str)(df_copy['pickup_datetime'].dt.month*100
                                                             + df_copy['pickup_datetime'].dt.day))

In [38]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * hr

In [39]:
df_copy.insert(loc=6, column='hr', value=df_copy['pickup_datetime'].dt.hour)

In [40]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,hr,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * L2

In [41]:
def dist(plng, plat, dlng, dlat):
    return ((dlng-plng)**2 + (dlat-plat)**2) ** 0.5

In [42]:
df_copy.insert(loc=7, column='L2', value=np.vectorize(dist)(\
                df_copy['pickup_longitude'], df_copy['pickup_latitude'],\
                df_copy['dropoff_longitude'], df_copy['dropoff_latitude']))

df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * holiday

In [51]:
holidays = {(2016, 1, 1) : 'New Year\'s',
            (2016, 1, 18) : 'MLK',
            (2016, 2, 15) : 'Washington',
            (2016, 5, 30) : 'Memorial' }

def is_holiday(timestamp):
    return (timestamp.year, timestamp.month, timestamp.day) in holidays

t = pd.Timestamp(2016, 5, 30)

print(is_holiday(t))

True

In [53]:
s_hol = df_copy['pickup_datetime'].apply(is_holiday)
s_hol.sum()

15583

In [64]:
df_copy.insert(loc=4, column='is_hol', value=s_hol)

In [67]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,is_hol,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * disaster

??

In [69]:
df_copy.to_csv('../_data/train_with__all_data_no_disaster_nans_fixed.csv', index=False)

---

In [70]:
pd.options.display.max_columns = 60

In [71]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,is_hol,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

In [72]:
droppable = ['id', 'vendor_id', 'Time', 'pickup_datetime', 'dropoff_datetime',\
             'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',\
             'store_and_fwd_flag', 'starting_street', 'end_street',\
             'number_of_steps', 'street_for_each_step', 'distance_per_step', 'travel_time_per_step',\
             'step_maneuvers', 'step_direction', 'step_location_list',\
             'average temperature', 'Wind Dir', 'Events', 'Conditions']

In [73]:
for col in droppable:
    del df_copy[col]

In [74]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,passenger_count,trip_duration,total_distance,total_travel_time,maximum temperature,minimum temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Speed,Gust Speed,Precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [82]:
df_copy.to_csv('../_data/train__dropped__no_disaster.csv', index=False)

In [78]:
df_copy.columns

Index(['is_hol', 'm_d', 'dow', 'hr', 'L2', 'passenger_count', 'trip_duration',
       'total_distance', 'total_travel_time', 'maximum temperature',
       'minimum temperature', 'precipitation', 'snow fall', 'snow depth',
       'Temp.', 'Humidity', 'Dew Point', 'Wind Speed', 'Gust Speed', 'Precip'],
      dtype='object')

In [79]:
short_cols = ['is_hol', 'm_d', 'dow', 'hr', 'L2', 'pas_cnt', 'dur',
       'total_dist', 'total_time', 'day_max_temp',
       'day_min_temp', 'day_rainfall', 'day_snowfall', 'day_snowdepth',
       'hr_temp', 'hr_humid', 'hr_dewpt', 'hr_windspeed', 'hr_gustspeed', 'hr_precip']

In [80]:
df_copy.columns = short_cols

In [81]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [98]:
df_copy.isnull().sum()

is_hol              0
m_d                 0
dow                 0
hr                  0
L2                  0
pas_cnt             0
dur                 0
total_dist          0
total_time          0
day_max_temp        0
day_min_temp        0
day_rainfall        0
day_snowfall        0
day_snowdepth       0
hr_temp          5293
hr_humid         5293
hr_dewpt         5293
hr_windspeed     5293
hr_gustspeed     5293
hr_precip        5293
dtype: int64

In [226]:
nans = df_copy.loc[df_copy['hr_temp'].isnull(), ['m_d', 'hr']].copy()
nans['m_d'] = nans['m_d'].apply(int)
print(nans.head())
nansarray = np.array(nans)
np.unique(nansarray, axis=0)

       m_d  hr
67827  419  11
67828  419  11
67829  419  11
67830  419  11
67831  419  11

array([[313,   4],
       [105,   0],
       [105,   1],
       [105,   2],
       [105,   3],
       [108,  10],
       [401,   8],
       [401,   9],
       [401,  10],
       [401,  11],
       [401,  12],
       [401,  13],
       [401,  14],
       [402,   8],
       [403,   0],
       [403,   1],
       [404,   0],
       [404,   2],
       [409,   6],
       [413,  22],
       [413,  23],
       [416,   0],
       [419,  11],
       [202,  23]], dtype=int64)

In [221]:
nan_pairs = np.unique(nansarray, axis=0)

nan_pairs

array([[313,   4],
       [105,   0],
       [105,   1],
       [105,   2],
       [105,   3],
       [108,  10],
       [401,   8],
       [401,   9],
       [401,  10],
       [401,  11],
       [401,  12],
       [401,  13],
       [401,  14],
       [402,   8],
       [403,   0],
       [403,   1],
       [404,   0],
       [404,   2],
       [409,   6],
       [413,  22],
       [413,  23],
       [416,   0],
       [419,  11],
       [202,  23]], dtype=int64)

In [230]:
df_copy2 = df_copy.copy()

In [215]:
def get_prev(md, hr):
    m = int(md[0])
    d = int(md[1:])
    ts = pd.Timestamp(2016, m, d, hr, 0, 0)
    ts -= pd.Timedelta(hours=1)
    m_new = ts.month
    d_new = ts.day
    hr_new = ts.hour
    md_new = str(m_new)+'{:02}'.format(d_new)
    return(md_new, hr_new)

def get_next(m_d, hr):
    m = int(m_d[0])
    d = int(m_d[1:])
    ts = pd.Timestamp(2016, m, d, hr, 0, 0)
    ts += pd.Timedelta(hours=1)
    m_new = ts.month
    d_new = ts.day
    hr_new = ts.hour
    m_d_new = str(m_new)+'{:02}'.format(d_new)
    return(m_d_new, hr_new)

get_prev('105', 0)
get_next('630', 23)

('701', 0)

In [227]:
df_copy2['hr_temp'][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].iloc[0]

6.7000000000000002

In [231]:
fill_cols = ['hr_temp', 'hr_humid', 'hr_dewpt', 'hr_windspeed', 'hr_gustspeed', 'hr_precip']

for md, hr in nan_pairs:
    print(md, hr)
    md = str(md)
    md_prev, hr_prev = md, hr
    md_next, hr_next = md, hr
    while df_copy2[col][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].isnull().sum() > 0:
        md_prev, hr_prev = get_prev(md_prev, hr_prev)
    while df_copy2[col][(df_copy2['m_d'] == md_next) & (df_copy2['hr'] == hr_next)].isnull().sum() > 0:
        md_next, hr_next = get_next(md_next, hr_next)

    for col in fill_cols:
        print(col)
        col_prev = df_copy2[col][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].iloc[0]
        col_next = df_copy2[col][(df_copy2['m_d'] == md_next) & (df_copy2['hr'] == hr_next)].iloc[0]
        col_new = np.average([col_prev, col_next])
        print(col_new)
        df_copy2.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), col] = col_new
    print()

313 4
hr_temp
11.1
hr_humid
0.59
hr_dewpt
3.3
hr_windspeed
0.0
hr_gustspeed
0.0
hr_precip
0.0

105 0
hr_temp
-9.7
hr_humid
0.515
hr_dewpt
-18.05
hr_windspeed
11.1
hr_gustspeed
33.3
hr_precip
0.0

105 1
hr_temp
-10.4
hr_humid
0.5375
hr_dewpt
-18.175
hr_windspeed
9.25
hr_gustspeed
33.3
hr_precip
0.0

105 2
hr_temp
-10.75
hr_humid
0.54875
hr_dewpt
-18.2375
hr_windspeed
8.325
hr_gustspeed
33.3
hr_precip
0.0

105 3
hr_temp
-10.925
hr_humid
0.554375
hr_dewpt
-18.26875
hr_windspeed
7.8625
hr_gustspeed
33.3
hr_precip
0.0

108 10
hr_temp
3.5
hr_humid
0.65
hr_dewpt
-2.5
hr_windspeed
0.0
hr_gustspeed
0.0
hr_precip
0.0

401 8
hr_temp
20.0
hr_humid
0.68
hr_dewpt
13.85
hr_windspeed
4.65
hr_gustspeed
0.0
hr_precip
0.0

401 9
hr_temp
21.1
hr_humid
0.645
hr_dewpt
14.125
hr_windspeed
2.325
hr_gustspeed
0.0
hr_precip
0.0

401 10
hr_temp
21.65
hr_humid
0.6275
hr_dewpt
14.2625
hr_windspeed
1.1625
hr_gustspeed
0.0
hr_precip
0.0

401 11
hr_temp
21.925
hr_humid
0.61875
hr_dewpt
14.33125
hr_windspeed
0.58125
hr_gustspeed
0.0
hr_precip
0.0

401 12
hr_temp
22.0625
hr_humid
0.614375
hr_dewpt
14.365625
hr_windspeed
0.290625
hr_gustspeed
0.0
hr_precip
0.0

401 13
hr_temp
22.13125
hr_humid
0.6121875
hr_dewpt
14.3828125
hr_windspeed
0.1453125
hr_gustspeed
0.0
hr_precip
0.0

401 14
hr_temp
22.165625
hr_humid
0.61109375
hr_dewpt
14.39140625
hr_windspeed
0.07265625
hr_gustspeed
0.0
hr_precip
0.0

402 8
hr_temp
12.2
hr_humid
0.675
hr_dewpt
6.4
hr_windspeed
4.65
hr_gustspeed
0.0
hr_precip
0.0

403 0
hr_temp
10.3
hr_humid
0.77
hr_dewpt
6.4
hr_windspeed
6.5
hr_gustspeed
15.75
hr_precip
0.0

403 1
hr_temp
10.15
hr_humid
0.785
hr_dewpt
6.55
hr_windspeed
3.25
hr_gustspeed
7.875
hr_precip
0.0

404 0
hr_temp
3.3
hr_humid
0.31
hr_dewpt
-12.5
hr_windspeed
7.4
hr_gustspeed
0.0
hr_precip
0.0

404 2
hr_temp
3.05
hr_humid
0.365
hr_dewpt
-10.8
hr_windspeed
9.25
hr_gustspeed
0.0
hr_precip
0.0

409 6
hr_temp
3.3
hr_humid
0.44
hr_dewpt
-8.05
hr_windspeed
5.6
hr_gustspeed
0.0
hr_precip
0.0

413 22
hr_temp
9.15
hr_humid
0.475
hr_dewpt
-1.65
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

413 23
hr_temp
8.725
hr_humid
0.5175
hr_dewpt
-0.825
hr_windspeed
1.4
hr_gustspeed
0.0
hr_precip
0.0

416 0
hr_temp
8.6
hr_humid
0.595
hr_dewpt
1.15
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

419 11
hr_temp
19.45
hr_humid
0.375
hr_dewpt
4.7
hr_windspeed
7.4
hr_gustspeed
13.9
hr_precip
0.0

202 23
hr_temp
6.4
hr_humid
0.545
hr_dewpt
-2.2
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

In [263]:
df_copy2.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [265]:
df_copy2.to_csv('../_data/train__dropped__no_disaster_nan_fixed.csv', index=False)

In [264]:
df_copy3 = df_copy2.copy()
df_copy3.isnull().sum()

is_hol           0
m_d              0
dow              0
hr               0
L2               0
pas_cnt          0
dur              0
total_dist       0
total_time       0
day_max_temp     0
day_min_temp     0
day_rainfall     0
day_snowfall     0
day_snowdepth    0
hr_temp          0
hr_humid         0
hr_dewpt         0
hr_windspeed     0
hr_gustspeed     0
hr_precip        0
dtype: int64

In [236]:
md = '419'
hr = 11
df_copy2.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'].head()

67827    19.45
67828    19.45
67829    19.45
67830    19.45
67831    19.45
Name: hr_temp, dtype: float64

In [234]:
df_copy3.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'] = 3
df_copy3.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'].head()

67827    3.0
67828    3.0
67829    3.0
67830    3.0
67831    3.0
Name: hr_temp, dtype: float64

In [162]:
ssss[:]

67827   NaN
67828   NaN
67829   NaN
67830   NaN
67831   NaN
67832   NaN
67833   NaN
67834   NaN
67835   NaN
67836   NaN
67837   NaN
67838   NaN
67839   NaN
67840   NaN
67841   NaN
67842   NaN
67843   NaN
67844   NaN
67845   NaN
67846   NaN
67847   NaN
67848   NaN
67849   NaN
67850   NaN
67851   NaN
67852   NaN
67853   NaN
67854   NaN
67855   NaN
67856   NaN
         ..
68066   NaN
68067   NaN
68068   NaN
68069   NaN
68070   NaN
68071   NaN
68072   NaN
68073   NaN
68074   NaN
68075   NaN
68076   NaN
68077   NaN
68078   NaN
68079   NaN
68080   NaN
68081   NaN
68082   NaN
68083   NaN
68084   NaN
68085   NaN
68086   NaN
68087   NaN
68088   NaN
68089   NaN
68090   NaN
68091   NaN
68092   NaN
68093   NaN
68094   NaN
68095   NaN
Name: hr_temp, Length: 269, dtype: float64

In [ ]:
df_copy.to_csv('../_data/train__dropped__no_disaster.csv', index=False)

In [38]:
def make_hourly(timestamp):
    y = timestamp.year
    m = timestamp.month
    d = timestamp.day
    h = timestamp.hour
    return pd.Timestamp(y, m, d, h, 0, 0)

In [45]:
df_copy.insert(2, 'Time', df_copy['pickup_datetime'].apply(make_hourly))

In [44]:
del df_copy['pickup_hour']

In [46]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,...,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,...,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,...,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0

In [47]:
df_copy.to_csv('../_data/train_with_osrm_and_weather_h.csv')

In [42]:
df_hourly.head()

,Time,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,2015-12-31 02:00:00,7.8,0.89,6.1,NNE,5.6,0.0,0.8,None,Overcast
1,2015-12-31 03:00:00,7.2,0.90,5.6,Variable,7.4,0.0,0.3,None,Overcast
2,2015-12-31 04:00:00,7.2,0.90,5.6,Calm,0.0,0.0,0.0,None,Overcast
3,2015-12-31 05:00:00,7.2,0.86,5.0,NW,7.4,0.0,0.0,None,Overcast
4,2015-12-31 06:00:00,7.2,0.90,5.6,West,5.6,0.0,0.0,None,Overcast

In [48]:
df_merged = df_copy.merge(df_hourly, how='left', on='Time')

In [64]:
df_hourly.iloc[2901]

Time          2016-04-30 23:00:00
Temp.                        10.6
Humidity                     0.56
Dew Point                     2.2
Wind Dir                      SSE
Wind Speed                     13
Gust Speed                      0
Precip                          0
Events                       None
Conditions                  Clear
Name: 2901, dtype: object

In [49]:
df_merged.head()

,id,vendor_id,Time,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

### df + osrm + weather + hourly weather 저장

In [65]:
df_merged.to_csv('../_data/train_with_osrm_and_weather_hourly.csv')