#### train process
1. import csv to df
1. process df to be modelable
  1. add variables
    * dow (cat - 7 vars)
    * hr (cat - 24 vars)
        * pair dow with hr?
    * slow_day (cat - 0, 1)
    * fast_day (cat - 0, 1)
    * L2
        * log L2?
    * google_dist (needs id?)
    * weather (needs datetime?)
1. model
1. use cooksd + fox criterion to identify outliers
1. filter outliers and make new df

encode week-hour (0 - 167)

## * need to drop outliers (esp. duration)

## * 아래 2칸 실행

In [67]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [68]:
# 경로 변수 (고정)

dataLoc = '../_data/'

trainfile = 'train_03_997.csv'
old_trainfile = 'train.csv'
kaggle_trainfile = 'train_k.csv'

testfile = 'test_clean.csv'
old_testfile = 'test.csv'

train_171016 = '171016_dow_hr_pas_L2_dur_only.csv'
train_osrm = '../_data/train_with_osrm.csv'
train_osrm_weather = '../_data/train_with_osrm_and_weather.csv'
train_osrm_weather_hourly = '../_data/train_with_osrm_and_weather_hourly.csv'
train_dropped_nan_fixed = '../_data/train__dropped__no_disaster_nan_fixed.csv'
train_added_airps = '../_data/train__dropped__lnglat_saved__airports__no_disaster.csv'
train_added_airps_cleaned = '../_data/train__dropped__cleaned__airports__no_disaster.csv'
train_latest = train_added_airps_cleaned

## `train_latest` (전처리 전)

In [69]:
pd.options.display.max_columns = 40

In [70]:
# train_with_osrm_and_weather.csv
df_train = pd.read_csv(dataLoc + train_latest)
df_train.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,430,Saturday,23,0.069424,1,False,False,False,False,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,430,Saturday,23,0.057791,1,False,False,False,False,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,430,Saturday,23,0.066698,2,False,False,False,False,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,430,Saturday,23,0.018223,1,False,False,False,False,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,430,Saturday,23,0.027198,1,False,False,False,False,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

### todo: add `blizz` var
* 1/23 : 6
* 1/24 : 5
* 1/25 : 4
* 1/26 : 3
* 1/27 : 2
* 1/28 : 1
* others : 0

In [21]:
df_train['m_d'][df_train['m_d'] == 123]

562318    123
562319    123
562320    123
562321    123
562322    123
562323    123
562324    123
562325    123
562326    123
562327    123
562328    123
562329    123
562330    123
562331    123
562332    123
562333    123
562334    123
562335    123
562336    123
562337    123
562338    123
562339    123
562340    123
562341    123
562342    123
562343    123
562344    123
562345    123
562346    123
562347    123
         ...
563453    123
563454    123
563455    123
563456    123
563457    123
563458    123
563459    123
563460    123
563461    123
563462    123
563463    123
563464    123
563465    123
563466    123
563467    123
563468    123
563469    123
563470    123
563471    123
563472    123
563473    123
563474    123
563475    123
563476    123
563477    123
563478    123
563479    123
563480    123
563481    123
563482    123
Name: m_d, Length: 1165, dtype: int64

In [71]:
def get_blizz(md):
    m = int(md[0])
    d = int(md[1:])
    blizz = 0
    if m == 1 and 23 <= d <= 28:
        blizz = 29 - d
    return blizz

df_train.insert(1, 'blizz', df_train.loc[:, 'm_d'].apply(str).apply(get_blizz))

In [72]:
df_train.loc[129 == df_train['m_d']].head()

,is_hol,blizz,m_d,dow,hr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
534081,False,0,129,Friday,23,0.013702,6,False,False,False,False,2526.6,41,30,0.0,0.0,6.0,0.6,0.5,-8.9,16.7,33.3,0.0,480
534082,False,0,129,Friday,23,0.034281,1,False,False,False,False,5673.0,41,30,0.0,0.0,6.0,0.6,0.5,-8.9,16.7,33.3,0.0,955
534083,False,0,129,Friday,23,0.065279,1,False,False,False,False,8727.4,41,30,0.0,0.0,6.0,0.6,0.5,-8.9,16.7,33.3,0.0,934
534084,False,0,129,Friday,23,0.036615,2,False,False,False,False,4449.0,41,30,0.0,0.0,6.0,0.6,0.5,-8.9,16.7,33.3,0.0,788
534085,False,0,129,Friday,23,0.014552,1,False,False,False,False,1909.2,41,30,0.0,0.0,6.0,0.6,0.5,-8.9,16.7,33.3,0.0,486

In [73]:
df_train['blizz'].value_counts()

0    659731
1      5699
2      5184
3      4790
4      4106
5      2346
6      1165
Name: blizz, dtype: int64

## rid outliers

In [74]:
# p_lng is idx2
# ...
# d_lat is idx5

df_copy = df_train.copy()

coords = ['p_lng', 'p_lat', 'd_lng', 'd_lat', 'dur']

for i in coords:
    lower = np.percentile(df_train[i], 0.3)
    upper = np.percentile(df_train[i], 99.7)
    df_copy = df_copy[ (df_copy[i] > lower) \
                         & (df_copy[i] < upper) ]

df_copy.shape

KeyError: 'p_lng'

In [75]:
df_copy = df_train.copy()
df_copy.shape

(683021, 24)

In [76]:
df_copy.head()

,is_hol,blizz,m_d,dow,hr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,0.069424,1,False,False,False,False,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,0.057791,1,False,False,False,False,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,0.066698,2,False,False,False,False,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,0.018223,1,False,False,False,False,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,0.027198,1,False,False,False,False,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [77]:
droppable_new = ['total_time', 'p_lng', 'p_lat', 'd_lng', 'd_lat']

for col in droppable_new:
    try:
        del df_copy[col]
    except:
        continue

In [78]:
df_copy.head()

,is_hol,blizz,m_d,dow,hr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,0.069424,1,False,False,False,False,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,0.057791,1,False,False,False,False,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,0.066698,2,False,False,False,False,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,0.018223,1,False,False,False,False,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,0.027198,1,False,False,False,False,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [79]:
df_copy['dur1'] = df_copy['dur']
del df_copy['dur']
df_copy['dur'] = df_copy['dur1']
del df_copy['dur1']
df_copy.head()

,is_hol,blizz,m_d,dow,hr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,total_dist,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,0.069424,1,False,False,False,False,10010.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,0.057791,1,False,False,False,False,10357.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,0.066698,2,False,False,False,False,9275.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,0.018223,1,False,False,False,False,2726.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,0.027198,1,False,False,False,False,3455.8,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [12]:
model0 = sm.OLS.from_formula('dur ~ C(is_hol) + C(m_d) + C(dow) + C(hr) + C(pas_cnt)\
                            + scale(total_dist) + day_max_temp + day_min_temp + day_rainfall\
                            + day_snowfall + day_snowdepth + hr_temp + hr_humid + hr_dewpt\
                            + hr_windspeed + hr_gustspeed + hr_precip - 1', data=df_copy)
res0 = model0.fit()
res0.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.640
Model:                            OLS   Adj. R-squared:                  0.640
Method:                 Least Squares   F-statistic:                     7770.
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        09:57:33   Log-Likelihood:            -4.9592e+06
No. Observations:              683021   AIC:                         9.919e+06
Df Residuals:                  682864   BIC:                         9.920e+06
Df Model:                         156
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
C(is_hol)[False]      548.5046     74.206      7.392      0.000     403.063     693.946
C(is_hol)[True]       479.8965     81.349      5.899      0.000     320.456     639.337
C(m_d)[T.102]         -48.0572      6.267     -7.668      0.000     -60.341     -35.773
C(m_d)[T.103]         -35.6020      5.568     -6.395      0.000     -46.514     -24.690
C(m_d)[T.104]         -16.5902      8.318     -1.995      0.046     -32.892      -0.288
C(m_d)[T.105]          -1.8506      9.130     -0.203      0.839     -19.745      16.044
C(m_d)[T.106]         -24.6205      6.688     -3.681      0.000     -37.729     -11.512
C(m_d)[T.107]         -40.6839      5.405     -7.527      0.000     -51.277     -30.090
C(m_d)[T.108]           0.8853      7.172      0.123      0.902     -13.171      14.942
C(m_d)[T.109]         -33.6940      4.637     -7.266      0.000     -42.783     -24.605
C(m_d)[T.110]         -35.8608      3.566    -10.056      0.000     -42.850     -28.871
C(m_d)[T.111]          26.7495      7.195      3.718      0.000      12.648      40.851
C(m_d)[T.112]         -23.6380      5.138     -4.601      0.000     -33.708     -13.568
C(m_d)[T.113]          31.1839      9.678      3.222      0.001      12.215      50.153
C(m_d)[T.114]           6.6192      7.194      0.920      0.357      -7.480      20.719
C(m_d)[T.115]          13.0987      5.831      2.247      0.025       1.671      24.526
C(m_d)[T.116]         -37.4920      4.229     -8.865      0.000     -45.781     -29.203
C(m_d)[T.117]          28.2426      5.769      4.896      0.000      16.936      39.549
C(m_d)[T.118]          29.6283      6.142      4.824      0.000      17.590      41.666
C(m_d)[T.119]          81.6852      9.365      8.722      0.000      63.329     100.041
C(m_d)[T.120]          34.0887      7.575      4.500      0.000      19.242      48.935
C(m_d)[T.121]          70.7168      7.768      9.104      0.000      55.492      85.942
C(m_d)[T.122]         102.5080     12.062      8.498      0.000      78.866     126.150
C(m_d)[T.123]          -3.4033      0.969     -3.513      0.000      -5.302      -1.505
C(m_d)[T.124]        -134.6091      4.906    -27.436      0.000    -144.225    -124.993
C(m_d)[T.125]          80.5291      4.615     17.450      0.000      71.484      89.574
C(m_d)[T.126]          33.2649      5.750      5.785      0.000      21.995      44.535
C(m_d)[T.127]          44.7938      4.560      9.822      0.000      35.856      53.732
C(m_d)[T.128]          33.2846      5.128      6.490      0.000      23.233      43.336
C(m_d)[T.129]          57.1170      7.185      7.950      0.000      43.035      71.199
C(m_d)[T.130]          18.1281      4.913      3.690      0.000       8.500      27.756
C(m_d)[T.131]         -25.9881      5.248     -4.952      0.000     -36.275     -15.702
C(m_d)[T.201]         -26.2171      5.137     -5.104      0.000     -36.285     -16.150
C(m_d)[T.202]         -13.5818      4.601     -2.952      0.003     -22.600      -4.563
C(m_d)[T.203]           4.0179      4.528      0.887      0.375      -4.857      12.893
C(m_d)[T.204]         -32.5476      4.706     -6.916      0.000     -41.772     -23.323
C(m_d)[T.205]          -2.4456      7.181     -0.341      0.733     -16.520      11.629
C(m_d)[T.206]          30.6096      5.751      5.323      0.000      19.339      41.880
C(m_d)[T.207]          -6.0564      4.854     -1.248      0.212     -15.571       3.458
C(m_d)[T.208]          -2.7498      7.480     -0.368      0.713     -17.411      11.912
C(m_d)[T.209]          16.6911      7.130      2.341      0.019       2.717      30.665
C(m_d)[T.210]           7.6058      7.000      1.087      0.277      -6.114      21.326
C(m_d)[T.211]          77.2318      9.273      8.328      0.000      59.056      95.407
C(m_d)[T.212]         164.2916     13.096     12.546      0.000     138.625     189.958
C(m_d)[T.213]          93.5430     11.122      8.410      0.000      71.744     115.342
C(m_d)[T.214]         159.1050     13.908     11.440      0.000     131.846     186.364
C(m_d)[T.215]          40.3795      5.642      7.157      0.000      29.322      51.437
C(m_d)[T.216]         -13.8135      4.290     -3.220      0.001     -22.222      -5.405
C(m_d)[T.217]          21.2165      6.969      3.044      0.002       7.557      34.876
C(m_d)[T.218]          43.9950      7.810      5.633      0.000      28.687      59.302
C(m_d)[T.219]          70.1773      9.169      7.654      0.000      52.207      88.148
C(m_d)[T.220]         -27.3173      5.554     -4.919      0.000     -38.203     -16.432
C(m_d)[T.221]         -11.4571      4.644     -2.467      0.014     -20.559      -2.355
C(m_d)[T.222]          -4.7352      4.845     -0.977      0.328     -14.231       4.761
C(m_d)[T.223]          60.9732      6.251      9.755      0.000      48.722      73.224
C(m_d)[T.224]          11.1204      4.080      2.726      0.006       3.124      19.117
C(m_d)[T.225]         -48.0953      5.071     -9.484      0.000     -58.035     -38.156
C(m_d)[T.226]          87.8509      9.213      9.536      0.000      69.794     105.908
C(m_d)[T.227]          38.2383      5.454      7.011      0.000      27.548      48.928
C(m_d)[T.228]         -22.4929      5.362     -4.195      0.000     -33.002     -11.984
C(m_d)[T.229]         -32.6372      5.092     -6.410      0.000     -42.616     -22.658
C(m_d)[T.301]         -26.7135      4.505     -5.929      0.000     -35.544     -17.883
C(m_d)[T.302]         -17.5422      4.346     -4.036      0.000     -26.060      -9.024
C(m_d)[T.303]          55.2605      7.741      7.138      0.000      40.088      70.433
C(m_d)[T.304]          77.3673      9.166      8.441      0.000      59.403      95.332
C(m_d)[T.305]          43.7673      5.440      8.046      0.000      33.105      54.429
C(m_d)[T.306]          46.9963      5.303      8.862      0.000      36.602      57.391
C(m_d)[T.307]         -26.6952      5.044     -5.292      0.000     -36.582     -16.809
C(m_d)[T.308]         -52.6894      7.317     -7.201      0.000     -67.030     -38.349
C(m_d)[T.309]         -80.9121      9.260     -8.738      0.000     -99.062     -62.762
C(m_d)[T.310]         -87.3033      9.911     -8.809      0.000    -106.728     -67.879
C(m_d)[T.311]          -2.4848      4.799     -0.518      0.605     -11.891       6.922
C(m_d)[T.312]         -17.5222      5.089     -3.443      0.001     -27.496      -7.548
C(m_d)[T.313]          -6.8084      5.749     -1.184      0.236     -18.077       4.460
C(m_d)[T.314]          35.9398      4.867      7.385      0.000      26.402      45.478
C(m_d)[T.315]         -32.7258      5.014     -6.527      0.000     -42.553     -22.898
C(m_d)[T.316]         -20.9372      5.868     -3.568      0.000     -32.438      -9.437
C(m_d)[T.317]         -14.3241      5.448     -2.629      0.009     -25.002      -3.647
C(m_d)[T.318]          44.7178      4.642      9.633      0.000      35.619      53.816
C(m_d)[T.319]          18.9439      4.663      4.063      0.000       9.805      28.083
C(m_d)[T.320]          25.4226      5.537      4.591      0.000      14.570      36.276
C(m_d)[T.321]         -23.0033      5.027     -4.576      0.000     -32.857     -13.150
C(m_d)[T.322]          -5.2522      4.880     -1.076      0.282     -14.816       4.312
C(m_d)[T.323]         -48.3176      7.466     -6.472      0.000     -62.950     -33.685
C(m_d)[T.324]          -4.4005      4.372     -1.007      0.314     -12.969       4.168
C(m_d)[T.325]        -100.5150      5.754    -17.469      0.000    -111.792     -89.238
C(m_d)[T.326]         -35.7352      4.574     -7.813      0.000     -44.700     -26.770
C(m_d)[T.327]         -35.6831      4.785     -7.457      0.000     -45.062     -26.304
C(m_d)[T.328]         -45.7527      5.152     -8.880      0.000     -55.851     -35.655
C(m_d)[T.329]         -33.0491      4.747     -6.963      0.000     -42.352     -23.746
C(m_d)[T.330]          -3.7552      4.526     -0.830      0.407     -12.625       5.115
C(m_d)[T.331]         -58.8494      8.142     -7.228      0.000     -74.807     -42.892
C(m_d)[T.401]         -18.3715      7.579     -2.424      0.015     -33.226      -3.517
C(m_d)[T.402]         -15.0064      5.376     -2.791      0.005     -25.544      -4.469
C(m_d)[T.403]           9.7697      4.622      2.114      0.035       0.711      18.828
C(m_d)[T.404]          75.9630      6.097     12.459      0.000      64.013      87.913
C(m_d)[T.405]          89.2366      5.284     16.887      0.000      78.879      99.594
C(m_d)[T.406]          44.7040      4.855      9.208      0.000      35.189      54.220
C(m_d)[T.407]           0.0990      4.484      0.022      0.982      -8.690       8.888
C(m_d)[T.408]          74.9316      5.997     12.494      0.000      63.177      86.686
C(m_d)[T.409]          37.6538      5.047      7.461      0.000      27.762      47.546
C(m_d)[T.410]          46.3280      4.422     10.476      0.000      37.660      54.996
C(m_d)[T.411]         -22.1240      5.892     -3.755      0.000     -33.673     -10.575
C(m_d)[T.412]          23.1486      5.156      4.490      0.000      13.043      33.254
C(m_d)[T.413]          35.5413      4.574      7.770      0.000      26.576      44.507
C(m_d)[T.414]          23.5592      5.123      4.599      0.000      13.518      33.600
C(m_d)[T.415]          51.4319      4.326     11.890      0.000      42.954      59.910
C(m_d)[T.416]         -19.5421      7.286     -2.682      0.007     -33.822      -5.262
C(m_d)[T.417]         -41.3922      9.217     -4.491      0.000     -59.457     -23.327
C(m_d)[T.418]         -60.6416     10.643     -5.698      0.000     -81.501     -39.782
C(m_d)[T.419]         -27.2436      9.036     -3.015      0.003     -44.954      -9.534
C(m_d)[T.420]          -6.7067      6.958     -0.964      0.335     -20.345       6.931
C(m_d)[T.421]          39.2286      8.118      4.832      0.000      23.318      55.139
C(m_d)[T.422]          24.6200      7.676      3.207      0.001       9.575      39.665
C(m_d)[T.423]         -34.9086      8.262     -4.225      0.000     -51.101     -18.716
C(m_d)[T.424]         -53.8661      7.305     -7.374      0.000     -68.184     -39.548
C(m_d)[T.425]         -67.9869      6.912     -9.837      0.000     -81.534     -54.440
C(m_d)[T.426]         -52.0571      5.458     -9.538      0.000     -62.755     -41.360
C(m_d)[T.427]          -2.0172      5.328     -0.379      0.705     -12.460       8.426
C(m_d)[T.428]         -16.8360      4.678     -3.599      0.000     -26.004      -7.668
C(m_d)[T.429]          27.3639      4.535      6.034      0.000      18.476      36.252
C(m_d)[T.430]         -27.1453      6.583     -4.123      0.000     -40.049     -14.242
C(dow)[T.Monday]      -39.9442      2.829    -14.121      0.000     -45.488     -34.400
C(dow)[T.Saturday]    -18.9396      4.047     -4.680      0.000     -26.871     -11.009
C(dow)[T.Sunday]      -93.9519      3.706    -25.350      0.000    -101.216     -86.688
C(dow)[T.Thursday]     46.9546      3.033     15.482      0.000      41.010      52.899
C(dow)[T.Tuesday]      22.3852      4.065      5.507      0.000      14.418      30.352
C(dow)[T.Wednesday]    29.4638      2.997      9.830      0.000      23.589      35.339
C(hr)[T.1]            -13.9742      3.400     -4.110      0.000     -20.638      -7.310
C(hr)[T.2]            -31.4459      3.743     -8.401      0.000     -38.782     -24.110
C(hr)[T.3]            -50.9787      4.152    -12.277      0.000     -59.117     -42.840
C(hr)[T.4]           -116.6269      4.666    -24.994      0.000    -125.772    -107.481
C(hr)[T.5]           -232.7411      4.792    -48.566      0.000    -242.134    -223.348
C(hr)[T.6]           -150.8035      3.612    -41.750      0.000    -157.883    -143.724
C(hr)[T.7]             17.4074      3.127      5.567      0.000      11.278      23.537
C(hr)[T.8]            145.9000      2.995     48.707      0.000     140.029     151.771
C(hr)[T.9]            171.2616      2.970     57.657      0.000     165.440     177.083
C(hr)[T.10]           171.6781      2.978     57.642      0.000     165.841     177.516
C(hr)[T.11]           184.6666      2.946     62.679      0.000     178.892     190.441
C(hr)[T.12]           184.8731      2.925     63.210      0.000     179.141     190.606
C(hr)[T.13]           176.0460      2.946     59.755      0.000     170.272     181.820
C(hr)[T.14]           192.4273      2.951     65.209      0.000     186.644     198.211
C(hr)[T.15]           205.0095      3.005     68.228      0.000     199.120     210.899
C(hr)[T.16]           190.8361      3.072     62.127      0.000     184.816     196.857
C(hr)[T.17]           187.9276      2.975     63.159      0.000     182.096     193.759
C(hr)[T.18]           161.8352      2.861     56.568      0.000     156.228     167.442
C(hr)[T.19]            99.9599      2.840     35.202      0.000      94.394     105.525
C(hr)[T.20]            46.2183      2.847     16.235      0.000      40.639      51.798
C(hr)[T.21]            27.4527      2.837      9.678      0.000      21.893      33.013
C(hr)[T.22]            32.0635      2.858     11.220      0.000      26.463      37.664
C(hr)[T.23]            10.3796      2.938      3.532      0.000       4.620      16.139
C(pas_cnt)[T.1]      -111.8802     95.530     -1.171      0.242    -299.116      75.356
C(pas_cnt)[T.2]       -91.7322     95.535     -0.960      0.337    -278.978      95.514
C(pas_cnt)[T.3]       -88.4483     95.551     -0.926      0.355    -275.726      98.829
C(pas_cnt)[T.4]       -72.8740     95.576     -0.762      0.446    -260.199     114.451
C(pas_cnt)[T.5]      -110.3487     95.546     -1.155      0.248    -297.615      76.918
C(pas_cnt)[T.6]      -111.9634     95.556     -1.172      0.241    -299.250      75.323
scale(total_dist)     453.3921      0.420   1080.258      0.000     452.570     454.215
day_max_temp            2.9999      0.373      8.043      0.000       2.269       3.731
day_min_temp           -0.3153      0.131     -2.413      0.016      -0.571      -0.059
day_rainfall          -23.6088      2.347    -10.058      0.000     -28.209     -19.008
day_snowfall            8.4761      0.545     15.544      0.000       7.407       9.545
day_snowdepth           9.2258      0.324     28.507      0.000       8.591       9.860
hr_temp                 4.0518      0.441      9.185      0.000       3.187       4.916
hr_humid              109.7792     13.571      8.089      0.000      83.180     136.379
hr_dewpt               -2.5253      0.473     -5.340      0.000      -3.452      -1.598
hr_windspeed            0.3509      0.073      4.797      0.000       0.208       0.494
hr_gustspeed            0.1678      0.037      4.493      0.000       0.095       0.241
hr_precip              -4.5534      1.031     -4.415      0.000      -6.575      -2.532
==============================================================================
Omnibus:                   211867.796   Durbin-Watson:                   1.895
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1613158.462
Skew:                           1.287   Prob(JB):                         0.00
Kurtosis:                      10.075   Cond. No.                     1.38e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.62e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [10]:
model00 = sm.OLS.from_formula('dur ~ C(is_hol) + C(dow) + C(hr)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed)', data=df_copy)
res00 = model00.fit()
res00.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.636
Method:                 Least Squares   F-statistic:                 3.145e+04
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        11:08:13   Log-Likelihood:            -4.9623e+06
No. Observations:              683021   AIC:                         9.925e+06
Df Residuals:                  682982   BIC:                         9.925e+06
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              729.3389      2.437    299.230      0.000     724.562     734.116
C(is_hol)[T.True]      -94.7116      3.026    -31.298      0.000    -100.643     -88.781
C(dow)[T.Monday]       -77.8799      1.623    -48.000      0.000     -81.060     -74.700
C(dow)[T.Saturday]     -61.6634      1.501    -41.085      0.000     -64.605     -58.722
C(dow)[T.Sunday]      -136.7136      1.617    -84.529      0.000    -139.884    -133.544
C(dow)[T.Thursday]      12.6764      1.522      8.329      0.000       9.693      15.659
C(dow)[T.Tuesday]      -18.5744      1.564    -11.876      0.000     -21.640     -15.509
C(dow)[T.Wednesday]     -4.7559      1.560     -3.048      0.002      -7.814      -1.698
C(hr)[T.1]             -14.1383      3.415     -4.140      0.000     -20.831      -7.446
C(hr)[T.2]             -31.6790      3.757     -8.432      0.000     -39.042     -24.316
C(hr)[T.3]             -50.7404      4.166    -12.180      0.000     -58.905     -42.575
C(hr)[T.4]            -116.6578      4.682    -24.916      0.000    -125.834    -107.481
C(hr)[T.5]            -232.9511      4.809    -48.438      0.000    -242.377    -223.525
C(hr)[T.6]            -152.3412      3.621    -42.076      0.000    -159.438    -145.245
C(hr)[T.7]              16.9538      3.131      5.414      0.000      10.816      23.091
C(hr)[T.8]             144.9648      2.998     48.361      0.000     139.090     150.840
C(hr)[T.9]             169.8262      2.977     57.051      0.000     163.992     175.661
C(hr)[T.10]            169.1867      2.985     56.676      0.000     163.336     175.037
C(hr)[T.11]            182.0178      2.955     61.592      0.000     176.226     187.810
C(hr)[T.12]            180.9279      2.927     61.823      0.000     175.192     186.664
C(hr)[T.13]            172.1040      2.942     58.502      0.000     166.338     177.870
C(hr)[T.14]            188.6155      2.933     64.308      0.000     182.867     194.364
C(hr)[T.15]            199.1085      2.973     66.965      0.000     193.281     204.936
C(hr)[T.16]            184.9006      3.043     60.760      0.000     178.936     190.865
C(hr)[T.17]            183.2339      2.940     62.316      0.000     177.471     188.997
C(hr)[T.18]            157.9145      2.833     55.738      0.000     152.362     163.467
C(hr)[T.19]             96.3786      2.824     34.129      0.000      90.844     101.913
C(hr)[T.20]             42.9984      2.845     15.115      0.000      37.423      48.574
C(hr)[T.21]             24.7875      2.841      8.724      0.000      19.219      30.356
C(hr)[T.22]             30.2512      2.865     10.558      0.000      24.635      35.867
C(hr)[T.23]              9.4482      2.949      3.204      0.001       3.668      15.228
scale(total_dist)      453.4308      0.421   1075.964      0.000     452.605     454.257
scale(day_max_temp)      7.6542      1.212      6.316      0.000       5.279      10.029
scale(day_rainfall)     -1.1038      0.538     -2.052      0.040      -2.158      -0.050
scale(day_snowfall)      4.8695      0.474     10.273      0.000       3.940       5.798
scale(day_snowdepth)    23.2735      0.430     54.090      0.000      22.430      24.117
scale(hr_temp)           9.9026      1.234      8.025      0.000       7.484      12.321
scale(hr_humid)         -1.0193      0.511     -1.995      0.046      -2.021      -0.018
scale(hr_windspeed)      6.1075      0.436     14.023      0.000       5.254       6.961
==============================================================================
Omnibus:                   214569.748   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1631870.979
Skew:                           1.307   Prob(JB):                         0.00
Kurtosis:                      10.107   Cond. No.                         37.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
model000 = sm.OLS.from_formula('dur ~ C(is_hol) + C(dow) + C(hr)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1', data=df_copy)
res000 = model000.fit()
res000.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dur1   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.636
Method:                 Least Squares   F-statistic:                 3.145e+04
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        11:11:08   Log-Likelihood:            -4.9623e+06
No. Observations:              683021   AIC:                         9.925e+06
Df Residuals:                  682982   BIC:                         9.925e+06
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
C(is_hol)[False]       729.3389      2.437    299.230      0.000     724.562     734.116
C(is_hol)[True]        634.6274      3.750    169.236      0.000     627.278     641.977
C(dow)[T.Monday]       -77.8799      1.623    -48.000      0.000     -81.060     -74.700
C(dow)[T.Saturday]     -61.6634      1.501    -41.085      0.000     -64.605     -58.722
C(dow)[T.Sunday]      -136.7136      1.617    -84.529      0.000    -139.884    -133.544
C(dow)[T.Thursday]      12.6764      1.522      8.329      0.000       9.693      15.659
C(dow)[T.Tuesday]      -18.5744      1.564    -11.876      0.000     -21.640     -15.509
C(dow)[T.Wednesday]     -4.7559      1.560     -3.048      0.002      -7.814      -1.698
C(hr)[T.1]             -14.1383      3.415     -4.140      0.000     -20.831      -7.446
C(hr)[T.2]             -31.6790      3.757     -8.432      0.000     -39.042     -24.316
C(hr)[T.3]             -50.7404      4.166    -12.180      0.000     -58.905     -42.575
C(hr)[T.4]            -116.6578      4.682    -24.916      0.000    -125.834    -107.481
C(hr)[T.5]            -232.9511      4.809    -48.438      0.000    -242.377    -223.525
C(hr)[T.6]            -152.3412      3.621    -42.076      0.000    -159.438    -145.245
C(hr)[T.7]              16.9538      3.131      5.414      0.000      10.816      23.091
C(hr)[T.8]             144.9648      2.998     48.361      0.000     139.090     150.840
C(hr)[T.9]             169.8262      2.977     57.051      0.000     163.992     175.661
C(hr)[T.10]            169.1867      2.985     56.676      0.000     163.336     175.037
C(hr)[T.11]            182.0178      2.955     61.592      0.000     176.226     187.810
C(hr)[T.12]            180.9279      2.927     61.823      0.000     175.192     186.664
C(hr)[T.13]            172.1040      2.942     58.502      0.000     166.338     177.870
C(hr)[T.14]            188.6155      2.933     64.308      0.000     182.867     194.364
C(hr)[T.15]            199.1085      2.973     66.965      0.000     193.281     204.936
C(hr)[T.16]            184.9006      3.043     60.760      0.000     178.936     190.865
C(hr)[T.17]            183.2339      2.940     62.316      0.000     177.471     188.997
C(hr)[T.18]            157.9145      2.833     55.738      0.000     152.362     163.467
C(hr)[T.19]             96.3786      2.824     34.129      0.000      90.844     101.913
C(hr)[T.20]             42.9984      2.845     15.115      0.000      37.423      48.574
C(hr)[T.21]             24.7875      2.841      8.724      0.000      19.219      30.356
C(hr)[T.22]             30.2512      2.865     10.558      0.000      24.635      35.867
C(hr)[T.23]              9.4482      2.949      3.204      0.001       3.668      15.228
scale(total_dist)      453.4308      0.421   1075.964      0.000     452.605     454.257
scale(day_max_temp)      7.6542      1.212      6.316      0.000       5.279      10.029
scale(day_rainfall)     -1.1038      0.538     -2.052      0.040      -2.158      -0.050
scale(day_snowfall)      4.8695      0.474     10.273      0.000       3.940       5.798
scale(day_snowdepth)    23.2735      0.430     54.090      0.000      22.430      24.117
scale(hr_temp)           9.9026      1.234      8.025      0.000       7.484      12.321
scale(hr_humid)         -1.0193      0.511     -1.995      0.046      -2.021      -0.018
scale(hr_windspeed)      6.1075      0.436     14.023      0.000       5.254       6.961
==============================================================================
Omnibus:                   214569.748   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1631870.979
Skew:                           1.307   Prob(JB):                         0.00
Kurtosis:                      10.107   Cond. No.                         38.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [80]:
df_copy.to_csv('../_data/train__dropped__cleaned__eval__airports__disaster.csv', index=False)

In [64]:
model0000 = sm.OLS.from_formula('dur ~ scale(blizz) + C(is_hol) + C(dow):C(hr) + C(p_JFK) + C(p_LGA)\
                            + C(d_JFK) + C(d_LGA)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1', data=df_copy)
res0000 = model0000.fit()
res0000.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    dur   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     7467.
Date:                Sat, 21 Oct 2017   Prob (F-statistic):               0.00
Time:                        13:03:47   Log-Likelihood:            -4.9349e+06
No. Observations:              683021   AIC:                         9.870e+06
Df Residuals:                  682839   BIC:                         9.872e+06
Df Model:                         181
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(is_hol)[False]                680.5905      5.205    130.760      0.000     670.389     690.792
C(is_hol)[True]                 595.6562      5.842    101.956      0.000     584.205     607.107
C(p_JFK)[T.True]               -702.1837      4.374   -160.539      0.000    -710.756    -693.611
C(p_LGA)[T.True]               -173.4399      2.932    -59.148      0.000    -179.187    -167.693
C(d_JFK)[T.True]               -656.4282      6.383   -102.838      0.000    -668.939    -643.918
C(d_LGA)[T.True]               -233.5808      4.184    -55.824      0.000    -241.782    -225.380
C(hr)[T.1]                      -23.5761      8.206     -2.873      0.004     -39.659      -7.493
C(hr)[T.2]                      -54.1910      9.179     -5.904      0.000     -72.181     -36.201
C(hr)[T.3]                      -75.0593     10.166     -7.384      0.000     -94.984     -55.135
C(hr)[T.4]                     -112.4712     11.365     -9.896      0.000    -134.746     -90.196
C(hr)[T.5]                     -182.4893     11.215    -16.271      0.000    -204.471    -160.507
C(hr)[T.6]                      -97.5945      8.332    -11.713      0.000    -113.926     -81.263
C(hr)[T.7]                       78.3929      7.109     11.027      0.000      64.459      92.326
C(hr)[T.8]                      220.1442      6.896     31.924      0.000     206.629     233.660
C(hr)[T.9]                      257.6776      6.976     36.935      0.000     244.004     271.351
C(hr)[T.10]                     259.0579      7.157     36.195      0.000     245.030     273.086
C(hr)[T.11]                     261.9064      7.114     36.815      0.000     247.963     275.850
C(hr)[T.12]                     241.9013      7.017     34.473      0.000     228.148     255.655
C(hr)[T.13]                     202.1687      7.017     28.811      0.000     188.416     215.922
C(hr)[T.14]                     248.5425      6.904     36.000      0.000     235.011     262.074
C(hr)[T.15]                     295.5609      7.012     42.150      0.000     281.817     309.304
C(hr)[T.16]                     270.7276      7.243     37.377      0.000     256.531     284.924
C(hr)[T.17]                     244.8075      6.891     35.528      0.000     231.302     258.313
C(hr)[T.18]                     209.7637      6.594     31.811      0.000     196.840     222.688
C(hr)[T.19]                     172.0703      6.538     26.319      0.000     159.256     184.884
C(hr)[T.20]                     131.1205      6.654     19.705      0.000     118.078     144.162
C(hr)[T.21]                     110.1510      6.688     16.469      0.000      97.042     123.260
C(hr)[T.22]                     132.7229      6.635     20.005      0.000     119.719     145.726
C(hr)[T.23]                     126.6309      6.650     19.043      0.000     113.598     139.664
C(dow)[T.Monday]:C(hr)[0]      -139.1663      9.212    -15.107      0.000    -157.222    -121.110
C(dow)[T.Saturday]:C(hr)[0]      70.6236      6.795     10.393      0.000      57.306      83.942
C(dow)[T.Sunday]:C(hr)[0]        73.1405      6.830     10.709      0.000      59.754      86.527
C(dow)[T.Thursday]:C(hr)[0]     -68.8420      8.258     -8.336      0.000     -85.027     -52.657
C(dow)[T.Tuesday]:C(hr)[0]     -119.4877      9.230    -12.945      0.000    -137.579    -101.397
C(dow)[T.Wednesday]:C(hr)[0]    -85.6920      8.706     -9.843      0.000    -102.756     -68.628
C(dow)[T.Monday]:C(hr)[1]      -118.6428     11.882     -9.985      0.000    -141.931     -95.354
C(dow)[T.Saturday]:C(hr)[1]      36.3495      7.962      4.565      0.000      20.744      51.955
C(dow)[T.Sunday]:C(hr)[1]        61.4485      7.924      7.755      0.000      45.918      76.979
C(dow)[T.Thursday]:C(hr)[1]     -88.2049     10.467     -8.427      0.000    -108.719     -67.691
C(dow)[T.Tuesday]:C(hr)[1]     -132.6684     11.859    -11.187      0.000    -155.912    -109.425
C(dow)[T.Wednesday]:C(hr)[1]   -102.4835     11.111     -9.223      0.000    -124.261     -80.706
C(dow)[T.Monday]:C(hr)[2]       -82.1241     14.821     -5.541      0.000    -111.172     -53.076
C(dow)[T.Saturday]:C(hr)[2]      37.0149      9.221      4.014      0.000      18.941      55.089
C(dow)[T.Sunday]:C(hr)[2]        29.3520      9.259      3.170      0.002      11.204      47.500
C(dow)[T.Thursday]:C(hr)[2]     -80.5408     13.246     -6.080      0.000    -106.502     -54.579
C(dow)[T.Tuesday]:C(hr)[2]      -99.9972     15.057     -6.641      0.000    -129.509     -70.485
C(dow)[T.Wednesday]:C(hr)[2]    -79.9144     13.565     -5.891      0.000    -106.502     -53.327
C(dow)[T.Monday]:C(hr)[3]       -46.2559     17.285     -2.676      0.007     -80.134     -12.378
C(dow)[T.Saturday]:C(hr)[3]      20.3062     10.714      1.895      0.058      -0.694      41.306
C(dow)[T.Sunday]:C(hr)[3]        26.9971     10.578      2.552      0.011       6.265      47.729
C(dow)[T.Thursday]:C(hr)[3]    -103.9471     15.576     -6.673      0.000    -134.476     -73.418
C(dow)[T.Tuesday]:C(hr)[3]     -100.4170     18.557     -5.411      0.000    -136.788     -64.046
C(dow)[T.Wednesday]:C(hr)[3]    -73.6210     16.415     -4.485      0.000    -105.794     -41.448
C(dow)[T.Monday]:C(hr)[4]      -115.0315     17.319     -6.642      0.000    -148.976     -81.087
C(dow)[T.Saturday]:C(hr)[4]      16.1864     12.847      1.260      0.208      -8.994      41.366
C(dow)[T.Sunday]:C(hr)[4]        23.8378     12.515      1.905      0.057      -0.692      48.368
C(dow)[T.Thursday]:C(hr)[4]    -103.7965     16.937     -6.128      0.000    -136.992     -70.601
C(dow)[T.Tuesday]:C(hr)[4]     -108.6300     18.227     -5.960      0.000    -144.354     -72.906
C(dow)[T.Wednesday]:C(hr)[4]    -91.3983     17.584     -5.198      0.000    -125.862     -56.934
C(dow)[T.Monday]:C(hr)[5]       -61.2515     14.838     -4.128      0.000     -90.333     -32.170
C(dow)[T.Saturday]:C(hr)[5]     -23.7225     15.034     -1.578      0.115     -53.188       5.743
C(dow)[T.Sunday]:C(hr)[5]        -4.6095     15.050     -0.306      0.759     -34.108      24.889
C(dow)[T.Thursday]:C(hr)[5]     -23.0494     14.555     -1.584      0.113     -51.577       5.478
C(dow)[T.Tuesday]:C(hr)[5]      -24.4871     14.718     -1.664      0.096     -53.334       4.360
C(dow)[T.Wednesday]:C(hr)[5]    -15.1487     14.709     -1.030      0.303     -43.978      13.680
C(dow)[T.Monday]:C(hr)[6]        -3.7065      9.389     -0.395      0.693     -22.108      14.695
C(dow)[T.Saturday]:C(hr)[6]    -115.4931     11.777     -9.807      0.000    -138.575     -92.411
C(dow)[T.Sunday]:C(hr)[6]      -155.1027     12.601    -12.309      0.000    -179.800    -130.406
C(dow)[T.Thursday]:C(hr)[6]      10.9855      9.140      1.202      0.229      -6.928      28.899
C(dow)[T.Tuesday]:C(hr)[6]       12.4875      9.223      1.354      0.176      -5.589      30.564
C(dow)[T.Wednesday]:C(hr)[6]      5.3420      9.220      0.579      0.562     -12.729      23.413
C(dow)[T.Monday]:C(hr)[7]       -10.1262      7.150     -1.416      0.157     -24.141       3.888
C(dow)[T.Saturday]:C(hr)[7]    -212.2612      9.417    -22.541      0.000    -230.718    -193.805
C(dow)[T.Sunday]:C(hr)[7]      -255.6381     10.577    -24.168      0.000    -276.369    -234.907
C(dow)[T.Thursday]:C(hr)[7]      19.5618      6.819      2.869      0.004       6.197      32.927
C(dow)[T.Tuesday]:C(hr)[7]       12.5818      6.896      1.825      0.068      -0.934      26.098
C(dow)[T.Wednesday]:C(hr)[7]     15.8440      6.820      2.323      0.020       2.478      29.210
C(dow)[T.Monday]:C(hr)[8]       -11.1157      6.585     -1.688      0.091     -24.023       1.792
C(dow)[T.Saturday]:C(hr)[8]    -287.4326      7.924    -36.272      0.000    -302.964    -271.901
C(dow)[T.Sunday]:C(hr)[8]      -355.1481      8.801    -40.355      0.000    -372.397    -337.899
C(dow)[T.Thursday]:C(hr)[8]      36.9233      6.353      5.812      0.000      24.471      49.375
C(dow)[T.Tuesday]:C(hr)[8]       28.1632      6.414      4.391      0.000      15.592      40.734
C(dow)[T.Wednesday]:C(hr)[8]     14.3396      6.335      2.264      0.024       1.924      26.756
C(dow)[T.Monday]:C(hr)[9]       -18.6074      6.691     -2.781      0.005     -31.722      -5.492
C(dow)[T.Saturday]:C(hr)[9]    -274.2474      7.111    -38.565      0.000    -288.185    -260.309
C(dow)[T.Sunday]:C(hr)[9]      -355.2434      7.771    -45.712      0.000    -370.475    -340.012
C(dow)[T.Thursday]:C(hr)[9]      32.3813      6.592      4.912      0.000      19.461      45.302
C(dow)[T.Tuesday]:C(hr)[9]       45.5890      6.594      6.914      0.000      32.665      58.513
C(dow)[T.Wednesday]:C(hr)[9]     23.7469      6.605      3.595      0.000      10.801      36.693
C(dow)[T.Monday]:C(hr)[10]      -31.5160      7.216     -4.368      0.000     -45.658     -17.374
C(dow)[T.Saturday]:C(hr)[10]   -232.9772      6.944    -33.551      0.000    -246.587    -219.367
C(dow)[T.Sunday]:C(hr)[10]     -302.2014      7.237    -41.756      0.000    -316.386    -288.017
C(dow)[T.Thursday]:C(hr)[10]     44.7759      6.945      6.447      0.000      31.163      58.389
C(dow)[T.Tuesday]:C(hr)[10]      54.2645      7.048      7.700      0.000      40.451      68.078
C(dow)[T.Wednesday]:C(hr)[10]    41.5126      6.983      5.945      0.000      27.827      55.199
C(dow)[T.Monday]:C(hr)[11]      -36.6989      7.134     -5.144      0.000     -50.682     -22.716
C(dow)[T.Saturday]:C(hr)[11]   -188.0574      6.791    -27.692      0.000    -201.367    -174.747
C(dow)[T.Sunday]:C(hr)[11]     -254.7451      6.904    -36.898      0.000    -268.277    -241.213
C(dow)[T.Thursday]:C(hr)[11]     54.4436      6.899      7.892      0.000      40.922      67.965
C(dow)[T.Tuesday]:C(hr)[11]      53.4472      6.981      7.656      0.000      39.765      67.129
C(dow)[T.Wednesday]:C(hr)[11]    47.9099      6.979      6.865      0.000      34.232      61.588
C(dow)[T.Monday]:C(hr)[12]      -38.6599      6.961     -5.554      0.000     -52.304     -25.016
C(dow)[T.Saturday]:C(hr)[12]   -130.1995      6.499    -20.032      0.000    -142.938    -117.461
C(dow)[T.Sunday]:C(hr)[12]     -197.2517      6.707    -29.410      0.000    -210.397    -184.106
C(dow)[T.Thursday]:C(hr)[12]     69.3534      6.729     10.307      0.000      56.165      82.542
C(dow)[T.Tuesday]:C(hr)[12]      51.0753      6.850      7.457      0.000      37.650      64.500
C(dow)[T.Wednesday]:C(hr)[12]    65.9462      6.771      9.739      0.000      52.675      79.218
C(dow)[T.Monday]:C(hr)[13]      -39.3274      6.992     -5.624      0.000     -53.032     -25.623
C(dow)[T.Saturday]:C(hr)[13]    -49.6676      6.494     -7.648      0.000     -62.396     -36.939
C(dow)[T.Sunday]:C(hr)[13]     -114.6983      6.675    -17.183      0.000    -127.781    -101.615
C(dow)[T.Thursday]:C(hr)[13]     77.5589      6.765     11.465      0.000      64.300      90.818
C(dow)[T.Tuesday]:C(hr)[13]      70.4295      6.841     10.295      0.000      57.022      83.837
C(dow)[T.Wednesday]:C(hr)[13]    95.7653      6.789     14.107      0.000      82.460     109.071
C(dow)[T.Monday]:C(hr)[14]      -64.2782      6.686     -9.614      0.000     -77.383     -51.174
C(dow)[T.Saturday]:C(hr)[14]   -107.3621      6.429    -16.699      0.000    -119.963     -94.761
C(dow)[T.Sunday]:C(hr)[14]     -123.2541      6.578    -18.738      0.000    -136.147    -110.362
C(dow)[T.Thursday]:C(hr)[14]     67.5948      6.509     10.385      0.000      54.838      80.352
C(dow)[T.Tuesday]:C(hr)[14]      20.3637      6.597      3.087      0.002       7.434      33.293
C(dow)[T.Wednesday]:C(hr)[14]    42.9203      6.585      6.517      0.000      30.013      55.828
C(dow)[T.Monday]:C(hr)[15]      -94.5099      6.838    -13.822      0.000    -107.912     -81.108
C(dow)[T.Saturday]:C(hr)[15]   -135.5077      6.560    -20.656      0.000    -148.366    -122.650
C(dow)[T.Sunday]:C(hr)[15]     -173.5185      6.744    -25.729      0.000    -186.737    -160.300
C(dow)[T.Thursday]:C(hr)[15]     19.3627      6.684      2.897      0.004       6.261      32.464
C(dow)[T.Tuesday]:C(hr)[15]     -27.8946      6.773     -4.118      0.000     -41.170     -14.619
C(dow)[T.Wednesday]:C(hr)[15]    -5.0314      6.752     -0.745      0.456     -18.265       8.202
C(dow)[T.Monday]:C(hr)[16]      -92.4852      7.197    -12.851      0.000    -106.591     -78.379
C(dow)[T.Saturday]:C(hr)[16]   -109.7034      6.891    -15.921      0.000    -123.209     -96.198
C(dow)[T.Sunday]:C(hr)[16]     -136.9635      6.993    -19.586      0.000    -150.669    -123.258
C(dow)[T.Thursday]:C(hr)[16]     24.8813      7.235      3.439      0.001      10.700      39.062
C(dow)[T.Tuesday]:C(hr)[16]     -23.1758      7.224     -3.208      0.001     -37.335      -9.017
C(dow)[T.Wednesday]:C(hr)[16]    -0.4220      7.176     -0.059      0.953     -14.487      13.643
C(dow)[T.Monday]:C(hr)[17]      -69.3818      6.507    -10.662      0.000     -82.136     -56.628
C(dow)[T.Saturday]:C(hr)[17]    -66.1783      6.304    -10.498      0.000     -78.534     -53.822
C(dow)[T.Sunday]:C(hr)[17]     -122.2783      6.494    -18.830      0.000    -135.006    -109.550
C(dow)[T.Thursday]:C(hr)[17]     30.9233      6.500      4.758      0.000      18.184      43.662
C(dow)[T.Tuesday]:C(hr)[17]       4.4655      6.482      0.689      0.491      -8.238      17.169
C(dow)[T.Wednesday]:C(hr)[17]    35.5821      6.478      5.492      0.000      22.885      48.280
C(dow)[T.Monday]:C(hr)[18]      -70.0841      5.853    -11.974      0.000     -81.556     -58.613
C(dow)[T.Saturday]:C(hr)[18]    -18.4363      5.794     -3.182      0.001     -29.793      -7.079
C(dow)[T.Sunday]:C(hr)[18]     -110.6060      6.161    -17.953      0.000    -122.681     -98.531
C(dow)[T.Thursday]:C(hr)[18]     40.9475      5.787      7.076      0.000      29.605      52.290
C(dow)[T.Tuesday]:C(hr)[18]       1.9637      5.828      0.337      0.736      -9.460      13.387
C(dow)[T.Wednesday]:C(hr)[18]    11.6162      5.819      1.996      0.046       0.210      23.022
C(dow)[T.Monday]:C(hr)[19]     -125.2869      5.898    -21.241      0.000    -136.848    -113.726
C(dow)[T.Saturday]:C(hr)[19]     35.1884      5.708      6.164      0.000      24.000      46.377
C(dow)[T.Sunday]:C(hr)[19]     -122.8417      6.317    -19.446      0.000    -135.223    -110.460
C(dow)[T.Thursday]:C(hr)[19]     -7.8445      5.702     -1.376      0.169     -19.020       3.331
C(dow)[T.Tuesday]:C(hr)[19]     -66.5160      5.796    -11.476      0.000     -77.876     -55.156
C(dow)[T.Wednesday]:C(hr)[19]   -44.2393      5.756     -7.686      0.000     -55.521     -32.958
C(dow)[T.Monday]:C(hr)[20]     -142.9641      6.188    -23.102      0.000    -155.093    -130.835
C(dow)[T.Saturday]:C(hr)[20]     28.4689      6.103      4.665      0.000      16.508      40.430
C(dow)[T.Sunday]:C(hr)[20]     -137.6389      6.628    -20.767      0.000    -150.629    -124.649
C(dow)[T.Thursday]:C(hr)[20]    -30.8149      5.879     -5.242      0.000     -42.337     -19.293
C(dow)[T.Tuesday]:C(hr)[20]     -88.0072      5.970    -14.741      0.000     -99.709     -76.306
C(dow)[T.Wednesday]:C(hr)[20]   -61.3248      5.930    -10.342      0.000     -72.947     -49.703
C(dow)[T.Monday]:C(hr)[21]     -139.7359      6.310    -22.145      0.000    -152.104    -127.368
C(dow)[T.Saturday]:C(hr)[21]     15.8518      6.119      2.591      0.010       3.859      27.844
C(dow)[T.Sunday]:C(hr)[21]     -147.7791      6.771    -21.824      0.000    -161.051    -134.507
C(dow)[T.Thursday]:C(hr)[21]    -18.7440      5.892     -3.181      0.001     -30.291      -7.197
C(dow)[T.Tuesday]:C(hr)[21]     -96.8004      6.061    -15.970      0.000    -108.680     -84.921
C(dow)[T.Wednesday]:C(hr)[21]   -65.5167      5.976    -10.964      0.000     -77.229     -53.805
C(dow)[T.Monday]:C(hr)[22]     -174.8197      6.584    -26.553      0.000    -187.724    -161.916
C(dow)[T.Saturday]:C(hr)[22]     10.2164      5.944      1.719      0.086      -1.433      21.866
C(dow)[T.Sunday]:C(hr)[22]     -198.4199      6.962    -28.500      0.000    -212.066    -184.774
C(dow)[T.Thursday]:C(hr)[22]    -49.8130      5.915     -8.421      0.000     -61.407     -38.219
C(dow)[T.Tuesday]:C(hr)[22]    -125.2616      6.192    -20.228      0.000    -137.399    -113.124
C(dow)[T.Wednesday]:C(hr)[22]   -95.2735      6.082    -15.664      0.000    -107.195     -83.352
C(dow)[T.Monday]:C(hr)[23]     -209.3888      7.354    -28.472      0.000    -223.803    -194.975
C(dow)[T.Saturday]:C(hr)[23]     -0.2761      5.846     -0.047      0.962     -11.735      11.182
C(dow)[T.Sunday]:C(hr)[23]     -236.4856      7.605    -31.096      0.000    -251.391    -221.580
C(dow)[T.Thursday]:C(hr)[23]    -84.8416      6.156    -13.781      0.000     -96.908     -72.776
C(dow)[T.Tuesday]:C(hr)[23]    -178.5295      6.791    -26.290      0.000    -191.839    -165.220
C(dow)[T.Wednesday]:C(hr)[23]  -133.3245      6.574    -20.280      0.000    -146.210    -120.439
scale(blizz)                      5.3568      1.254      4.271      0.000       2.899       7.815
scale(total_dist)               522.9338      0.571    916.388      0.000     521.815     524.052
scale(day_max_temp)              11.3324      1.172      9.667      0.000       9.035      13.630
scale(day_rainfall)              -1.3094      0.518     -2.529      0.011      -2.324      -0.295
scale(day_snowfall)               2.7522      0.632      4.356      0.000       1.514       3.991
scale(day_snowdepth)             20.0518      1.148     17.465      0.000      17.801      22.302
scale(hr_temp)                    5.4432      1.195      4.555      0.000       3.101       7.785
scale(hr_humid)                  -1.0619      0.494     -2.149      0.032      -2.030      -0.094
scale(hr_windspeed)               6.1903      0.430     14.398      0.000       5.348       7.033
==============================================================================
Omnibus:                   236048.585   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2135671.393
Skew:                           1.407   Prob(JB):                         0.00
Kurtosis:                      11.193   Cond. No.                         114.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
res0.aic

9918616.329233449

In [65]:
sm.stats.anova_lm(res0000, typ=2)

                            sum_sq        df              F        PR(>F)
C(is_hol)             1.944805e+09       2.0    8801.539673  0.000000e+00
C(p_JFK)              2.847387e+09       1.0   25772.653038  0.000000e+00
C(p_LGA)              3.865199e+08       1.0    3498.520863  0.000000e+00
C(d_JFK)              1.168405e+09       1.0   10575.623077  0.000000e+00
C(d_LGA)              3.442967e+08       1.0    3116.344679  0.000000e+00
C(dow):C(hr)          1.087717e+10     167.0     589.538322  0.000000e+00
scale(blizz)          2.015498e+06       1.0      18.242947  1.944709e-05
scale(total_dist)     9.277818e+10       1.0  839766.356871  0.000000e+00
scale(day_max_temp)   1.032436e+07       1.0      93.449243  4.181149e-22
scale(day_rainfall)   7.065417e+05       1.0       6.395145  1.144351e-02
scale(day_snowfall)   2.095930e+06       1.0      18.970964  1.327422e-05
scale(day_snowdepth)  3.369843e+07       1.0     305.015753  2.753737e-68
scale(hr_temp)        2.292107e+06       1.0      20.746627  5.243289e-06
scale(hr_humid)       5.104540e+05       1.0       4.620290  3.159625e-02
scale(hr_windspeed)   2.290229e+07       1.0     207.296324  5.428079e-47
Residual              7.544070e+10  682839.0            NaN           NaN

## cross validation

In [22]:
#df_copy.to_csv('../_data/train__dropped__shaved__cleaned__no_disaster.csv', index=False)

In [81]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

fmla_no_airport_no_blizz = 'dur1 ~ C(is_hol) + C(dow):C(hr) + scale(total_dist)\
             + scale(day_max_temp) + scale(day_rainfall)\
             + scale(day_snowfall) + scale(day_snowdepth)\
             + scale(hr_temp) + scale(hr_humid) + scale(hr_windspeed) - 1'

fmla_no_blizz = 'dur ~ C(is_hol) + C(dow):C(hr) + C(p_JFK) + C(p_LGA)\
                            + C(d_JFK) + C(d_LGA)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1'

fmla = 'dur ~ scale(blizz) + C(is_hol) + C(dow):C(hr) + C(p_JFK) + C(p_LGA)\
                            + C(d_JFK) + C(d_LGA)\
                            + scale(total_dist) + scale(day_max_temp) + scale(day_rainfall)\
                            + scale(day_snowfall) + scale(day_snowdepth) + scale(hr_temp) + scale(hr_humid)\
                            + scale(hr_windspeed) - 1'

n = 3

cv = KFold(n)

scores = np.zeros(n)
for i in range(n):
    X_train, X_test, y_train, y_test = train_test_split(df_copy.iloc[:, :-1], df_copy.iloc[:, -1], test_size=0.33)
    df_train = pd.concat([X_train, y_train], axis=1)
    print("trial {}".format(i+1))
    model_train = sm.OLS.from_formula(fmla, data=df_train)
    res_train = model_train.fit()
    y_pred = res_train.predict(X_test)
    y_pred[y_pred < 0] = 0
    try:
        scores[i] = mean_squared_log_error(y_test, y_pred)
        print(pd.concat([y_test, y_pred], axis=1).head(3))
    except:
        print("except")
        print(y_test[y_test<=0].shape)
        print(y_pred[y_pred<=0].shape)
        break

np.sqrt(scores)

trial 1
         dur            0
360494    93   234.939545
137496  1864  1118.006389
162319   205   279.353012
trial 2
         dur            0
352877  2173  3185.134858
33006    668   673.915253
409736   193   488.097736
trial 3
         dur            0
374645   634   636.165195
185141  1142  1172.949954
61440    211   474.414115

array([ 0.4778918 ,  0.48109985,  0.47856252])

In [83]:
from shapely.geometry

In [82]:
df_copy.iloc[61440]

is_hol                False
blizz                     0
m_d                     420
dow               Wednesday
hr                        7
L2               0.00892686
pas_cnt                   1
p_JFK                 False
p_LGA                 False
d_JFK                 False
d_LGA                 False
total_dist           1576.7
day_max_temp             69
day_min_temp             49
day_rainfall              0
day_snowfall              0
day_snowdepth             0
hr_temp                  10
hr_humid               0.36
hr_dewpt               -4.4
hr_windspeed            5.6
hr_gustspeed              0
hr_precip                 0
dur                     211
Name: 61440, dtype: object

In [24]:
np.sqrt(scores)

array([ 0.47922921,  0.47979153,  0.48086002,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [67]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold



cv = KFold(3)

scores = np.zeros(3)
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(df_copy.iloc[:, :-1], df_copy.iloc[:, -1], test_size=0.33)
    df_train = pd.concat([X_train, y_train], axis=1)
    print("trial {}".format(i+1))
    model_train = model0 = sm.OLS.from_formula('dur1 ~ C(is_hol) + C(m_d) + C(dow) + C(hr) + C(pas_cnt)\
                            + scale(total_dist) + day_max_temp + day_min_temp + day_rainfall\
                            + day_snowfall + day_snowdepth + hr_temp + hr_humid + hr_dewpt\
                            + hr_windspeed + hr_gustspeed + hr_precip - 1', data=df_train)
    res_train = model_train.fit()
    y_pred = res_train.predict(X_test)
    y_pred[y_pred < 0] = 0
    try:
        scores[i] = mean_squared_log_error(y_test, y_pred)
        print(pd.concat([y_test, y_pred], axis=1).head(3))
    except:
        print("except")
        print(y_test[y_test<=0].shape)
        print(y_pred[y_pred<=0].shape)
        break

np.sqrt(scores)

trial 1
        dur1            0
536428  1292  1054.850803
568864   645   887.577978
130365  1193   751.683572
trial 2
        dur1            0
693795   903   772.144072
46071   1265  1287.358821
496313   475   376.483320
trial 3
        dur1            0
140487   603   814.823659
5861     751   696.027557
257313   666  1014.085731

array([ 0.48776671,  0.48784165,  0.4887244 ])

### to add: dow, m_d, hr, L2, holiday, disaster
## * dow

In [21]:
s_dow = df_train['pickup_datetime'].apply(pd.to_datetime)

In [23]:
s_time = s_dow.copy()

In [30]:
s_dow = s_time.dt.weekday_name

In [32]:
df_train.insert(4, 'dow', s_dow)

In [33]:
df_train.head()

,id,vendor_id,Time,pickup_datetime,dow,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,Saturday,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,Saturday,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,Saturday,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

In [34]:
df_copy = df_train

## * m_d

In [36]:
df_copy['pickup_datetime'] = df_copy['pickup_datetime'].apply(pd.to_datetime)

In [37]:
df_copy.insert(loc=4, column='m_d', value=np.vectorize(str)(df_copy['pickup_datetime'].dt.month*100
                                                             + df_copy['pickup_datetime'].dt.day))

In [38]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * hr

In [39]:
df_copy.insert(loc=6, column='hr', value=df_copy['pickup_datetime'].dt.hour)

In [40]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,hr,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * L2

In [41]:
def dist(plng, plat, dlng, dlat):
    return ((dlng-plng)**2 + (dlat-plat)**2) ** 0.5

In [42]:
df_copy.insert(loc=7, column='L2', value=np.vectorize(dist)(\
                df_copy['pickup_longitude'], df_copy['pickup_latitude'],\
                df_copy['dropoff_longitude'], df_copy['dropoff_latitude']))

df_copy.head()

,id,vendor_id,Time,pickup_datetime,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * holiday

In [51]:
holidays = {(2016, 1, 1) : 'New Year\'s',
            (2016, 1, 18) : 'MLK',
            (2016, 2, 15) : 'Washington',
            (2016, 5, 30) : 'Memorial' }

def is_holiday(timestamp):
    return (timestamp.year, timestamp.month, timestamp.day) in holidays

t = pd.Timestamp(2016, 5, 30)

print(is_holiday(t))

True

In [53]:
s_hol = df_copy['pickup_datetime'].apply(is_holiday)
s_hol.sum()

15583

In [64]:
df_copy.insert(loc=4, column='is_hol', value=s_hol)

In [67]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,is_hol,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,...,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

## * disaster

??

In [69]:
df_copy.to_csv('../_data/train_with__all_data_no_disaster_nans_fixed.csv', index=False)

---

In [70]:
pd.options.display.max_columns = 60

In [71]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,is_hol,m_d,dow,hr,L2,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.069424,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454,East 3rd Street,Sherman Street,10010.9,861.2,17,East 3rd Street|2nd Avenue|Chrystie Street|Del...,195.7|229|437.7|102.6|12.3|488.4|2311.3|1494.7...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.057791,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409,North 7th Street,East 83rd Street,10357.0,786.3,15,North 7th Street|Roebling Street|North 10th St...,264.2|238.3|713|319.8|629.2|1747.4|1285.8|549....,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,False,430,Saturday,23,0.066698,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081,8th Avenue,East 93rd Street,9275.8,703.9,13,8th Avenue|West 36th Street|1st Avenue|1st Ave...,1457.9|1924|350.4|16.8|457.9|120.6|409.2|3653....,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.018223,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800,Gramercy Park North,West 37th Street,2726.9,298.0,6,Gramercy Park North|East 21st Street|Park Aven...,65.8|76.6|955.9|326.7|1301.8|0,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,False,430,Saturday,23,0.027198,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151,West 13th Street,Avenue A,3455.8,458.2,10,West 13th Street|Washington Street|West 14th S...,78.8|87.7|702.9|608.4|34.4|367.5|304.2|1151.6|...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

In [72]:
droppable = ['id', 'vendor_id', 'Time', 'pickup_datetime', 'dropoff_datetime',\
             'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',\
             'store_and_fwd_flag', 'starting_street', 'end_street',\
             'number_of_steps', 'street_for_each_step', 'distance_per_step', 'travel_time_per_step',\
             'step_maneuvers', 'step_direction', 'step_location_list',\
             'average temperature', 'Wind Dir', 'Events', 'Conditions']

In [73]:
for col in droppable:
    del df_copy[col]

In [74]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,passenger_count,trip_duration,total_distance,total_travel_time,maximum temperature,minimum temperature,precipitation,snow fall,snow depth,Temp.,Humidity,Dew Point,Wind Speed,Gust Speed,Precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [82]:
df_copy.to_csv('../_data/train__dropped__no_disaster.csv', index=False)

In [78]:
df_copy.columns

Index(['is_hol', 'm_d', 'dow', 'hr', 'L2', 'passenger_count', 'trip_duration',
       'total_distance', 'total_travel_time', 'maximum temperature',
       'minimum temperature', 'precipitation', 'snow fall', 'snow depth',
       'Temp.', 'Humidity', 'Dew Point', 'Wind Speed', 'Gust Speed', 'Precip'],
      dtype='object')

In [79]:
short_cols = ['is_hol', 'm_d', 'dow', 'hr', 'L2', 'pas_cnt', 'dur',
       'total_dist', 'total_time', 'day_max_temp',
       'day_min_temp', 'day_rainfall', 'day_snowfall', 'day_snowdepth',
       'hr_temp', 'hr_humid', 'hr_dewpt', 'hr_windspeed', 'hr_gustspeed', 'hr_precip']

In [80]:
df_copy.columns = short_cols

In [81]:
df_copy.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [98]:
df_copy.isnull().sum()

is_hol              0
m_d                 0
dow                 0
hr                  0
L2                  0
pas_cnt             0
dur                 0
total_dist          0
total_time          0
day_max_temp        0
day_min_temp        0
day_rainfall        0
day_snowfall        0
day_snowdepth       0
hr_temp          5293
hr_humid         5293
hr_dewpt         5293
hr_windspeed     5293
hr_gustspeed     5293
hr_precip        5293
dtype: int64

In [226]:
nans = df_copy.loc[df_copy['hr_temp'].isnull(), ['m_d', 'hr']].copy()
nans['m_d'] = nans['m_d'].apply(int)
print(nans.head())
nansarray = np.array(nans)
np.unique(nansarray, axis=0)

       m_d  hr
67827  419  11
67828  419  11
67829  419  11
67830  419  11
67831  419  11

array([[313,   4],
       [105,   0],
       [105,   1],
       [105,   2],
       [105,   3],
       [108,  10],
       [401,   8],
       [401,   9],
       [401,  10],
       [401,  11],
       [401,  12],
       [401,  13],
       [401,  14],
       [402,   8],
       [403,   0],
       [403,   1],
       [404,   0],
       [404,   2],
       [409,   6],
       [413,  22],
       [413,  23],
       [416,   0],
       [419,  11],
       [202,  23]], dtype=int64)

In [221]:
nan_pairs = np.unique(nansarray, axis=0)

nan_pairs

array([[313,   4],
       [105,   0],
       [105,   1],
       [105,   2],
       [105,   3],
       [108,  10],
       [401,   8],
       [401,   9],
       [401,  10],
       [401,  11],
       [401,  12],
       [401,  13],
       [401,  14],
       [402,   8],
       [403,   0],
       [403,   1],
       [404,   0],
       [404,   2],
       [409,   6],
       [413,  22],
       [413,  23],
       [416,   0],
       [419,  11],
       [202,  23]], dtype=int64)

In [230]:
df_copy2 = df_copy.copy()

In [215]:
def get_prev(md, hr):
    m = int(md[0])
    d = int(md[1:])
    ts = pd.Timestamp(2016, m, d, hr, 0, 0)
    ts -= pd.Timedelta(hours=1)
    m_new = ts.month
    d_new = ts.day
    hr_new = ts.hour
    md_new = str(m_new)+'{:02}'.format(d_new)
    return(md_new, hr_new)

def get_next(m_d, hr):
    m = int(m_d[0])
    d = int(m_d[1:])
    ts = pd.Timestamp(2016, m, d, hr, 0, 0)
    ts += pd.Timedelta(hours=1)
    m_new = ts.month
    d_new = ts.day
    hr_new = ts.hour
    m_d_new = str(m_new)+'{:02}'.format(d_new)
    return(m_d_new, hr_new)

get_prev('105', 0)
get_next('630', 23)

('701', 0)

In [227]:
df_copy2['hr_temp'][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].iloc[0]

6.7000000000000002

In [231]:
fill_cols = ['hr_temp', 'hr_humid', 'hr_dewpt', 'hr_windspeed', 'hr_gustspeed', 'hr_precip']

for md, hr in nan_pairs:
    print(md, hr)
    md = str(md)
    md_prev, hr_prev = md, hr
    md_next, hr_next = md, hr
    while df_copy2[col][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].isnull().sum() > 0:
        md_prev, hr_prev = get_prev(md_prev, hr_prev)
    while df_copy2[col][(df_copy2['m_d'] == md_next) & (df_copy2['hr'] == hr_next)].isnull().sum() > 0:
        md_next, hr_next = get_next(md_next, hr_next)

    for col in fill_cols:
        print(col)
        col_prev = df_copy2[col][(df_copy2['m_d'] == md_prev) & (df_copy2['hr'] == hr_prev)].iloc[0]
        col_next = df_copy2[col][(df_copy2['m_d'] == md_next) & (df_copy2['hr'] == hr_next)].iloc[0]
        col_new = np.average([col_prev, col_next])
        print(col_new)
        df_copy2.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), col] = col_new
    print()

313 4
hr_temp
11.1
hr_humid
0.59
hr_dewpt
3.3
hr_windspeed
0.0
hr_gustspeed
0.0
hr_precip
0.0

105 0
hr_temp
-9.7
hr_humid
0.515
hr_dewpt
-18.05
hr_windspeed
11.1
hr_gustspeed
33.3
hr_precip
0.0

105 1
hr_temp
-10.4
hr_humid
0.5375
hr_dewpt
-18.175
hr_windspeed
9.25
hr_gustspeed
33.3
hr_precip
0.0

105 2
hr_temp
-10.75
hr_humid
0.54875
hr_dewpt
-18.2375
hr_windspeed
8.325
hr_gustspeed
33.3
hr_precip
0.0

105 3
hr_temp
-10.925
hr_humid
0.554375
hr_dewpt
-18.26875
hr_windspeed
7.8625
hr_gustspeed
33.3
hr_precip
0.0

108 10
hr_temp
3.5
hr_humid
0.65
hr_dewpt
-2.5
hr_windspeed
0.0
hr_gustspeed
0.0
hr_precip
0.0

401 8
hr_temp
20.0
hr_humid
0.68
hr_dewpt
13.85
hr_windspeed
4.65
hr_gustspeed
0.0
hr_precip
0.0

401 9
hr_temp
21.1
hr_humid
0.645
hr_dewpt
14.125
hr_windspeed
2.325
hr_gustspeed
0.0
hr_precip
0.0

401 10
hr_temp
21.65
hr_humid
0.6275
hr_dewpt
14.2625
hr_windspeed
1.1625
hr_gustspeed
0.0
hr_precip
0.0

401 11
hr_temp
21.925
hr_humid
0.61875
hr_dewpt
14.33125
hr_windspeed
0.58125
hr_gustspeed
0.0
hr_precip
0.0

401 12
hr_temp
22.0625
hr_humid
0.614375
hr_dewpt
14.365625
hr_windspeed
0.290625
hr_gustspeed
0.0
hr_precip
0.0

401 13
hr_temp
22.13125
hr_humid
0.6121875
hr_dewpt
14.3828125
hr_windspeed
0.1453125
hr_gustspeed
0.0
hr_precip
0.0

401 14
hr_temp
22.165625
hr_humid
0.61109375
hr_dewpt
14.39140625
hr_windspeed
0.07265625
hr_gustspeed
0.0
hr_precip
0.0

402 8
hr_temp
12.2
hr_humid
0.675
hr_dewpt
6.4
hr_windspeed
4.65
hr_gustspeed
0.0
hr_precip
0.0

403 0
hr_temp
10.3
hr_humid
0.77
hr_dewpt
6.4
hr_windspeed
6.5
hr_gustspeed
15.75
hr_precip
0.0

403 1
hr_temp
10.15
hr_humid
0.785
hr_dewpt
6.55
hr_windspeed
3.25
hr_gustspeed
7.875
hr_precip
0.0

404 0
hr_temp
3.3
hr_humid
0.31
hr_dewpt
-12.5
hr_windspeed
7.4
hr_gustspeed
0.0
hr_precip
0.0

404 2
hr_temp
3.05
hr_humid
0.365
hr_dewpt
-10.8
hr_windspeed
9.25
hr_gustspeed
0.0
hr_precip
0.0

409 6
hr_temp
3.3
hr_humid
0.44
hr_dewpt
-8.05
hr_windspeed
5.6
hr_gustspeed
0.0
hr_precip
0.0

413 22
hr_temp
9.15
hr_humid
0.475
hr_dewpt
-1.65
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

413 23
hr_temp
8.725
hr_humid
0.5175
hr_dewpt
-0.825
hr_windspeed
1.4
hr_gustspeed
0.0
hr_precip
0.0

416 0
hr_temp
8.6
hr_humid
0.595
hr_dewpt
1.15
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

419 11
hr_temp
19.45
hr_humid
0.375
hr_dewpt
4.7
hr_windspeed
7.4
hr_gustspeed
13.9
hr_precip
0.0

202 23
hr_temp
6.4
hr_humid
0.545
hr_dewpt
-2.2
hr_windspeed
2.8
hr_gustspeed
0.0
hr_precip
0.0

In [263]:
df_copy2.head()

,is_hol,m_d,dow,hr,L2,pas_cnt,dur,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip
0,False,430,Saturday,23,0.069424,1,1454,10010.9,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
1,False,430,Saturday,23,0.057791,1,1409,10357.0,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
2,False,430,Saturday,23,0.066698,2,1081,9275.8,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
3,False,430,Saturday,23,0.018223,1,800,2726.9,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0
4,False,430,Saturday,23,0.027198,1,1151,3455.8,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0

In [265]:
df_copy2.to_csv('../_data/train__dropped__no_disaster_nan_fixed.csv', index=False)

In [264]:
df_copy3 = df_copy2.copy()
df_copy3.isnull().sum()

is_hol           0
m_d              0
dow              0
hr               0
L2               0
pas_cnt          0
dur              0
total_dist       0
total_time       0
day_max_temp     0
day_min_temp     0
day_rainfall     0
day_snowfall     0
day_snowdepth    0
hr_temp          0
hr_humid         0
hr_dewpt         0
hr_windspeed     0
hr_gustspeed     0
hr_precip        0
dtype: int64

In [236]:
md = '419'
hr = 11
df_copy2.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'].head()

67827    19.45
67828    19.45
67829    19.45
67830    19.45
67831    19.45
Name: hr_temp, dtype: float64

In [234]:
df_copy3.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'] = 3
df_copy3.loc[(df_copy2['m_d'] == md) & (df_copy2['hr'] == hr), 'hr_temp'].head()

67827    3.0
67828    3.0
67829    3.0
67830    3.0
67831    3.0
Name: hr_temp, dtype: float64

In [162]:
ssss[:]

67827   NaN
67828   NaN
67829   NaN
67830   NaN
67831   NaN
67832   NaN
67833   NaN
67834   NaN
67835   NaN
67836   NaN
67837   NaN
67838   NaN
67839   NaN
67840   NaN
67841   NaN
67842   NaN
67843   NaN
67844   NaN
67845   NaN
67846   NaN
67847   NaN
67848   NaN
67849   NaN
67850   NaN
67851   NaN
67852   NaN
67853   NaN
67854   NaN
67855   NaN
67856   NaN
         ..
68066   NaN
68067   NaN
68068   NaN
68069   NaN
68070   NaN
68071   NaN
68072   NaN
68073   NaN
68074   NaN
68075   NaN
68076   NaN
68077   NaN
68078   NaN
68079   NaN
68080   NaN
68081   NaN
68082   NaN
68083   NaN
68084   NaN
68085   NaN
68086   NaN
68087   NaN
68088   NaN
68089   NaN
68090   NaN
68091   NaN
68092   NaN
68093   NaN
68094   NaN
68095   NaN
Name: hr_temp, Length: 269, dtype: float64

In [ ]:
df_copy.to_csv('../_data/train__dropped__no_disaster.csv', index=False)

In [38]:
def make_hourly(timestamp):
    y = timestamp.year
    m = timestamp.month
    d = timestamp.day
    h = timestamp.hour
    return pd.Timestamp(y, m, d, h, 0, 0)

In [45]:
df_copy.insert(2, 'Time', df_copy['pickup_datetime'].apply(make_hourly))

In [44]:
del df_copy['pickup_hour']

In [46]:
df_copy.head()

,id,vendor_id,Time,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,travel_time_per_step,step_maneuvers,step_direction,step_location_list,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,...,29.4|31.7|59|13.4|5.9|64.5|179.3|105.2|211.3|9...,depart|turn|new name|turn|turn|turn|turn|new n...,right|left|straight|right|slight right|left|sl...,"-73.987841,40.724727|-73.98987,40.725582|-73.9...",65,46,55.5,0.0,0.0,0.0
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,...,43.4|39.6|48.8|20.9|43.1|104|92.1|29.2|55.7|10...,depart|turn|turn|turn|new name|turn|new name|t...,none|left|left|right|straight|right|straight|l...,"-73.957606,40.717761|-73.955186,40.716252|-73....",65,46,55.5,0.0,0.0,0.0
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,...,197.4|155.4|27.5|0.9|35.2|10.8|32.8|135.2|20.7...,depart|turn|turn|fork|fork|fork|on ramp|merge|...,left|right|left|slight left|slight left|slight...,"-74.000886,40.742003|-73.992525,40.753478|-73....",65,46,55.5,0.0,0.0,0.0
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,...,7.4|12.7|129|49.8|99.1|0,depart|turn|turn|fork|turn|arrive,none|straight|right|slight right|left|arrive,"-73.985741,40.738246|-73.986427,40.738529|-73....",65,46,55.5,0.0,0.0,0.0
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,...,10.9|13.9|89.4|85.2|5.8|45.2|38.1|150.9|18.8|0,depart|turn|turn|turn|turn|continue|new name|t...,right|right|right|right|left|straight|straight...,"-74.006656,40.740594|-74.007473,40.740938|-74....",65,46,55.5,0.0,0.0,0.0

In [47]:
df_copy.to_csv('../_data/train_with_osrm_and_weather_h.csv')

In [42]:
df_hourly.head()

,Time,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,2015-12-31 02:00:00,7.8,0.89,6.1,NNE,5.6,0.0,0.8,None,Overcast
1,2015-12-31 03:00:00,7.2,0.90,5.6,Variable,7.4,0.0,0.3,None,Overcast
2,2015-12-31 04:00:00,7.2,0.90,5.6,Calm,0.0,0.0,0.0,None,Overcast
3,2015-12-31 05:00:00,7.2,0.86,5.0,NW,7.4,0.0,0.0,None,Overcast
4,2015-12-31 06:00:00,7.2,0.90,5.6,West,5.6,0.0,0.0,None,Overcast

In [48]:
df_merged = df_copy.merge(df_hourly, how='left', on='Time')

In [64]:
df_hourly.iloc[2901]

Time          2016-04-30 23:00:00
Temp.                        10.6
Humidity                     0.56
Dew Point                     2.2
Wind Dir                      SSE
Wind Speed                     13
Gust Speed                      0
Precip                          0
Events                       None
Conditions                  Clear
Name: 2901, dtype: object

In [49]:
df_merged.head()

,id,vendor_id,Time,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,snow depth,Temp.,Humidity,Dew Point,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,id3495688,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
1,id3051282,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
2,id0082851,1,2016-04-30 23:00:00,2016-04-30 23:59:00,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
3,id0515725,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear
4,id1872374,2,2016-04-30 23:00:00,2016-04-30 23:58:00,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,...,0.0,10.6,0.56,2.2,SSE,13.0,0.0,0.0,None,Clear

### df + osrm + weather + hourly weather 저장

In [65]:
df_merged.to_csv('../_data/train_with_osrm_and_weather_hourly.csv')