In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [2]:
# 경로 변수 (고정)


trainfile = '../_data/train_03_997.csv'
old_trainfile = '../_data/train.csv'
kaggle_trainfile = '../_data/train_k.csv'

testfile = '../_data/test_clean.csv'
old_testfile = '../_data/test.csv'

train_171016 = '../_data/171016_dow_hr_pas_L2_dur_only.csv'
train_osrm = '../_data/train_with_osrm.csv'
train_osrm_weather = '../_data/train_with_osrm_and_weather.csv'
train_osrm_weather_hourly = '../_data/train_with_osrm_and_weather_hourly.csv'
train_dropped_nan_fixed = '../_data/train__dropped__no_disaster_nan_fixed.csv'
train_added_airps = '../_data/train__dropped__lnglat_saved__airports__no_disaster.csv'
train_added_airps_cleaned = '../_data/train__dropped__cleaned__airports__no_disaster.csv'
train_added_airps_disas_cleaned = '../_data/train__dropped__cleaned__eval__airports__disaster.csv'
train_added_weekhr = '../_data/train__dropped__cleaned__eval__a_d_weekhour.csv'
train_added_manh = '../_data/train__dropped__air_bliz_weekhr_manh.csv'
train_all_vars_rough = '../_data/train__all_vars__rough.csv'

train_701778_all_vars = '../_data/train__701778__all_vars.csv'
train_700806_all_vars_cooks_dropped = '../_data/train_700806_dropped_cooks.csv'
train_700789_all_vars_cooks_dropped_circle_filter = '../_data/train_700789_dropped_cooks__circle_filter.csv'
train_700789_all_vars_cdcf_kmeans = '../_data/train_kmeans_30_added.csv'
train_700419_all_vars_cdcf150kmh_km60 = '../_data/train_kmeans_60_added_cooksd_circle_150kmh.csv'

train_700419_all_vars_4d_clust120 = '../_data/train_kmeans_4D_120.csv'
train_700419_all_vars_4d_clust120_speed = '../_data/train_kmeans_4D_120_clustspeed.csv'
train_700419_all_vars_4d_clust120_speed_glob = '../_data/train_kmeans_4D_120_clustspeed_globalized.csv'

train_700419 = '../_data/train_700419_recent.csv'
train_697355 = '../_data/train_697355_rsq_0722.csv'
train_697349 = '../_data/train_697349_rsq_0723.csv'
train_697284 = '../_data/train_697284_rsq_0725.csv'
train_696688 = '../_data/train_696688_rsq_0731.csv'

test_recent = '../_data/test_backup_clean_todo_clust.csv'

trains = [train_700419, train_697355, train_697349, train_697284, train_696688]

train_latest = trains[0]

In [42]:
pd.options.display.max_columns = 50

In [6]:
df_train = pd.read_csv(train_701778_all_vars)

In [7]:
df_train.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,...,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [8]:
df_train.shape

(701778, 30)

# circle filter (`701778 -> 701760`)

In [9]:
df_copy = df_train.copy()

In [11]:
center_coords = np.array((-74.002786, 40.728319))  # NYC Washington Square Park
edge_coords = np.array((-75.431274, 39.771776))  # approx. 100 miles away

In [12]:
taxi_radius = np.linalg.norm(center_coords - edge_coords)
taxi_radius

1.7191720324019342

In [13]:
def within_radius(lng, lat):
    return np.linalg.norm(center_coords - np.array([lng, lat])) < taxi_radius

## filter pickup coordinates outside of radius

In [14]:
df_circlep = df_train.loc[np.vectorize(within_radius)(\
                            df_train['p_lng'],
                            df_train['p_lat'])].copy()
df_circlep.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,...,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [62]:
df_circlep.shape

(701764, 30)

## filter dropoff coordinates outside of radius

In [15]:
df_circle = df_circlep.loc[np.vectorize(within_radius)(\
                            df_circlep['d_lng'],
                            df_circlep['d_lat'])].copy()
df_circle.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,...,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [16]:
df_circle.shape

(701760, 30)

In [17]:
df_circle.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,...,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

## resulting extremes

In [18]:
for col in ['p_lng', 'p_lat', 'd_lng', 'd_lat']:
    print(col)
    print(" min = {}".format(np.percentile(df_circle[col], 0)))
    print(" 0.3 = {}".format(np.percentile(df_circle[col], 0.3)))
    print("99.7 = {}".format(np.percentile(df_circle[col], 99.7)))
    print(" max = {}".format(np.percentile(df_circle[col], 100)))

p_lng
 min = -75.24149323
 0.3 = -74.01612854
99.7 = -73.7767868
 max = -73.22267914
p_lat
 min = 40.22580338
 0.3 = 40.64365005
99.7 = 40.82313707649
 max = 41.69679642
d_lng
 min = -75.57015228
 0.3 = -74.03293573416
99.7 = -73.77871152351
 max = -72.67115021
d_lat
 min = 40.22579956
 0.3 = 40.63078138351
99.7 = 40.86590746649
 max = 41.69335175

# Fox criterion filter (`701760 -> 700789`)

In [73]:
df_circle.to_csv('../_data/train__701760__in_circle__all_vars.csv', index=False)

In [ ]:
center_coords = np.array((-74.002786, 40.728319))
edge_coords = np.array((-75.431274, 39.771776))

taxi_radius = np.linalg.norm(center_coords - edge_coords)
taxi_radius

taxi_radius = 1

def within_radius(lng, lat):
    return np.linalg.norm(center_coords - np.array([lng, lat])) < taxi_radius

df_circlep = df_train.loc[np.vectorize(within_radius)(\
                            df_train['p_lng'],
                            df_train['p_lat'])].copy()
df_circlep.head()

df_circlep.shape

df_circle = df_circlep.loc[np.vectorize(within_radius)(\
                            df_circlep['d_lng'],
                            df_circlep['d_lat'])].copy()
df_circle.head()

df_circle.shape

df_circle.head()

for col in ['p_lng', 'p_lat', 'd_lng', 'd_lat']:
    print(col)
    print(" min = {}".format(np.percentile(df_circle[col], 0)))
    print(" 0.3 = {}".format(np.percentile(df_circle[col], 0.3)))
    print("99.7 = {}".format(np.percentile(df_circle[col], 99.7)))
    print(" max = {}".format(np.percentile(df_circle[col], 100)))

df_circle.to_csv('../_data/train__701760__in_circle__all_vars.csv', index=False)

In [36]:
df_copy = df_circle.copy()

In [19]:
from datetime import datetime
t0 = datetime.now()
mod = sm.OLS.from_formula('dur ~ C(is_hol)\
                               + C(dow):C(hr)\
                               + scale(total_dist) - 1', data=df_copy)
res = mod.fit()
print('done')
t1 = datetime.now()

print("{} sec".format((t1 - t0).seconds))

done
35 sec

In [20]:
res.df_resid

701590.0

In [21]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    dur   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     28.73
Date:                Tue, 24 Oct 2017   Prob (F-statistic):               0.00
Time:                        19:48:11   Log-Likelihood:            -7.1833e+06
No. Observations:              701760   AIC:                         1.437e+07
Df Residuals:                  701590   BIC:                         1.437e+07
Df Model:                         169
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
C(is_hol)[False]                889.2898    103.874      8.561      0.000     685.701    1092.879
C(is_hol)[True]                 792.0794    116.101      6.822      0.000     564.525    1019.634
C(hr)[T.1]                      -99.5045    163.872     -0.607      0.544    -420.689     221.680
C(hr)[T.2]                     -119.0740    183.258     -0.650      0.516    -478.254     240.106
C(hr)[T.3]                       76.7425    202.405      0.379      0.705    -319.965     473.450
C(hr)[T.4]                      -48.1287    225.013     -0.214      0.831    -489.146     392.889
C(hr)[T.5]                     -311.0358    220.987     -1.407      0.159    -744.163     122.091
C(hr)[T.6]                     -279.4025    165.788     -1.685      0.092    -604.341      45.537
C(hr)[T.7]                      -14.9349    141.791     -0.105      0.916    -292.840     262.970
C(hr)[T.8]                      118.0594    137.802      0.857      0.392    -152.028     388.147
C(hr)[T.9]                      178.7405    139.536      1.281      0.200     -94.745     452.226
C(hr)[T.10]                     147.5742    143.369      1.029      0.303    -133.424     428.572
C(hr)[T.11]                     121.5771    142.470      0.853      0.393    -157.660     400.814
C(hr)[T.12]                     158.4870    140.402      1.129      0.259    -116.697     433.671
C(hr)[T.13]                     135.3013    140.328      0.964      0.335    -139.737     410.340
C(hr)[T.14]                     150.6518    137.766      1.094      0.274    -119.365     420.668
C(hr)[T.15]                     346.5636    139.768      2.480      0.013      72.623     620.504
C(hr)[T.16]                     191.5145    144.251      1.328      0.184     -91.212     474.241
C(hr)[T.17]                     132.5709    137.342      0.965      0.334    -136.615     401.757
C(hr)[T.18]                     128.1364    131.613      0.974      0.330    -129.821     386.094
C(hr)[T.19]                      77.6548    130.631      0.594      0.552    -178.377     333.686
C(hr)[T.20]                      40.6934    132.989      0.306      0.760    -219.960     301.347
C(hr)[T.21]                      12.0261    133.681      0.090      0.928    -249.984     274.036
C(hr)[T.22]                      31.1307    132.718      0.235      0.815    -228.991     291.253
C(hr)[T.23]                     129.7318    132.979      0.976      0.329    -130.904     390.367
C(dow)[T.Monday]:C(hr)[0]      -234.5950    182.818     -1.283      0.199    -592.913     123.723
C(dow)[T.Saturday]:C(hr)[0]       5.0863    135.615      0.038      0.970    -260.714     270.886
C(dow)[T.Sunday]:C(hr)[0]       -33.2588    136.527     -0.244      0.808    -300.847     234.330
C(dow)[T.Thursday]:C(hr)[0]    -181.2592    164.608     -1.101      0.271    -503.886     141.367
C(dow)[T.Tuesday]:C(hr)[0]      740.2762    183.287      4.039      0.000     381.040    1099.513
C(dow)[T.Wednesday]:C(hr)[0]   -215.6969    173.597     -1.243      0.214    -555.941     124.547
C(dow)[T.Monday]:C(hr)[1]      -179.8285    237.131     -0.758      0.448    -644.598     284.941
C(dow)[T.Saturday]:C(hr)[1]      57.9689    158.900      0.365      0.715    -253.470     369.408
C(dow)[T.Sunday]:C(hr)[1]       115.5930    158.035      0.731      0.465    -194.150     425.336
C(dow)[T.Thursday]:C(hr)[1]     -57.2680    209.084     -0.274      0.784    -467.066     352.530
C(dow)[T.Tuesday]:C(hr)[1]      -56.0085    235.947     -0.237      0.812    -518.458     406.441
C(dow)[T.Wednesday]:C(hr)[1]   -108.9073    221.152     -0.492      0.622    -542.357     324.543
C(dow)[T.Monday]:C(hr)[2]       -82.7556    295.673     -0.280      0.780    -662.264     496.753
C(dow)[T.Saturday]:C(hr)[2]     114.6880    184.157      0.623      0.533    -246.254     475.630
C(dow)[T.Sunday]:C(hr)[2]       136.7512    184.941      0.739      0.460    -225.728     499.230
C(dow)[T.Thursday]:C(hr)[2]    -135.1870    263.528     -0.513      0.608    -651.693     381.319
C(dow)[T.Tuesday]:C(hr)[2]       21.6823    299.687      0.072      0.942    -565.695     609.060
C(dow)[T.Wednesday]:C(hr)[2]    -14.9887    270.856     -0.055      0.956    -545.857     515.880
C(dow)[T.Monday]:C(hr)[3]      -387.4866    343.170     -1.129      0.259   -1060.089     285.115
C(dow)[T.Saturday]:C(hr)[3]    -132.1941    213.497     -0.619      0.536    -550.641     286.253
C(dow)[T.Sunday]:C(hr)[3]      -140.9828    210.461     -0.670      0.503    -553.480     271.514
C(dow)[T.Thursday]:C(hr)[3]    -455.9497    308.292     -1.479      0.139   -1060.191     148.292
C(dow)[T.Tuesday]:C(hr)[3]     -450.6324    365.567     -1.233      0.218   -1167.133     265.868
C(dow)[T.Wednesday]:C(hr)[3]   -285.1794    325.781     -0.875      0.381    -923.700     353.341
C(dow)[T.Monday]:C(hr)[4]      -122.4975    341.007     -0.359      0.719    -790.860     545.865
C(dow)[T.Saturday]:C(hr)[4]     113.6712    253.235      0.449      0.654    -382.660     610.003
C(dow)[T.Sunday]:C(hr)[4]       -82.1294    247.285     -0.332      0.740    -566.799     402.540
C(dow)[T.Thursday]:C(hr)[4]    -410.8798    333.055     -1.234      0.217   -1063.657     241.897
C(dow)[T.Tuesday]:C(hr)[4]     -401.2916    359.090     -1.118      0.264   -1105.095     302.512
C(dow)[T.Wednesday]:C(hr)[4]   -368.8487    348.935     -1.057      0.290   -1052.750     315.052
C(dow)[T.Monday]:C(hr)[5]         2.7031    291.116      0.009      0.993    -567.875     573.281
C(dow)[T.Saturday]:C(hr)[5]     -37.7024    294.208     -0.128      0.898    -614.340     538.935
C(dow)[T.Sunday]:C(hr)[5]      -102.4378    294.913     -0.347      0.728    -680.458     475.582
C(dow)[T.Thursday]:C(hr)[5]     -64.8533    285.447     -0.227      0.820    -624.320     494.614
C(dow)[T.Tuesday]:C(hr)[5]     -133.8114    290.666     -0.460      0.645    -703.506     435.884
C(dow)[T.Wednesday]:C(hr)[5]     14.9493    288.990      0.052      0.959    -551.461     581.359
C(dow)[T.Monday]:C(hr)[6]        86.0916    186.429      0.462      0.644    -279.303     451.486
C(dow)[T.Saturday]:C(hr)[6]    -181.1014    231.941     -0.781      0.435    -635.698     273.496
C(dow)[T.Sunday]:C(hr)[6]      -102.0614    246.836     -0.413      0.679    -585.853     381.730
C(dow)[T.Thursday]:C(hr)[6]      61.5462    181.988      0.338      0.735    -295.145     418.237
C(dow)[T.Tuesday]:C(hr)[6]      842.8247    183.578      4.591      0.000     483.019    1202.631
C(dow)[T.Wednesday]:C(hr)[6]     15.5819    183.423      0.085      0.932    -343.922     375.086
C(dow)[T.Monday]:C(hr)[7]       -24.6404    142.442     -0.173      0.863    -303.823     254.542
C(dow)[T.Saturday]:C(hr)[7]    -304.4067    187.268     -1.626      0.104    -671.447      62.633
C(dow)[T.Sunday]:C(hr)[7]      -292.8742    209.161     -1.400      0.161    -702.822     117.074
C(dow)[T.Thursday]:C(hr)[7]       0.9360    136.258      0.007      0.995    -266.126     267.998
C(dow)[T.Tuesday]:C(hr)[7]      -40.1481    137.692     -0.292      0.771    -310.021     229.724
C(dow)[T.Wednesday]:C(hr)[7]     20.6921    136.252      0.152      0.879    -246.357     287.741
C(dow)[T.Monday]:C(hr)[8]       -14.4936    131.793     -0.110      0.912    -272.804     243.817
C(dow)[T.Saturday]:C(hr)[8]    -329.9988    158.890     -2.077      0.038    -641.418     -18.580
C(dow)[T.Sunday]:C(hr)[8]      -437.9873    175.301     -2.498      0.012    -781.572     -94.403
C(dow)[T.Thursday]:C(hr)[8]     105.9365    127.388      0.832      0.406    -143.740     355.613
C(dow)[T.Tuesday]:C(hr)[8]        8.3221    128.467      0.065      0.948    -243.470     260.114
C(dow)[T.Wednesday]:C(hr)[8]     53.8229    126.831      0.424      0.671    -194.762     302.408
C(dow)[T.Monday]:C(hr)[9]       -26.8630    134.142     -0.200      0.841    -289.777     236.051
C(dow)[T.Saturday]:C(hr)[9]    -296.2331    142.777     -2.075      0.038    -576.071     -16.395
C(dow)[T.Sunday]:C(hr)[9]      -382.4805    155.575     -2.458      0.014    -687.403     -77.558
C(dow)[T.Thursday]:C(hr)[9]      -9.2316    132.536     -0.070      0.944    -268.999     250.535
C(dow)[T.Tuesday]:C(hr)[9]       -9.2661    132.367     -0.070      0.944    -268.702     250.169
C(dow)[T.Wednesday]:C(hr)[9]     15.9213    132.432      0.120      0.904    -243.642     275.484
C(dow)[T.Monday]:C(hr)[10]      -63.7492    144.895     -0.440      0.660    -347.740     220.241
C(dow)[T.Saturday]:C(hr)[10]   -224.4531    139.587     -1.608      0.108    -498.038      49.132
C(dow)[T.Sunday]:C(hr)[10]     -295.5005    144.963     -2.038      0.042    -579.623     -11.378
C(dow)[T.Thursday]:C(hr)[10]      6.3089    139.602      0.045      0.964    -267.306     279.923
C(dow)[T.Tuesday]:C(hr)[10]      16.8771    141.391      0.119      0.905    -260.245     293.999
C(dow)[T.Wednesday]:C(hr)[10]    19.2854    140.211      0.138      0.891    -255.524     294.095
C(dow)[T.Monday]:C(hr)[11]      -61.7667    142.958     -0.432      0.666    -341.960     218.427
C(dow)[T.Saturday]:C(hr)[11]    -94.5286    136.355     -0.693      0.488    -361.780     172.723
C(dow)[T.Sunday]:C(hr)[11]     -237.4757    138.236     -1.718      0.086    -508.413      33.461
C(dow)[T.Thursday]:C(hr)[11]    111.0938    138.470      0.802      0.422    -160.303     382.491
C(dow)[T.Tuesday]:C(hr)[11]      57.9669    140.065      0.414      0.679    -216.556     332.490
C(dow)[T.Wednesday]:C(hr)[11]    21.7569    139.962      0.155      0.876    -252.564     296.078
C(dow)[T.Monday]:C(hr)[12]      -82.5565    139.453     -0.592      0.554    -355.880     190.767
C(dow)[T.Saturday]:C(hr)[12]   -205.0130    130.523     -1.571      0.116    -460.835      50.809
C(dow)[T.Sunday]:C(hr)[12]     -167.6568    134.213     -1.249      0.212    -430.710      95.397
C(dow)[T.Thursday]:C(hr)[12]     51.9501    134.932      0.385      0.700    -212.512     316.412
C(dow)[T.Tuesday]:C(hr)[12]      61.8788    137.353      0.451      0.652    -207.328     331.085
C(dow)[T.Wednesday]:C(hr)[12]    68.1461    135.599      0.503      0.615    -197.623     333.915
C(dow)[T.Monday]:C(hr)[13]      -42.5930    140.053     -0.304      0.761    -317.092     231.906
C(dow)[T.Saturday]:C(hr)[13]    -51.8549    130.547     -0.397      0.691    -307.723     204.013
C(dow)[T.Sunday]:C(hr)[13]     -114.3536    133.664     -0.856      0.392    -376.330     147.623
C(dow)[T.Thursday]:C(hr)[13]     26.3003    135.664      0.194      0.846    -239.596     292.197
C(dow)[T.Tuesday]:C(hr)[13]       7.1438    137.241      0.052      0.958    -261.844     276.132
C(dow)[T.Wednesday]:C(hr)[13]    48.7585    136.097      0.358      0.720    -217.987     315.504
C(dow)[T.Monday]:C(hr)[14]     -108.6512    133.606     -0.813      0.416    -370.515     153.212
C(dow)[T.Saturday]:C(hr)[14]    -16.0494    128.852     -0.125      0.901    -268.595     236.496
C(dow)[T.Sunday]:C(hr)[14]     -173.6467    131.200     -1.324      0.186    -430.795      83.501
C(dow)[T.Thursday]:C(hr)[14]    100.6014    130.074      0.773      0.439    -154.340     355.543
C(dow)[T.Tuesday]:C(hr)[14]       3.8563    131.938      0.029      0.977    -254.738     262.450
C(dow)[T.Wednesday]:C(hr)[14]    33.9712    131.458      0.258      0.796    -223.683     291.625
C(dow)[T.Monday]:C(hr)[15]     -209.9429    136.652     -1.536      0.124    -477.777      57.891
C(dow)[T.Saturday]:C(hr)[15]   -304.5561    130.717     -2.330      0.020    -560.757     -48.355
C(dow)[T.Sunday]:C(hr)[15]     -291.0697    134.528     -2.164      0.030    -554.740     -27.400
C(dow)[T.Thursday]:C(hr)[15]   -122.3690    133.558     -0.916      0.360    -384.137     139.399
C(dow)[T.Tuesday]:C(hr)[15]    -129.4875    135.345     -0.957      0.339    -394.759     135.784
C(dow)[T.Wednesday]:C(hr)[15]  -112.9485    134.921     -0.837      0.403    -377.389     151.492
C(dow)[T.Monday]:C(hr)[16]      -42.6020    143.704     -0.296      0.767    -324.257     239.053
C(dow)[T.Saturday]:C(hr)[16]   -104.2284    137.893     -0.756      0.450    -374.494     166.037
C(dow)[T.Sunday]:C(hr)[16]     -228.7019    139.696     -1.637      0.102    -502.502      45.098
C(dow)[T.Thursday]:C(hr)[16]     13.0914    144.325      0.091      0.928    -269.781     295.964
C(dow)[T.Tuesday]:C(hr)[16]      89.2998    144.317      0.619      0.536    -193.556     372.156
C(dow)[T.Wednesday]:C(hr)[16]   -70.4753    143.358     -0.492      0.623    -351.452     210.502
C(dow)[T.Monday]:C(hr)[17]      -81.9699    130.411     -0.629      0.530    -337.572     173.632
C(dow)[T.Saturday]:C(hr)[17]    -39.5243    126.429     -0.313      0.755    -287.320     208.272
C(dow)[T.Sunday]:C(hr)[17]      -99.6082    129.737     -0.768      0.443    -353.889     154.672
C(dow)[T.Thursday]:C(hr)[17]     -0.8351    130.066     -0.006      0.995    -255.759     254.089
C(dow)[T.Tuesday]:C(hr)[17]     107.9263    129.863      0.831      0.406    -146.601     362.454
C(dow)[T.Wednesday]:C(hr)[17]    29.1214    129.656      0.225      0.822    -225.001     283.244
C(dow)[T.Monday]:C(hr)[18]      -55.1333    117.366     -0.470      0.639    -285.168     174.901
C(dow)[T.Saturday]:C(hr)[18]    -17.7220    116.550     -0.152      0.879    -246.157     210.713
C(dow)[T.Sunday]:C(hr)[18]      -16.5247    123.303     -0.134      0.893    -258.194     225.145
C(dow)[T.Thursday]:C(hr)[18]    -14.6025    116.168     -0.126      0.900    -242.287     213.082
C(dow)[T.Tuesday]:C(hr)[18]     -62.2232    117.157     -0.531      0.595    -291.847     167.400
C(dow)[T.Wednesday]:C(hr)[18]    38.8071    116.799      0.332      0.740    -190.115     267.729
C(dow)[T.Monday]:C(hr)[19]     -113.6517    118.326     -0.960      0.337    -345.566     118.263
C(dow)[T.Saturday]:C(hr)[19]     57.1806    114.943      0.497      0.619    -168.104     282.465
C(dow)[T.Sunday]:C(hr)[19]      -53.4883    126.511     -0.423      0.672    -301.445     194.468
C(dow)[T.Thursday]:C(hr)[19]    -27.5643    114.599     -0.241      0.810    -252.175     197.046
C(dow)[T.Tuesday]:C(hr)[19]     -61.3487    116.471     -0.527      0.598    -289.629     166.931
C(dow)[T.Wednesday]:C(hr)[19]   -98.7199    115.595     -0.854      0.393    -325.283     127.843
C(dow)[T.Monday]:C(hr)[20]     -186.3556    123.811     -1.505      0.132    -429.022      56.311
C(dow)[T.Saturday]:C(hr)[20]     17.0966    122.491      0.140      0.889    -222.982     257.176
C(dow)[T.Sunday]:C(hr)[20]        6.4802    132.548      0.049      0.961    -253.309     266.270
C(dow)[T.Thursday]:C(hr)[20]      0.7483    117.793      0.006      0.995    -230.122     231.619
C(dow)[T.Tuesday]:C(hr)[20]    -107.9891    119.696     -0.902      0.367    -342.589     126.611
C(dow)[T.Wednesday]:C(hr)[20]   -81.1779    118.730     -0.684      0.494    -313.885     151.529
C(dow)[T.Monday]:C(hr)[21]     -207.9035    126.034     -1.650      0.099    -454.927      39.120
C(dow)[T.Saturday]:C(hr)[21]     74.5548    122.750      0.607      0.544    -166.031     315.141
C(dow)[T.Sunday]:C(hr)[21]      -57.8509    135.081     -0.428      0.668    -322.605     206.903
C(dow)[T.Thursday]:C(hr)[21]    -40.8092    117.707     -0.347      0.729    -271.511     189.893
C(dow)[T.Tuesday]:C(hr)[21]    -100.8094    121.319     -0.831      0.406    -338.590     136.971
C(dow)[T.Wednesday]:C(hr)[21]  -105.8673    119.527     -0.886      0.376    -340.135     128.401
C(dow)[T.Monday]:C(hr)[22]     -187.2954    131.398     -1.425      0.154    -444.832      70.241
C(dow)[T.Saturday]:C(hr)[22]    918.4336    119.283      7.700      0.000     684.643    1152.224
C(dow)[T.Sunday]:C(hr)[22]     -122.2892    138.991     -0.880      0.379    -394.708     150.130
C(dow)[T.Thursday]:C(hr)[22]     -3.4172    118.375     -0.029      0.977    -235.428     228.593
C(dow)[T.Tuesday]:C(hr)[22]     -44.6203    123.951     -0.360      0.719    -287.560     198.319
C(dow)[T.Wednesday]:C(hr)[22]   -77.3861    121.631     -0.636      0.525    -315.779     161.007
C(dow)[T.Monday]:C(hr)[23]     -394.9831    146.590     -2.694      0.007    -682.295    -107.671
C(dow)[T.Saturday]:C(hr)[23]    -36.7521    117.297     -0.313      0.754    -266.650     193.146
C(dow)[T.Sunday]:C(hr)[23]     -251.3074    151.468     -1.659      0.097    -548.180      45.565
C(dow)[T.Thursday]:C(hr)[23]   -228.4762    123.101     -1.856      0.063    -469.750      12.797
C(dow)[T.Tuesday]:C(hr)[23]    -370.2026    135.613     -2.730      0.006    -635.999    -104.406
C(dow)[T.Wednesday]:C(hr)[23]  -229.6035    131.171     -1.750      0.080    -486.693      27.486
scale(total_dist)               546.7316      8.123     67.304      0.000     530.810     562.653
===============================================================================
Omnibus:                  3942317.665   Durbin-Watson:                    2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):   608762569354130.875
Skew:                         329.593   Prob(JB):                          0.00
Kurtosis:                  144291.180   Cond. No.                          76.1
===============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
df_dropped = pd.DataFrame(columns=df_copy.columns)
df_dropped

Empty DataFrame
Columns: [is_hol, blizz, m_d, dow, hr, wkhr, L2, pas_cnt, p_JFK, p_LGA, d_JFK, d_LGA, p_lng, p_lat, d_lng, d_lat, total_dist, total_time, day_max_temp, day_min_temp, day_rainfall, day_snowfall, day_snowdepth, hr_temp, hr_humid, hr_dewpt, hr_windspeed, hr_gustspeed, hr_precip, dur]
Index: []

[0 rows x 30 columns]

In [35]:
# dropping outliers by fox_criteria
# original author: 조성빈
def dropping_outliers1(fmla, data):
    model = sm.OLS.from_formula(fmla, data)
    result = model.fit()
    influence = result.get_influence()
    cooks_d2, pvals = influence.cooks_distance
    fox_cr = 4 / (result.df_resid -1)
    print("Fox criterion for Cook's distance:", fox_cr)
    idx = np.where(cooks_d2 > fox_cr)[0]
    df_dropped = data.loc[idx].copy()
    data = data.drop(data.index[idx])
    print("Function dropping_outliers:        " + str(len(idx)) + ' rows have been deleted')
    return data, df_dropped

In [80]:
df_copy = df_circle.copy()

In [37]:
df_copy.shape

(701760, 30)

In [38]:
t0 = datetime.now()
fmla = 'dur ~ C(is_hol) + C(dow):C(hr) + scale(total_dist) - 1'

df_copy2, df_dropped = dropping_outliers1(fmla, df_copy)

t1 = datetime.now()

print(t1 - t0)

df_copy2.head()

Fox criterion for Cook's distance: 5.70134366417e-06
Function dropping_outliers:        971 rows have been deleted
0:00:38.491344

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,...,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,...,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

## dropped rows
* high duration

In [83]:
df_dropped.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,p_lng,p_lat,d_lng,d_lat,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
55,False,0,430,Saturday,23,143,0.020996,1,False,False,False,False,-74.005669,40.745209,-73.989098,40.758102,2512.4,309.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,86073
405,False,0,430,Saturday,22,142,0.010217,2,False,False,False,False,-73.976662,40.747765,-73.967712,40.752693,1265.4,135.2,65,46,0.0,0.0,0.0,11.1,0.53,1.7,5.6,0.0,0.0,86323
991,False,0,430,Saturday,21,141,0.014269,1,False,False,False,False,-73.991150,40.750629,-73.987946,40.736725,1889.9,265.7,65,46,0.0,0.0,0.0,11.7,0.47,0.6,11.1,0.0,0.0,86356
2617,False,0,430,Saturday,16,136,0.180187,1,True,False,False,False,-73.782318,40.644741,-73.944893,40.722439,20929.1,1333.6,65,46,0.0,0.0,0.0,16.7,0.34,0.6,11.1,0.0,0.0,26722
3201,False,0,430,Saturday,14,134,0.027076,5,False,False,False,False,-73.990387,40.737202,-74.012169,40.721119,3387.8,420.1,65,46,0.0,0.0,0.0,16.7,0.38,2.2,13.0,0.0,0.0,86317

In [39]:
top_5 = df_copy2['dur'].sort_values(ascending=False).head().index

## remaining rows
* not ideal

In [43]:
df_copy2.loc[top_5]

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,p_lng,p_lat,d_lng,d_lat,total_dist,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
342274,False,0,304,Friday,18,114,0.033882,1,False,False,False,False,-73.981911,40.778702,-73.957123,40.801800,4892.3,339.9,39,30,0.11,0.4,0.0,3.9,0.45,-7.2,18.5,31.5,0.0,18439
234110,False,0,322,Tuesday,19,43,0.126448,1,False,True,False,False,-73.870949,40.773830,-73.994087,40.745090,14809.7,1017.7,56,35,0.00,0.0,0.0,12.8,0.29,-5.0,13.0,0.0,0.0,15418
609652,False,0,117,Sunday,17,161,0.012918,1,False,False,False,False,-73.982101,40.755665,-73.991684,40.764328,2370.8,226.5,42,30,0.05,0.4,0.0,-0.6,0.76,-4.4,11.1,0.0,0.0,14243
78734,False,0,417,Sunday,11,155,0.010871,1,True,False,False,False,-73.790039,40.646923,-73.793320,40.657288,2416.6,266.7,75,44,0.00,0.0,0.0,13.3,0.37,-1.1,0.0,0.0,0.0,14160
533186,False,0,201,Monday,18,18,0.046676,1,False,False,False,False,-73.972336,40.761059,-73.998100,40.722137,5602.9,687.3,59,44,0.01,0.0,2.0,11.1,0.47,0.0,5.6,0.0,0.3,13850

In [44]:
df_dropped['dur'].sort_values(ascending=False).head()

991      86356
405      86323
3201     86317
15689    86299
13157    86245
Name: dur, dtype: int64

In [45]:
df_copy2.shape

(700789, 30)

In [73]:
df_copy2.to_csv('../_data/train_700806_dropped_cooks.csv', index=False)

In [49]:
df_copy = df_copy2.copy()

In [86]:
t0 = datetime.now()
modelz = sm.OLS.from_formula(fmla, df_copy2)
resz = modelz.fit()
print('done')
t1 = datetime.now()
print(t1-t0)

done
0:00:32.735062

# average speed filter (150km/h) `700789 -> 700419`

In [50]:
df_copy.insert(17, 'avg_spd', 3.6*df_copy['total_dist'] / df_copy['dur'])
df_copy.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,p_lng,p_lat,d_lng,d_lat,total_dist,avg_spd,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,False,False,-73.987793,40.724792,-73.975616,40.656445,10010.9,24.786272,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,False,False,-73.957596,40.717770,-73.951424,40.775230,10357.0,26.462172,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,False,False,-74.000954,40.742031,-73.947708,40.782200,9275.8,30.890731,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,False,False,-73.985733,40.738258,-73.993179,40.754890,2726.9,12.271050,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,False,False,-74.006615,40.740650,-73.985619,40.723362,3455.8,10.808758,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [52]:
df_copy.loc[df_copy['avg_spd'] > 150, 'avg_spd'].shape

(370,)

In [53]:
df_copy.loc[df_copy['avg_spd'] > 150, 'avg_spd'].index

Int64Index([  2820,   9603,  12063,  12486,  15405,  16299,  19217,  21857,
             22591,  23861,
            ...
            682556, 684886, 686714, 693314, 693708, 694426, 694563, 695946,
            701288, 701544],
           dtype='int64', length=370)

In [54]:
df_bkup = df_copy.copy()

In [55]:
df_copy.drop(df_copy.loc[df_copy['avg_spd'] > 150, 'avg_spd'].index, inplace=True)

In [56]:
df_copy.head()

,is_hol,blizz,m_d,dow,hr,wkhr,L2,pas_cnt,p_JFK,p_LGA,d_JFK,d_LGA,p_lng,p_lat,d_lng,d_lat,total_dist,avg_spd,total_time,day_max_temp,day_min_temp,day_rainfall,day_snowfall,day_snowdepth,hr_temp,hr_humid,hr_dewpt,hr_windspeed,hr_gustspeed,hr_precip,dur
0,False,0,430,Saturday,23,143,0.069424,1,False,False,False,False,-73.987793,40.724792,-73.975616,40.656445,10010.9,24.786272,861.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1454
1,False,0,430,Saturday,23,143,0.057791,1,False,False,False,False,-73.957596,40.717770,-73.951424,40.775230,10357.0,26.462172,786.3,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1409
2,False,0,430,Saturday,23,143,0.066698,2,False,False,False,False,-74.000954,40.742031,-73.947708,40.782200,9275.8,30.890731,703.9,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1081
3,False,0,430,Saturday,23,143,0.018223,1,False,False,False,False,-73.985733,40.738258,-73.993179,40.754890,2726.9,12.271050,298.0,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,800
4,False,0,430,Saturday,23,143,0.027198,1,False,False,False,False,-74.006615,40.740650,-73.985619,40.723362,3455.8,10.808758,458.2,65,46,0.0,0.0,0.0,10.6,0.56,2.2,13.0,0.0,0.0,1151

In [57]:
df_copy.shape

(700419, 31)