In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [2]:
# 경로 변수 (고정)

dataLoc = '../_data/'
trainfile = 'train_03_997.csv'
old_trainfile = 'train.csv'
testfile = 'test_clean.csv'
old_testfile = 'test.csv'

In [4]:
# train_03_997.csv
# p_lng, p_lat, d_lng, d_lat, dur에 대해
# 상하위 0.3%를 삭제한 데이터
taxi_df = pd.read_csv(dataLoc + trainfile)
taxi_df['p_dt'] = pd.to_datetime(taxi_df['p_dt'])
taxi_df.head()

                 p_dt  pas      p_lng      p_lat      d_lng      d_lat   dur
0 2016-04-30 23:59:00    1 -73.987793  40.724792 -73.975616  40.656445  1454
1 2016-04-30 23:59:00    1 -73.957596  40.717770 -73.951424  40.775230  1409
2 2016-04-30 23:59:00    2 -74.000954  40.742031 -73.947708  40.782200  1081
3 2016-04-30 23:58:00    1 -73.985733  40.738258 -73.993179  40.754890   800
4 2016-04-30 23:58:00    1 -74.006615  40.740650 -73.985619  40.723362  1151

In [5]:
# test_clean.csv
test_df = pd.read_csv(dataLoc + testfile)
test_df['p_dt'] = pd.to_datetime(test_df['p_dt'])
test_df.head()

                 p_dt  pas      p_lng      p_lat      d_lng      d_lat
0 2016-06-30 23:59:00    5 -73.998291  40.722618 -73.971779  40.762470
1 2016-06-30 23:59:00    2 -73.955109  40.689564 -73.978203  40.685802
2 2016-06-30 23:59:00    1 -73.978416  40.791576 -73.973160  40.675968
3 2016-06-30 23:59:00    2 -73.873093  40.774097 -73.926704  40.856739
4 2016-06-30 23:58:00    1 -73.979416  40.755211 -74.003548  40.738224

In [41]:
# L2 norm 구하기
def dist(plng, plat, dlng, dlat):
    return ((dlng-plng)**2 + (dlat-plat)**2) ** 0.5

# test case
aaa = taxi_df.copy()
aaa['new'] = np.vectorize(dist)(\
                aaa['p_lng'], aaa['p_lat'], aaa['d_lng'], aaa['d_lat'])
aaa.head()

,p_dt,pas,p_lng,p_lat,d_lng,d_lat,dur,new
0,2016-04-30 23:59:00,1,-73.987793,40.724792,-73.975616,40.656445,1454,0.069424
1,2016-04-30 23:59:00,1,-73.957596,40.717770,-73.951424,40.775230,1409,0.057791
2,2016-04-30 23:59:00,2,-74.000954,40.742031,-73.947708,40.782200,1081,0.066698
3,2016-04-30 23:58:00,1,-73.985733,40.738258,-73.993179,40.754890,800,0.018223
4,2016-04-30 23:58:00,1,-74.006615,40.740650,-73.985619,40.723362,1151,0.027198

In [42]:
taxi_df['L2'] = np.vectorize(dist)(\
                taxi_df['p_lng'], taxi_df['p_lat'],\
                taxi_df['d_lng'], taxi_df['d_lat'])

taxi_df.head()

,p_dt,pas,p_lng,p_lat,d_lng,d_lat,dur,L2
0,2016-04-30 23:59:00,1,-73.987793,40.724792,-73.975616,40.656445,1454,0.069424
1,2016-04-30 23:59:00,1,-73.957596,40.717770,-73.951424,40.775230,1409,0.057791
2,2016-04-30 23:59:00,2,-74.000954,40.742031,-73.947708,40.782200,1081,0.066698
3,2016-04-30 23:58:00,1,-73.985733,40.738258,-73.993179,40.754890,800,0.018223
4,2016-04-30 23:58:00,1,-74.006615,40.740650,-73.985619,40.723362,1151,0.027198